<div class="row space-bottom">
    <div class="medium-12 columns">
        <h1>{{ prospect.displayName }}</h1>
    </div>
</div>


<div class="row space-bottom">
    <div class="medium-12 columns">
        <p>
            {{ prospect.address }}
        </p>
    </div>
</div>
