<div class="row image space-bottom">
    <div class="large-12 columns center-content">
        <img class="img-responsive" itemprop="image" src="{{ prospect.imageUrl || '/assets/img/defaultpic.png' }}"
             width="225" height="225"/>
    </div>
</div>

<div class="row image space-bottom">
    <div class="large-12 columns center-content">
        <a class="button small full-width" href="/claim/profile/{{ claimProfileToken }}">Claim Profile</a>
    </div>
</div>

{#{% if prospect.tags.verify.length > 0 %}#}
    {#<div class="row">#}
        {#<div class="medium-12 columns">#}
            {#<div class="panel-h">#}
                {#<div class="header">#}
                    {#Verified with#}
                {#</div>#}
                {#<div class="content">#}
                    {#<ul class="no-bullet no-space">#}
                        {#{% for tag in prospect.tags.verify %}#}
                            {#<li>#}
                                {#<i class="fa fa-check-circle green-color"></i> {{ tag.description }}#}
                            {#</li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endif %}#}


{% if servicesArr.length === 1 %}
    <div class="row">
        <div class="medium-12 columns">
            <div class="panel-h">
                <div class="header">
                    About Me
                </div>
                <div class="content">
                    <dl>
                        <dt>Services</dt>
                        <dd>{{ servicesArr[0] }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <a href="/request/{{ servicesArr[0] | lower }}#!/exclusive/{{ prospect.slug }}"
               class="button small full-width">Place Request</a>
        </div>
    </div>
{% endif %}


{% if servicesArr.length > 1 %}
    <div class="row">
        <div class="medium-12 columns">
            <div class="panel-h">
                <div class="header">
                    About Me
                </div>
                <div class="content">
                    <dl>
                        <dt>Services</dt>
                        <dd>{{ servicesArr.join(', ') }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    {#<div class="row">#}
    {#<div class="medium-12 columns">#}
    {#<a href="#" data-reveal-id="chooseService" class="button small full-width">Place Request</a>#}
    {#</div>#}
    {#</div>#}
{% endif %}

