<div class="space-top">
    <div class="row">
        <!--<div class="medium-3 columns">-->
        <!--<div class="sidenav space-bottom">-->
        <!--<ul class="no-bullet">-->
        <!--<li data-ng-repeat="item in ordersSideNav">-->
        <!--<a ui-sref="{{item.link}}"-->
        <!--class="side-nav-link"-->
        <!--aria-selected="{{item.isSelected}}"-->
        <!--data-ng-if="item.shouldRender(authentication.user);">-->
        <!--{{item.title}}-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->

        <div class="medium-9 medium-centered columns">
            <div ui-view></div>
        </div>
    </div>
</div>
