<section class="space-top" data-ng-init="initOrderPayment()">
    <div class="row">
        <div class="medium-12 columns">
            <form>
                <div class="panel-h">
                    <div class="header">
                        <a data-ui-sref="orders.odetail({id: order.id})" class="label radius info">
                            <i class="fa fa-caret-left"></i> Back</a>
                        Payment for Order #{{order.id}}
                    </div>
                    <div class="content">

                        <div class="panel-h">
                            <div class="header">
                                Order Details
                            </div>
                            <div class="content" style="padding: 0">
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <table style="width: 100%; margin: 0; border:0;">
                                            <thead>
                                            <th width="400">Description</th>
                                            <th>Amount</th>
                                            </thead>
                                            <tbody>
                                            <td>
                                                <dl>
                                                    <dt>
                                                        <span data-ng-if="order.request.displayId">
                                                            Request #{{order.request.displayId}} fulfilled by
                                                            <em>{{order.seller.displayName }}</em>
                                                        </span>
                                                        <span data-ng-if="order.subscription">
                                                            <span style="text-transform: capitalize">{{order.subscription.name}}</span> Subscription
                                                        </span>
                                                    </dt>
                                                    <dd class="muted-color" data-ng-if="order.request.details">
                                                        {{order.request.details}}
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td><strong>{{order.invoice.payableAmount | wCurrency}}</strong></td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-h">
                            <div class="header">
                                Choose Payment Method
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="medium-4 columns">
                                        <button data-ng-disabled="paymentConfirmed" type="button"
                                                data-ng-click="pay('stripe')"
                                                class="button small payment full-width">
                                            <i class="fa fa-cc-stripe"></i> Stripe (Bitcoin or Credit Card)
                                        </button>
                                    </div>
                                </div>
                                <div class="row space-top">
                                    <div class="medium-4 columns">
                                        <button data-ng-disabled="paymentConfirmed" type="button"
                                                class="button small payment full-width"
                                                data-ng-click="pay('paypal')">
                                            Paypal
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

