<section class="space-top" data-ng-init="initResultScreen()">
    <div class="row">
        <div class="medium-8 medium-centered columns">
            <div class="panel-h">
                <div class="header content-center">
                    Order placed successfully!
                </div>
                <div class="content center-content">

                    <div class="row">
                        <div class="medium-12 columns">
                            <i class="fa fa-check-circle" style="font-size:3rem;color:#1a7700"></i>
                        </div>
                    </div>
                    <div class="row space-bottom ">
                        <div class="medium-12 columns">
                            <h6>Your order has been placed successfully!</h6>
                            <h4 class="space-top space-bottom">Reference #<span data-ng-bind="order.id"></span></h4>

                            <p class="space-top">
                            <table style="width: 100%; margin: 0; border:0;">
                                <tr>
                                    <td width="220">Payment reference</td>
                                    <td>{{order.invoice.transactionDisplayId}}</td>
                                </tr>
                                <tr>
                                    <td width="220">Amount Paid</td>
                                    <td>{{order.invoice.payableAmount | wCurrency}}</td>
                                </tr>
                            </table>
                            </p>

                            <p class="space-top muted-color">
                                Thank you for using {{market.name}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="footer">
                    <div class="row">
                        <div class="medium-4 small-centered columns text-center">
                            <a ui-sref="requests.byou" class="button small right">My Requests</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

