<section data-ng-init="getOrder()">
    <div class="row">
        <div class="medium-12 columns">
            <ul class="inline-list">
                <!--<li data-ng-repeat="item in reviewsTopNav">-->
                <!--<a ui-sref="{{item.link}}" aria-selected="{{item.isSelected}}"-->
                <!--data-ng-if="item.shouldRender(authentication.user);">-->
                <!--{{item.title}}-->
                <!--</a>-->
                <!--</li>-->
            </ul>
            <hr>
        </div>
    </div>
    <div class="panel-h">
        <div class="header ellipsis">
            <a ui-sref="{{previousState}}" class="label radius info"><i class="fa fa-caret-left"></i> Back</a>
            Order #{{order.id}}
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-7 columns">
                    <div class="panel-h">
                        <div class="header">
                            Details
                        </div>
                        <div class="content" style="padding: 0">
                            <table style="width: 100%; margin: 0; border:0;">
                                <tr>
                                    <td width="110">Service</td>
                                    <td>{{request.service}}</td>
                                </tr>
                                <tr>
                                    <td>Date &amp; Time</td>
                                    <td>{{formatDate(request.dateTime)}}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{request.address}}</td>
                                </tr>
                                <tr data-ng-show="request.budget">
                                    <td>Budget</td>
                                    <td>{{request.budget | wCurrency}}</td>
                                </tr>
                                <tr data-ng-show="request.numberOfPeople">
                                    <td>Number of People</td>
                                    <td>{{request.numberOfPeople}}</td>
                                </tr>
                                <tr data-ng-show="request.details">
                                    <td>Instructions</td>
                                    <td data-ng-bind-html="request.details"></td>
                                </tr>
                                <tr data-ng-show="request.items">
                                    <td>Items</td>
                                    <td>
                                        <ul class="disc" style="margin-bottom: 0">
                                            <li data-ng-repeat="item in request.items">
                                                {{item.description}} <span data-ng-show="item.quantity > 1">x {{item.quantity}}</span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr data-ng-show="request.answers">
                                    <td>Details</td>
                                    <td>
                                        <ul class="no-bullet" style="margin-bottom: 0">
                                            <li data-ng-repeat="ans in request.answers" class="space-2-bottom">
                                                <span><em><span data-ng-bind="ans.question"></span></em></span><br>
                                                <span><span data-ng-bind="ans.answer"></span></span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="medium-5 columns">
                    <form name="updateOrder" data-ng-if="authentication.user.id == order.seller.id" data-ng-submit="updateOrder()">
                        <div class="panel-h">
                            <div class="header">
                                Order Status
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="medium-6 columns">
                                        <p class="inline right no-space"> Current Status</p>
                                    </div>
                                    <div class="medium-6 columns">
                                        <p class="inline no-space" data-ng-bind="order.status"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <button  type="button"  data-ng-hide="order.status === 'COMPLETE'"
                                         data-ng-click="updateOrderStatus()" class="button warning tiny"
                                         id="updateOrder">
                                    Update
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="panel-h" data-ng-if="authentication.user.id == order.buyer.id">
                        <div class="header">
                            Order Status
                        </div>
                        <div class="content" style="padding: 0">
                            <table style="width: 100%; margin: 0; border:0;">
                                <tr>
                                    <td width="110">Status</td>
                                    <td><u>{{order.status}}</u></td>
                                </tr>
                                <tr>
                                    <td width="110">Amount</td>
                                    <td><strong>{{order.invoice.payableAmount | wCurrency}}</strong></td>
                                </tr>
                                <tr>
                                    <td width="110">Paid ?</td>
                                    <td>{{{true:'YES', false:'NO'}[order.invoice.paid]}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="footer" data-ng-if="order.services[0].acceptedOffer.offerType=='price' && !order.invoice.paid">
                            <div class="row">
                                <div class="medium-12 columns">
                                    <a class="button tiny right" ui-sref="orders.pay({id: order.id})">Pay Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" medium-12 columns">
                    <div data-ng-include="'modules/dashboard/views/messages/messages.client.view.html'"></div>
                </div>
            </div>
        </div>
    </div>

</section>
