<section data-ng-init="sellerOrderList()">
    <div class="row">
        <div class="medium-12 columns">
            <ul class="inline-list">
                <!--<li data-ng-repeat="item in reviewsTopNav">-->
                <!--<a ui-sref="{{item.link}}" aria-selected="{{item.isSelected}}"-->
                <!--data-ng-if="item.shouldRender(authentication.user);">-->
                <!--{{item.title}}-->
                <!--</a>-->
                <!--</li>-->
            </ul>
            <hr>
        </div>
    </div>
    <div class="panel" style="padding: 0">
        <div class="row">
            <div class="medium-12 columns">
                <div class="row space-top space-bottom" data-ng-show="orders.length == 0">
                    <div class="medium-6 medium-centered columns">
                        <div class="space-top space-bottom">&nbsp;</div>
                        <h5>No orders available yet!</h5>

                        <p>To increase your visibility, you may have to do :</p>

                        <ul class="disc">
                            <li><a ui-sref="profile.trust">Verify yourself</a></li>
                            <li><a ui-sref="profile.business">Verify business address</a></li>
                            <li><a ui-sref="listings.add">List more packages</a></li>
                        </ul>

                        <div class="space-bottom">&nbsp;</div>
                    </div>
                </div>
                <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="orders.length == 0">
                    <thead>
                    <tr>
                        <th width="165"><i class="fa fa-calendar"></i> Order Id</th>
                        <th width="220"><i class="fa fa-calendar"></i> Buyer</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="order in orders">
                        <td><a ui-sref="orders.odetail({id: order.id})">#{{order.id}}</a></td>
                        <td>{{order.buyer.displayName}}</td>
                        <td>{{order.status}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row space-top" data-ng-if="orders.length < total">
        <div class="medium-4 columns">
            <button class="button tiny" data-ng-click="sellerOrderList()">More</button>
        </div>
    </div>
</section>
