    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12">
                    <h1 class="title">Feedback</h1>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <ul>
                        <li class="d-inline"><a href="index.html">Home</a></li>
                        <li class="d-inline active">Feedback</li>
                    </ul>
                </div>
            </div>
        </div>
        <img class="img-fluid breadcrumbs-after" src="images/banner/banner-after.png" alt="image">
    </div>


    <div class="main-content">

        <section class="feedback">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-8 col-md-12 col-sm-12 text-center position-relative">
                        <div class="counter">
                            <div class="title-box">
                                <h2 class="title text-dark"><span class="timer" data-to="575"
                                        data-speed="5000">575</span> Up Customer <span>Feedback</span></h2>
                                <p class="mt-4">It has roots in a piece of classical Latin literature from 45 BC, making
                                    it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                    College in Virginia.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active feedback-box">
                            <div class="row mt-5 align-items-center">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <h5 class="title text-dark"><i>There are many variations of passages of Lorem Ipsum
                                            available, but the majority have suffered alteration in some form, by
                                            injected humour, or randomised words which don't look even slightly
                                            believable.</i></h5>
                                    <div class="name mt-5 ml-5">
                                        <h4 class="sub-title">Peter Deo</h4>
                                        <p>CEO-Vizion</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <img class="img-fluid" src="images/feedback/feedback-img1.png" alt="image">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item feedback-box">
                            <div class="row mt-5 align-items-center">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <h5 class="title text-dark"><i>Variations of passages of Lorem Ipsum available, but
                                            the majority have suffered alteration in some form, by injected humour, or
                                            randomised words which don't look even slightly believable.</i></h5>
                                    <div class="name mt-5 ml-5">
                                        <h4 class="sub-title">Rose Parker</h4>
                                        <p>CEO-Vizion</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <img class="img-fluid" src="images/feedback/feedback-img2.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="feedback.html#carouselExampleFade" role="button"
                        data-slide="prev">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <a class="carousel-control-next" href="feedback.html#carouselExampleFade" role="button"
                        data-slide="next">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </section>

    </div>
