 <div id="banner" class="banner">
        <div class="banner-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <h1 class="text-uppercase">ADD CHATBOT & AI TO YOUR WEBSITE</h1>
                        <h3 class="mt-4">Free Try for 30 Days. <span>Let’s Start</span></h3>
                        <form>
                            <div class="form-row align-items-center justify-content-lg-start justify-content-center">
                                <div class="col-auto">
                                    <input type="text" class="form-control mb-2" id="inlineFormInput"
                                        placeholder="you@example.com">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="button mb-2"><i
                                            class="ion-ios-paperplane"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 text-right">
                        <img class="img-fluid banner-img" src="images/banner/banner-img.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
        <img class="img-fluid banner-after" src="images/banner/banner-after.png" alt="image">
    </div>

     <div class="main-content">

        <section class="iq-features">
            <div class="bg"><img src="images/works/work-bg.png" alt="img"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 text-center">
                        <img class="img-fluid top-img1" src="images/works/01.png" alt="image">
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="holderCircle">
                            <div class="round"></div>
                            <div class="dotCircle">
                                <span class="itemDot active itemDot1" data-tab="1">
                                    <i class="ion-ios-timer-outline"></i>
                                    <span class="forActive"></span>
                                </span>
                                <span class="itemDot itemDot2" data-tab="2">
                                    <i class="ion-ios-chatboxes-outline"></i>
                                    <span class="forActive"></span>
                                </span>
                                <span class="itemDot itemDot3" data-tab="3">
                                    <i class="ion-ios-person-outline"></i>
                                    <span class="forActive"></span>
                                </span>
                                <span class="itemDot itemDot4" data-tab="4">
                                    <i class="ion-ios-pricetags-outline"></i>
                                    <span class="forActive"></span>
                                </span>
                                <span class="itemDot itemDot5" data-tab="5">
                                    <i class="ion-ios-upload-outline"></i>
                                    <span class="forActive"></span>
                                </span>
                                <span class="itemDot itemDot6" data-tab="6">
                                    <i class="ion-ios-briefcase-outline"></i>
                                    <span class="forActive"></span>
                                </span>
                            </div>
                            <div class="contentCircle">
                                <div class="CirItem title-box active CirItem1">
                                    <h2 class="title"><span>Automate</span></h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                    <i class="ion-ios-timer-outline"></i>
                                </div>
                                <div class="CirItem title-box CirItem2">
                                    <h2 class="title"><span>Chat </span></h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                    <i class="ion-ios-chatboxes-outline"></i>
                                </div>
                                <div class="CirItem title-box CirItem3">
                                    <h2 class="title"><span>Responses</span></h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                    <i class="ion-ios-person-outline"></i>
                                </div>
                                <div class="CirItem title-box CirItem4">
                                    <h2 class="title"><span>Tags</span></h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                    <i class="ion-ios-pricetags-outline"></i>
                                </div>
                                <div class="CirItem title-box CirItem5">
                                    <h2 class="title"><span>Sharing</span></h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                    <i class="ion-ios-upload-outline"></i>
                                </div>
                                <div class="CirItem title-box CirItem6">
                                    <h2 class="title"><span>Support</span></h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                    <i class="ion-ios-briefcase-outline"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="iq-works mt-3">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-8 col-sm-12 text-center">
                        <div class="title-box">
                            <h2 class="title text-dark">Simple Platform to <span>Build & Deploy</span></h2>
                            <p class="mt-2">Contrary to popular belief, Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center works-arrow1 m-top">
                    <div class="col-lg-6 col-sm-12">
                        <div class="title-box">
                            <h2 class="title-light text-dark">Great Way to add Little Fun to Your <span>Corporate
                                    World</span></h2>
                        </div>
                        <p class="mt-4">It is a long established fact that a reader will be distracted by the readable
                            roots in a piece.</p>
                        <ul class="mt-4">
                            <li class="mt-2"><i class="fas fa-check-circle"></i>Contrary to popular belief</li>
                            <li class="mt-2"><i class="fas fa-check-circle"></i>The standard chunk of Lorem Ipsum used
                                since</li>
                            <li class="mt-2"><i class="fas fa-check-circle"></i>There are many variations of passages
                            </li>
                            <li class="mt-2"><i class="fas fa-check-circle"></i>Many desktop publishing packages</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="works-box">
                            <img class="img-fluid top-bg" src="images/works/work-bg.png" alt="image">
                            <img class="img-fluid works-img1" src="images/works/works-img1.png" alt="image">
                            <img class="img-fluid top-img1 i-size" src="images/works/01.png" alt="image">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center works-arrow2 m-top">
                    <div class="col-lg-6 col-sm-12 order-lg-2 order-1">
                        <div class="title-box">
                            <h2 class="title-light text-dark">Chatbots are Just Another Way for <span>Millennials to
                                    Chat</span></h2>
                        </div>
                        <p class="mt-4">It is a long established fact that a reader will be distracted by the readable
                            content of a page.</p>
                    </div>
                    <div class="col-lg-6 col-sm-12 order-lg-1 order-2">
                        <div class="works-box">
                            <img class="img-fluid top-bg" src="images/works/work-bg.png" alt="image">
                            <img class="img-fluid works-img1" src="images/works/works-img1.png" alt="image">
                            <img class="img-fluid top-img1 i-size" src="images/works/01.png" alt="image">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center m-top">
                    <div class="col-lg-6 col-sm-12">
                        <div class="title-box">
                            <h2 class="title-light text-dark">Positive Feelings + Reduced Friction = <span>Fun &
                                    Conversions</span></h2>
                        </div>
                        <p class="mt-4">It is a long established fact that a reader will be distracted by the readable
                            content of a page.</p>
                        <a class="button grey mt-2" href="index.html#" role="button">Read More</a>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="works-box">
                            <img class="img-fluid top-bg" src="images/works/work-bg.png" alt="image">
                            <img class="img-fluid works-img1" src="images/works/works-img1.png" alt="image">
                            <img class="img-fluid top-img1 i-size" src="images/works/01.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="iq-about mt-1">
            <div class="bg"><img src="images/works/work-bg.png" alt="img"></div>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-8 col-sm-12 text-center">
                        <div class="title-box">
                            <h2 class="title text-dark">The Best Way to know What They Want is <span>Through a
                                    Chatbot.</span></h2>
                            <p class="mt-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                roots in a piece of classical Latin literature from a Latin professor.</p>
                        </div>
                        <div class="mt-4">
                            <a href="about-us.html" class="read-more mt-5">Learn More</a>
                        </div>
                        <img class="img-fluid about-img mt-5" src="images/about/about-img.png" alt="image">
                    </div>
                </div>
            </div>
        </section>


        <section class="iq-blog mt-2">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-sm-8 text-center">
                        <div class="title-box">
                            <h2 class="title text-dark">Recent <span>Stories </span></h2>
                            <p class="mt-2">Contrary to popular belief, Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel mt-5" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true"
                    data-items="2" data-items-laptop="2" data-items-tab="1" data-items-mobile="1"
                    data-items-mobile-sm="1">
                    <div class="item">
                        <div class="blog-box">
                            <div class="row no-gutters row-eq-height">
                                <div class="col-sm-6 iq-shadow">
                                    <div class="content">
                                        <h5 class="mb-2"><a href="blog-detail.html">Established fact that a reader will
                                                be</a></h5>
                                        <ul>
                                            <li><span>By:</span> <a href="index.html#">Admin</a></li>
                                            <li>May 10, 2018</li>
                                        </ul>
                                        <p class="mt-4">Build virtual agents to automate business processes such as
                                            front desk customer engagement.</p>
                                        <ul class="iq-tag mt-4">
                                            <li><a href="index.html#">Design</a></li>
                                            <li><a href="index.html#">Style</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img class="img-fluid" src="images/blog/blog-img1.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-box">
                            <div class="row no-gutters row-eq-height">
                                <div class="col-sm-6 iq-shadow">
                                    <div class="content">
                                        <h5 class="mb-2"><a href="blog-detail.html">Established fact that a reader will
                                                be</a></h5>
                                        <ul>
                                            <li><span>By:</span> <a href="index.html#">Admin</a></li>
                                            <li>May 10, 2018</li>
                                        </ul>
                                        <p class="mt-4">Build virtual agents to automate business processes such as
                                            front desk customer engagement.</p>
                                        <ul class="iq-tag mt-4">
                                            <li><a href="index.html#">Design</a></li>
                                            <li><a href="index.html#">Style</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img class="img-fluid" src="images/blog/blog-img2.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-box">
                            <div class="row no-gutters row-eq-height">
                                <div class="col-sm-6 iq-shadow">
                                    <div class="content">
                                        <h5 class="mb-2"><a href="blog-detail.html">Established fact that a reader will
                                                be</a></h5>
                                        <ul>
                                            <li><span>By:</span> <a href="index.html#">Admin</a></li>
                                            <li>May 10, 2018</li>
                                        </ul>
                                        <p class="mt-4">Build virtual agents to automate business processes such as
                                            front desk customer engagement.</p>
                                        <ul class="iq-tag mt-4">
                                            <li><a href="index.html#">Design</a></li>
                                            <li><a href="index.html#">Style</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img class="img-fluid" src="images/blog/blog-img1.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-box">
                            <div class="row no-gutters row-eq-height">
                                <div class="col-sm-6 iq-shadow">
                                    <div class="content">
                                        <h5 class="mb-2"><a href="blog-detail.html">Established fact that a reader will
                                                be</a></h5>
                                        <ul>
                                            <li><span>By:</span> <a href="index.html#">Admin</a></li>
                                            <li>May 10, 2018</li>
                                        </ul>
                                        <p class="mt-4">Build virtual agents to automate business processes such as
                                            front desk customer engagement.</p>
                                        <ul class="iq-tag mt-4">
                                            <li><a href="index.html#">Design</a></li>
                                            <li><a href="index.html#">Style</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img class="img-fluid" src="images/blog/blog-img2.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="iq-clients">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-12 col-sm-12 text-center">
                        <div class="title-box">
                            <h3 class="title text-dark">Worldwide Our <span class="timer" data-to="6000"
                                    data-speed="5000">6000 +</span> Satisfied Client Using Chatbot</h3>
                            <p class="mt-2">Contrary to popular belief, Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel mt-4" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true"
                    data-items="5" data-items-laptop="5" data-items-tab="4" data-items-mobile="2"
                    data-items-mobile-sm="1">
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"><img class="img-fluid" src="images/clients/clients-img1.png"
                                    alt="image" data-toggle="tooltip" title="HTML"> </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"><img class="img-fluid" src="images/clients/clients-img2.png"
                                    alt="image" data-toggle="tooltip" title="Wordpress"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"><img class="img-fluid" src="images/clients/clients-img3.png"
                                    alt="image" data-toggle="tooltip" title="Shopify"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"><img class="img-fluid" src="images/clients/clients-img4.png"
                                    alt="image" data-toggle="tooltip" title="CSS"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"><img class="img-fluid" src="images/clients/clients-img5.png"
                                    alt="image" data-toggle="tooltip" title="Jquery"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"> <img class="img-fluid" src="images/clients/clients-img6.png"
                                    alt="image" data-toggle="tooltip" title="Bootstrap"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"><img class="img-fluid" src="images/clients/clients-img1.png"
                                    alt="image" data-toggle="tooltip" title="HTML"> </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"><img class="img-fluid" src="images/clients/clients-img2.png"
                                    alt="image" data-toggle="tooltip" title="Wordpress"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"><img class="img-fluid" src="images/clients/clients-img3.png"
                                    alt="image" data-toggle="tooltip" title="Shopify"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"><img class="img-fluid" src="images/clients/clients-img4.png"
                                    alt="image" data-toggle="tooltip" title="CSS"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"><img class="img-fluid" src="images/clients/clients-img5.png"
                                    alt="image" data-toggle="tooltip" title="Jquery"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="clients-box text-center">
                            <a href="index.html#"> <img class="img-fluid" src="images/clients/clients-img6.png"
                                    alt="image" data-toggle="tooltip" title="Bootstrap"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
