   <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12">
                    <h1 class="title">Login</h1>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <ul>
                        <li class="d-inline"><a href="index.html">Home</a></li>
                        <li class="d-inline active">Login</li>
                    </ul>
                </div>
            </div>
        </div>
        <img class="img-fluid breadcrumbs-after" src="images/banner/banner-after.png" alt="image">
    </div>


    <div class="main-content">

        <section class="iq-login-regi">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h2>Login</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.</p>
                        <h5 class="mt-5">You can Login With <i class="fa fa-hand-o-down" aria-hidden="true"></i></h5>
                        <ul class="iq-media mt-3">
                            <li><a href="login.html#" class="fb"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="login.html#" class="tw"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="login.html#" class="gplus"><i class="fab fa-google"></i></a></li>
                            <li><a href="login.html#" class="lkd"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 r-mt3">
                        <form>
                            <div class="form-group">
                                <label class="mb-0" for="exampleInputEmail1">Email Address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label class="mb-0" for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <a href="login.html#" class="link">Forgot Password?</a>
                                </div>
                            </div>
                            <button type="submit" class="button mt-2 mb-2 w-100">Login</button>
                            <div class="text-center">
                                <div class="small-text mt-1 link">Don't Have an Account? <a
                                        href="register.html">Register Now</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>


