 <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12">
                    <h1 class="title">Register</h1>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <ul>
                        <li class="d-inline"><a href="index.html">Home</a></li>
                        <li class="d-inline active">Register</li>
                    </ul>
                </div>
            </div>
        </div>
        <img class="img-fluid breadcrumbs-after" src="images/banner/banner-after.png" alt="image">
    </div>


    <div class="main-content">
        <div class="main-content">

            <section class="iq-login-regi">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h2>Register</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 r-mt3">
                            <form>
                                <div class="form-group">
                                    <label class="mb-0" for="exampleInputName">Name</label>
                                    <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label class="mb-0" for="exampleInputEmail">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label class="mb-0" for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label class="mb-0" for="exampleInputPassword1">Confirm Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2"
                                        placeholder="Confirm Password">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">By signing up for Databox, you
                                        agree to our <a href="register.html#">Terms of Service</a>
                                        and <a href="register.html#">Privacy Policy.</a></label>
                                </div>
                                <button type="submit" class="button mt-2 mb-2 w-100">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

