
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12">
                    <h1 class="title">Support</h1>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <ul>
                        <li class="d-inline"><a href="index.html">Home</a></li>
                        <li class="d-inline active">Support</li>
                    </ul>
                </div>
            </div>
        </div>
        <img class="img-fluid breadcrumbs-after" src="images/banner/banner-after.png" alt="image">
    </div>


    <div class="main-content">

        <section class="support">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-8 text-center">
                        <div class="title-box">
                            <h2 class="title text-dark">Welcome to <span>Chatbot Support</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-8 text-center">
                        <form class="form-inline justify-content-center mt-4">
                            <div class="form-group mb-2">
                                <input type="email" class="form-control" id="exampleFormControlInput"
                                    placeholder="Search Support">
                            </div>
                            <button type="submit" class="button mb-2">Search</button>
                        </form>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4 col-sm-12">
                        <div class="title-box mt-5">
                            <h3 class="title text-dark">Top <span>Searches</span></h3>
                            <ul class="list-group list-group-flush mt-4">
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">It is a long
                                        established fact</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">That a reader will be
                                        distracted</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">Contrary to popular
                                        belief.</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">There are many
                                        variations</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">If you are going to
                                        use a passage</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="title-box mt-5">
                            <h3 class="title text-dark">New <span>Searches</span></h3>
                            <ul class="list-group list-group-flush mt-4">
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">It is a long
                                        established fact</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">That a reader will be
                                        distracted</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">Contrary to popular
                                        belief.</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">There are many
                                        variations</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">If you are going to
                                        use a passage</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="title-box mt-5">
                            <h3 class="title text-dark"><span>Troubleshooting</span></h3>
                            <ul class="list-group list-group-flush mt-4">
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">It is a long
                                        established fact</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">That a reader will be
                                        distracted</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">Contrary to popular
                                        belief.</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">There are many
                                        variations</a></li>
                                <li class="list-group-item pt-2 pb-2 pl-0"><a href="support.html#">If you are going to
                                        use a passage</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


