{% extends "../layouts/layout-pages.server.view.html" %}

{% block content %}
    <div ui-view></div>
    {% if isHyperLocal %}
        <meta content='{{ location }}' name="_location_geo"/>
    {% endif %}
    <meta content='{{ service }}' name="_service"/>
    {% if refId %}
        <meta content='{{ refId }}' name="_refId"/>
    {% endif %}
    <div class="reveal-modal medium" data-reveal id="placeRequest" style="padding: 0;">
        <place-request type="{{ market.settings.requests.format || 'questions' }}"
                       service="{{ service }}"></place-request>
        <a class="close-reveal-modal" aria-label="Close" style="top: 0.425rem">&#215;</a>
    </div>
{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/search.min.js"></script>
{% endblock %}
