<div class="section" style="background-color: rgba(133, 198, 78, 0.9);">
    <div class="row" style="padding: 1rem">
        <div class="large-12 large-centered columns">

            <div class="row">
                <div class="large-8 large-centered columns"
                     style="text-align: center;">
                    <h4 style="font-size: 2rem;font-family: 'Dancing Script', cursive;
                    color: #ffffff; margin-bottom: 0;text-shadow: black 0.1em 0.05em 0.25em;">
                        As featured in : &nbsp;&nbsp;&nbsp;
                        <a href="http://www.techmanity.com/startlandia" target="_blank">
                            <img src="assets/img/techmanity.png"/>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" name="video-section">
    <div class="row" style="padding: 1rem 1rem 2rem">
        <div class="large-12 large-centered columns" style="text-align: center">
            <iframe id="video" width="480" height="270" frameborder="0"
                    src="//player.vimeo.com/video/101614368?title=0&byline=0&portrait=0"
                    webkitAllowFullScreen
                    mozallowfullscreen allowFullScreen></iframe>
        </div>
    </div>
</div>

<div class="section" style="background-color: rgba(133, 198, 78, 0.9);">
    <div class="row" style="padding: 1rem">
        <div class="large-12 large-centered columns">
            <div class="row">
                <div class="large-8 large-centered columns"
                     style="text-align: center;">
                    <h4 style="font-size: 2rem;font-family: 'Dancing Script', cursive;
                    color: #ffffff; margin-bottom: 0;text-shadow: black 0.1em 0.05em 0.25em;">
                        More Goodness...
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hp-section-6 section">
    <div class="row" style="padding-top: 1rem">
        <div class="medium-12 medium-centered columns">
            <div class="row" data-equalizer>
                <div class="medium-3 columns">
                    <a href="/app/search?type=item&filter=Takeout">
                        <div style="text-align: center;padding: 0.5rem 0.5rem 2rem">
                            <div style="background: #f0f0f0 url(https://s3.amazonaws.com/media.inchefs.com/item/macaronx6_1179_236_1394389280252.jpg) no-repeat center;
                            background-size: 200%; height: 16rem; width: 16rem; border-radius: 1000px; -webkit-border-radius: 1000px">
                            </div>
                            <h6 style="margin-top: 1.2rem;margin-bottom: 0">Exclusive Packages</h6>
                        </div>
                    </a>
                </div>

                <div class="medium-3 columns">
                    <a href="http://www.inchefs.com/app/item/1920">
                        <div style="text-align: center;padding: 0.5rem 0.5rem 1.4rem">
                            <div style="background: #f0f0f0 url(https://s3.amazonaws.com/media.inchefs.com/item/gift-a-meal-made-by-a-chef-specially-for-your-loved-one_1884_937_1403990820801.jpg) no-repeat center;
                            background-size: 200%; height: 16rem; width: 16rem; border-radius: 1000px; -webkit-border-radius: 1000px">
                            </div>
                            <h6 style="margin-top: 1.2rem;margin-bottom: 0">Gift a personalized dining experience to your loved one</h6>
                        </div>
                    </a>
                </div>

                <div class="medium-3 columns">
                    <a data-reveal-id="givePage">
                        <div style="text-align: center;padding: 0.5rem 0.5rem 1.4rem">
                            <div style="background: #f0f0f0 url(assets/img/charity.jpg) no-repeat center;
                            background-size: 200% auto; height: 16rem; width: 16rem; border-radius: 1000px; -webkit-border-radius: 1000px">
                            </div>
                            <h6 style="margin-top: 1.2rem"></h6>
                        </div>
                    </a>
                </div>

                <div class="medium-3 columns">
                    <a data-reveal-id="givePage">
                        <div style="text-align: center;padding: 0.5rem 0.5rem 1.4rem">
                            <img src="assets/img/noodles.jpg">
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>