<div class="section hp-section-2">

    <div class="row">
        <div class="large-5 large-centered hide-for-small columns" style="text-align: center">
            <h3 style="margin-bottom: 0;">
                <a href="https://www.facebook.com/inchefs" title="Facebook" rel="external"
                   target="_blank"
                   class="fb">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="https://pinterest.com/wanteetinc" title="Pinterest" rel="external" target="_blank"
                   class="pinterest">
                    <i class="fa fa-pinterest-square"></i>
                </a>
                <a href="https://twitter.com/inchefs" title="Twitter" rel="external" target="_blank"
                   class="twitter">
                    <i class="fa fa-twitter-square"></i>
                </a>
                <a href="https://plus.google.com/110765989921021702223" title="Google+" rel="external"
                   target="_blank" class="google">
                    <i class="fa fa-google-plus-square"></i>
                </a>
                <a href="http://inchefs.tumblr.com/" title="Tumblr" rel="external" target="_blank"
                   class="tumblr">
                    <i class="fa fa-tumblr-square"></i>
                </a>
            </h3>
        </div>
    </div>

    {% if specials.length == 4%}
        <div class="row home-data-4">
            <div class="large-12 large-centered columns">
                <div class="row">
                    <div class="large-10 large-centered columns heading">
                        <h4>
                            <i class="fa fa-ellipsis-h"></i>
                            Special Packages
                            <i class="fa fa-ellipsis-h"></i>
                        </h4>

                        {# <p>
                            <wanteet:promotions/>
                        </p> #}
                    </div>

                </div>

                <div class="row" data-equalizer>
                    {% for special in specials %}
                        <div class="large-3 medium-6 columns" data-equalizer-watch>
                            <a href="/menu/{{special.link}}">
                                <div class="content">
                                    <div class="image" style="background-image: url({{special.image}})">
                                    </div>
                                    <h5>
                                        {{ truncate(special.heading)}}
                                    </h5>

                                    <p>{% autoescape false %}{{special.subheading}}{% endautoescape %}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
    {% endif %}

    <div class="row home-data-4">
        <div class="large-12 large-centered columns">
            <div class="row">

                <div class="large-5 large-centered columns heading">
                    <h4>
                        <i class="fa fa-ellipsis-h"></i>
                        Featured providers
                        <i class="fa fa-ellipsis-h"></i>
                    </h4>

                    <p>
                        <a href="/app/search?filter=Personal-Chef&i=3">
                            Explore unique services in your area
                        </a>
                    </p>
                </div>

            </div>

            <div class="row" data-equalizer>
                {% for provider in featured %}
                    <div class="large-3 medium-6 columns" data-equalizer-watch>
                        <a href="/chef/{{provider.link}}">
                            <div class="content">
                                <div class="image" style="background-image: url({{provider.image}})">
                                </div>
                                <h5>{{provider.name}}</h5>

                                <p>{{provider.city}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="hp-section-4 section">
    <div class="row" style="background-image: url(assets/img/limes.jpg); background-repeat:no-repeat;">
        <div class="large-10 large-centered columns">
            <div class="row" style="padding-top: 1rem; padding-bottom: 1rem">
                <div class="large-4 hide-for-small columns"
                     style="text-align: center; margin-bottom: 5%; margin-top: 5%;">
                </div>

                <div class="large-8 medium-6 columns">
                    <h4 style="font-size: 2rem;font-family: 'Dancing Script', cursive;color: #000000; margin-bottom: 0;">Our happy customers</h4>

                    <div class="testimonials">

                        <div>
                            <blockquote style="color: #000000;font-size: 0.9rem; margin-bottom: 0">
                                Since we started using Wanteet we have been able to get food for the Meetup from different vendors each time, for only a little bit more money than the pizzas cost, by using the Make a request (yumQuotes) option. Being able to have variety has been a nice benefit for the members of the Meetup group. The process of getting and selecting a quote is simple and straightforward.
                                <cite style="color: #000000">
                                    Meredith, i-Gate
                                </cite>
                            </blockquote>
                        </div>

                        <div>
                            <blockquote style="color: #000000;font-size: 0.9rem; margin-bottom: 0">
                                Dario has a very unique energy about his cooking. His passion is infectious. He was so organized and thorough. It was a pleasure to watch. We loved his food and cooking. Eggplant parmigiana and Shrimp was excellent.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section hp-section-5">
    <div class="row">

        <div class="large-4 large-centered columns" style="text-align: center">
            <h4 style="font-size: 2rem;font-family: 'Dancing Script', cursive;color: #000000;
            margin-top: 0.8rem;">
                From the Blog
            </h4>
        </div>

    </div>

    <div class="row" style="max-width: 100%; padding-bottom: 1rem" data-equalizer>
        {% for post in posts %}
            <a href="{{ post.link }}">
                <div class="large-3 medium-6 columns" style="padding: 0">
                    <div style="background-image: url({{post.image}}); background-size: cover;height: 20rem">
                        <p style="padding:0.4rem;bottom: 0;
                        position: absolute;
                        margin-bottom: 0;
                        width: 100%;
                        background: rgba(0,0,0,0.6);
                        color: #ffffff;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;">{{post.title}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>