<div class="top-content section"
     style="max-width: inherit;">
    <div class="top-upper-content">
        <div class="row landing-main-bg" id="main-links">
            <div class="medium-12 columns">
                <div class="row">
                    <div class="medium-8 medium-centered columns hp-top-text">
                        <h1>
                            {{pageTop.heading}}
                            <br><small>{{pageTop.subheading}}</small>
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-10 medium-centered columns center-content ">
                        <h4>
                            {% autoescape false %}{{pageTop['box2']['footer']}}{% endautoescape %}
                        </h4>
                        <br>                               
                        <a data-ng-click="openModal('how-it-works')" class="button radius video-button"><i
                            class="fa fa-youtube-play"></i>How it Works</a>

                            <div class="row">

                            <div class="medium-10 medium-centered medium-offset-1 columns center-content ">
                            <form action='search' method='get'>

                                <div class="row collapse center-content">

                                    <div class="medium-4 columns">
                                        <input class="inline round" ng-focus="geolocate()" ng-model="currentEatry"
                                               name="location"
                                        type="text" placeholder="example: street, city, state, country" id="topLocation1">
                                    </div>
                                    <div class="medium-2 columns">  

                                     <select name='service'>                                     
                                        {% for service in services %}
                                        <option value="{{service.name|lower}}">{{service.name}}</option>
                                        {% endfor %}
                                    </select>
                                    </div>                                          
                                    <div class="medium-4 columns end">
                                         <button class="postfix" type="submit">
                                          {{pageTop['box2']['button']}}
                                         </button>                                            
                                    </div>

                                </div>
                            </form>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row hide-for-small">
                    <div class="medium-8 medium-centered columns">
                        <hr>
                        <h4 class="message">
                            {{pageTop['message']}}
                        </h4>
                    </div>
                    </div>


            </div>
        </div>
</div>
</div>

<div id="how-it-works" class="reveal-modal medium"
     data-options="close_on_background_click:true;close_on_esc:true;" data-reveal>
     <iframe id="video" width="708" height="480" frameborder="0"
            src="//player.vimeo.com/video/107673082?title=0&byline=0&portrait=0"
            webkitAllowFullScreen
            mozallowfullscreen allowFullScreen></iframe>
    <a class="close-reveal-modal" data-ng-click="closeModal('how-it-works')">&#215;</a>
</div>
