<section data-ng-init="listSearchQuery()">
    <div class="panel" style="padding: 0">

        <div class="row space-top space-bottom" data-ng-show="prospectRequests.length == 0">
            <div class="medium-6 medium-centered columns">
                <div class="space-top space-bottom">&nbsp;</div>
                <h5>You haven't made any search requests yet!</h5>

                <p>You can do one of the following:</p>

                <ul class="disc">
                    <li>Make a <a data-ui-sref="prospectFinder.search">New Prospect search request</a> to obtain a list
                        of
                        prospects
                    </li>
                    <li>Add a <a ui-sref="prospects.add">new Prospect</a></li>
                </ul>

                <div class="space-bottom">&nbsp;</div>
            </div>
        </div>

        <div class="row" data-ng-show="prospectRequests.length > 0">
            <div class="medium-12 columns">
                <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="prospectRequests.length == 0">
                    <thead>
                    <tr>
                        <th width="100">Name</th>
                        <th width="50">Query</th>
                        <th width="100">Address</th>
                        <th width="50">Type</th>
                        <th width="50">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="prospectRequest in prospectRequests">

                        <td>
                            <span class="ellipsis">{{prospectRequest.name}}</span>
                        </td>
                        <td>{{prospectRequest.query}}</td>
                        <td>{{prospectRequest.address}}</td>
                        <td>
                            <span class="label warning"
                                  data-ng-if="prospectRequest.prospectType == 'prospect-tag-buyer'">Buyer</span>
                            <span class="label info" data-ng-if="prospectRequest.prospectType == 'prospect-tag-seller'">Seller</span>
                        </td>
                        <td>
                            <span data-ng-if="prospectRequest.isComplete">
                                {{prospectRequest.totalFound}} found
                            </span>
                            <span data-ng-if="!prospectRequest.isComplete">
                                <span class="label warning">In Progress ...</span>
                            </span>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
