<section data-ng-init="getEmailCampaign()">

    <form name="addEmailCampaignForm" data-ng-submit="createOrUpdateEmailCampaign()">
        <div class="panel-h">
            <div class="header">
                Start New Campaign
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="receiver" class="right inline">Receiver</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="receiver"
                                       data-ng-model="emailCampaign.receiver"
                                       data-ng-required="emailCampaign.sendTo == 'CUSTOM'"
                                       placeholder="Enter email address of receiver"
                                       data-ng-change="emailCampaign.sendTo = 'CUSTOM'">

                                <small data-ng-show="error['receiver']" class="error">
                                    <span data-ng-bind="error['receiver']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="receipentName" class="right inline">Receiver Name</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="receipentName"
                                       data-ng-model="emailCampaign.receipentName"
                                       data-ng-required="emailCampaign.sendTo == 'CUSTOM'"
                                       placeholder="Enter Display Name of Receiver">

                                <small data-ng-show="error['receiver']" class="error">
                                    <span data-ng-bind="error['receiver']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="sendTo" class="right inline">Target Audience</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="sendTo" data-ng-model="emailCampaign.sendTo"
                                        data-ng-required="!emailCampaign.receiver">
                                    <option value="">- Choose -</option>
                                    <option data-ng-repeat="sendTo in sendToList" value="{{sendTo.name}}">
                                        {{sendTo.desc}}
                                    </option>
                                </select>
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="isDeferred" class="right inline">Deferred Execution?</label>
                            </div>
                            <div class="medium-9 columns">
                                <label for="isDeferred" class="inline">
                                    <input type="checkbox" id="isDeferred"
                                           data-ng-model="emailCampaign.isDeferred"
                                           data-ng-class="{error: error['needTheme']}">
                                    <span data-ng-if="!emailCampaign.isDeferred">Run this campaign on a later date</span>
                                    <span data-ng-if="emailCampaign.isDeferred">Setup the deferred date and time below</span>
                                </label>
                                <input class="inline" data-ng-show="emailCampaign.isDeferred"
                                       type="text"
                                       data-ng-model="dateAndTime"
                                       id="dateAndTime" name="dateAndTime"
                                       placeholder="e.g. 12/31/2099 07:00 PM"
                                       data-ng-class="{error: error['deferredDateTime']}"
                                       data-ng-required="emailCampaign.isDeferred"
                                       data-datetime-bind>
                                <small data-ng-show="error['needTheme']" class="error">
                                    <span data-ng-bind="error['needTheme']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="needTheme" class="right inline">Apply Email Theme?</label>
                            </div>
                            <div class="medium-9 columns">
                                <label for="needTheme" class="inline">
                                    <input type="checkbox" id="needTheme"
                                           data-ng-model="emailCampaign.options.needTheme"
                                           data-ng-class="{error: error['needTheme']}">
                                    Apply current Email Theme to this email
                                </label>
                                <small data-ng-show="error['needTheme']" class="error">
                                    <span data-ng-bind="error['needTheme']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <hr>

                        <div class="row space-bottom">
                            <div class="medium-12 columns">
                                <ul class="accordion" style="margin:0">
                                    <li class="accordion-navigation">
                                        <a data-ng-custom-accordion data-accordion-content="helpContent"
                                           class="button small"><i class="fa fa-info-circle"></i> Help</a>

                                        <div id="helpContent" class="content">
                                            <ul class="no-bullet">
                                                <li>
                                                    <h5 style="text-decoration: underline">Using available variables in
                                                        the email</h5>

                                                    <p>
                                                        To use system provided variables, enter it as this expression
                                                        anywhere in your email content or subject:
                                                        <br><br>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>${variable}</code>
                                                        <br><br>
                                                        <b>Note:</b> Both <code>$</code> and <code>{}</code> are
                                                        required, without these the system will not process variable.
                                                        Only system provided variables will be processed.
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 style="text-decoration: underline">List of available
                                                        variables</h5>

                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <th>Variable Expression</th>
                                                            <th>Value</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td><code>${user.displayName}</code></td>
                                                            <td>Recipient's display name</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="subject" class="right inline">Email subject</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="subject" required placeholder="Enter Email Subject"
                                       data-ng-model="emailCampaign.subject"
                                       data-ng-class="{error: error['subject']}">
                                <small data-ng-show="error['subject']" class="error">
                                    <span data-ng-bind="error['subject']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-5 columns hide-for-small-down">
                                <label for="codeEditor" class="inline">Email body content/code :</label>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-12 columns">
                                <textarea id="codeEditor"
                                          data-ng-model="emailCampaign.content"
                                          data-ng-class="{error: error['content']}">
                                </textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row" data-ng-hide="emailTheme.id">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !addEmailCampaignForm.$valid">
                            Edit Campaign
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
