<section data-ng-init="getLeads()">
    <div class="panel" style="padding: 0">
        <div class="row" data-ng-show="leads.length > 0">
            <div class="medium-12 columns">
                <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="leads.length == 0">
                    <thead>
                    <tr>
                        <th width="250">Name</th>
                        <th>Email</th>
			<th>Designation</th>
			<th>No. of Employees</th>
            <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="lead in leads">

                        <td>
                             {{lead.firstName}} {{lead.lastName}}
                        </td>
                        <td>{{lead.email}}</td>
			<td>{{lead.designation}}</td>
			<td>{{lead.employeesNumber}}</td>
			<td><a ng-click="deleteLead('{{lead.email}}')" class="button tiny">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
