<section data-ng-init="getEmailCampaigns()">
    <div class="panel" style="padding: 0">

        <div class="row space-top space-bottom" data-ng-show="emailCampaigns.length == 0">
            <div class="medium-6 medium-centered columns">
                <div class="space-top space-bottom">&nbsp;</div>
                <h5>Start a Email Campaign!</h5>

                <ul class="disc">
                    <li>Choose type of users to target</li>
                    <li>Your own promotional email design</li>
                    <li>Choose whether to run on a deferred period</li>

                </ul>

                <a ui-sref="emailer.add" class="button tiny">Start Email Campaign</a>

                <div class="space-bottom">&nbsp;</div>
            </div>
        </div>

        <div class="row" data-ng-show="emailCampaigns.length > 0">
            <div class="medium-12 columns">
                <table role="grid" style="width: 100%;border: 0; margin: 0">
                    <thead>
                    <tr>
                        <th width="250">Email Campaigns</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="emailCampaign in emailCampaigns">

                        <td>
                            <a ui-sref="emailer.editOrView({emailCampaignId: emailCampaign.id})">
                                <span class="ellipsis">{{emailCampaign.subject}}</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
