<section data-ng-init="checkSFAuth()">

        <div class="panel-h">
            <div class="header">
                Sync customers and conversations with Salesforce CRM 
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="footer">
                <div class="row" >
                    <div class="medium-12 columns" align="center">
                       <div class="medium-5 columns" align="center">
		        <form ng-submit="doSFAuth()">
                        <button class="button small ">
                            Salesforce Auth 
                        </button>
                        </form>
  		     </div>
   		    <div class="medium-5 columns" align="center">
			<form ng-submit="syncLeadsSF()"  name="SyncLeadsForm">
                        <button type="submit" ng-disabled="isDisabledSFSync" class="button small ">
                           {{syncButtonTitle}}                        </button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-h">
            <div class="header">
                 Run a campaign on Salesforce CRM 
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="footer">
                <div class="row" >
                    <div class="medium-12 columns" align="center">
                        <form name="RunCampaignsForm" data-ng-submit="runSFCampaign()">
                        <button type="submit" class="button small">
                            Run campaign on Salesforce 
                        </button>
                        </form>
                    </div>
                </div>
            </div>
       </div>
</section>
