<section data-ng-init="checkZohoAuth()">

        <div class="panel-h">
            <div class="header">
                Sync customers and conversations with Zoho CRM 
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="footer">
                <div class="row" >
                    <div class="medium-12 columns" align="center">
                       <div class="medium-5 columns" align="center">
		        <form ng-submit="doZohoAuth()">
                        <button class="button small ">
                            Zoho Auth 
                        </button>
                        </form>
  		     </div>
   		    <div class="medium-5 columns" align="center">
			<form ng-submit="syncLeadsZoho()"  name="SyncLeadsForm">
                        <button type="submit" ng-disabled="isDisabledZohoSync" class="button small ">
                           {{syncButtonTitle}}                        </button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-h">
            <div class="header">
                 Run a campaign on Zoho CRM 
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="footer">
                <div class="row" >
                    <div class="medium-12 columns" align="center">
                        <form name="RunCampaignsForm" data-ng-submit="runZohoCampaign()">
                        <button type="submit" class="button small">
                            Run campaign on Zoho 
                        </button>
                        </form>
                    </div>
                </div>
            </div>
       </div>
</section>
