<section data-ng-init="faqList({refresh: true})">
    <div class="panel" style="padding: 0">
        #FAQs {{faqs}} {{faqs.length}}
        <div class="row space-top space-bottom" data-ng-show="faqs.length == 0">
            <div class="medium-6 medium-centered columns">
                <div class="space-top space-bottom">&nbsp;</div>
                <h5>You don't have any faqs yet!</h5>
                <div class="space-bottom">&nbsp;</div>
            </div>
        </div>

        #FAQs {{faqs}} {{faqs.length}}
        <div class="row" data-ng-show="faqs.length > 0">
            <div class="medium-12 columns">
                <form name="searchQueryForm" data-ng-submit="faqList({refresh: true})">
                    <input type="text" data-ng-model="queryText.text" placeholder="keywords to search faqs"
                           data-ng-blur="faqList({refresh: true})"/>
                </form>
                <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="faqs.length == 0">
                    <thead>
                    <tr>
                        <th width="100">Question</th>
                        <th width="100">Answer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="faq in faqs">

                        <td>
                            <a ui-sref="faqs.editOrView({id: faq.slug})">
                                <span class="ellipsis">{{faq.question}}</span>
                            </a>
                        </td>
                        <td>
                                <span class="ellipsis">{{faq.answer}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
