<section data-ng-init="getFaq()">

    <form name="addFaqForm" data-ng-submit="createOrUpdateFaq()">
        <div class="panel-h">
            <div class="header">
                Edit Question
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="question" class="right inline">Question</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" placeholder="Enter Question"
                                       data-ng-model="faq.question"
                                       data-ng-class="{error: error['question']}"
                                       required>
                                <small data-ng-show="error['question']" class="error">
                                    <span data-ng-bind="error['question']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Enter a one-two sentence Question 
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="answer" class="right inline">Answer</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="answer" placeholder="answer"
                                       data-ng-model="faq.answer"
                                       data-ng-class="{error: error['answer']}" >
                                <small data-ng-show="error['answer']" class="error">
                                    <span data-ng-bind="error['answer']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Enter an answer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !addFaqForm.$valid">
                            Save FAQ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
