{% extends "../layouts/layout-pages.server.view.html" %}

{% block content %}

    <div class="row space-top" style="max-width: 90%">

        <div class="medium-8 columns">
            <div class="panel-h">
                <div class="header ellipsis">
                    {{ requestObj.displayId }} - Need {{ requestObj.service }}
                    on {{ requestObj.dateTime | date('m/d/Y H:i A') }}
                    at {{ requestObj.address }}
                </div>
                <div class="content">
                    <div class="row">
                        <div class="medium-7 columns">
                            <div class="panel-h">
                                <div class="header">
                                    Details
                                </div>
                                <div class="content" style="padding: 0">
                                    <table style="width: 100%; margin: 0; border:0;">
                                        <tr>
                                            <td width="110">Service</td>
                                            <td>{{ requestObj.service }}</td>
                                        </tr>
                                        <tr>
                                            <td>Date &amp; Time</td>
                                            <td>{{ requestObj.dateTime | date('m/d/Y H:i A') }}</td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>{{ requestObj.address }}</td>
                                        </tr>
                                        {% if requestObj.budget %}
                                            <tr>
                                                <td>Budget</td>
                                                <td>{{ requestObj.budget | usd }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if requestObj.details %}
                                            <tr>
                                                <td>Instructions</td>
                                                <td>{% autoescape %} {{ requestObj.details }} {% endautoescape %}</td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>

                            {% if requestObj.answers %}
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <div class="panel-h">
                                            <div class="header">Requirements</div>
                                            <div class="content">
                                                <ul class="no-bullet" style="margin-bottom: 0">
                                                    {% for ans in requestObj.answers %}
                                                        <li class="space-2-bottom">
                                                        <span>
                                                            <em>
                                                                <span>{{ ans.question }}</span>
                                                            </em><br>
                                                        </span>
                                                        <span>
                                                            <span>{{ ans.answer }}</span>
                                                        </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="medium-5 columns text-center">
                            <a data-login-reveal ui-sref="signin" class="button medium">Make an Offer Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="medium-3 columns">
            <div class="sidenav space-bottom">

                <div class="row space-2-bottom">
                    <div class="medium-12 columns">
                        <a href="http://www.codoods.com">
                            <div class="panel center-content"
                                 style="background: url(https://res.cloudinary.com/wanteet-pages/image/upload/v1431130457/codoods.com/codoods-doodle.jpg)">
                                <img src="https://res.cloudinary.com/wanteet-pages/image/upload/v1431128240/codoods.com/hlhmja0zdgfivo4omtt0.png">

                                Outsource your QA, User Testing, Code Review
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row space-2-bottom">
                    <div class="medium-12 columns">
                        <a href="http://www.yumquotes.com">
                            <div class="panel center-content"
                                 style="background: url(https://res.cloudinary.com/wanteet-pages/image/upload/c_scale,w_400/v1426860216/i4rizbo40sebfyzntxbn.jpg)">
                                <img src="https://res.cloudinary.com/wanteet-pages/image/upload/c_scale,w_220/v1431533417/yumquotes_f6uu15.png"/>

                                <div style="color: #ffffff">Get custom quotes from the comfort of your home!
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row space-2-bottom">
                    <div class="medium-12 columns">
                        <a href="http://www.inchefs.com">
                            <div class="panel center-content"
                                 style="background: url(https://res.cloudinary.com/wanteet-pages/image/upload/c_scale,w_400/v1426860216/j0yeedsa644hoocw0l3n.jpg)">
                                <img src="https://res.cloudinary.com/wanteet-pages/image/upload/v1431513502/inchefs-logo_uweeji.png"/>

                                <div style="color: #ffffff">Food made perfect by local chefs at inChefs</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row space-2-bottom">
                    <div class="medium-12 columns">
                        <a href="http://www.wanteet.com/around-me">
                            <div class="panel center-content">
                                <img src="https://res.cloudinary.com/wanteet-pages/image/upload/v1431635677/help-nearby_bkzndq.png"/>
                                Find a person nearby who can help you
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

    {% block files %}
        <script type="text/javascript" src="assets/js/yumquotes.min.js"></script>
    {% endblock %}
