<div style="display:none" id="feedbackForm">
    <ul class="accordion">
        <li class="accordion-navigation">
            <a data-ng-click="toggleFeedbackForm()">Chat <i class="fa fa-comment" style="color:#f0563a"></i> </a>
		<div id="feedback" class="content">
		</div>
        </li>
    </ul>
</div>
