<!-- Footer -->
<footer>
    <div id="fb-root"></div>

    <div class="large-12 columns footer-container" style="background-color: #fcfcfc">
        <hr style="margin: 0 0 0.2rem 0">

        <div class="row">
            <div class="medium-3 columns hide-for-small-only">
                <h5>COMPANY</h5>
                <ul class="no-bullet">
                    <li>
                        <a href="/about-us" target="_blank">
                            <h4 class="subheader"><small>
                                <i class="fa fa-users"></i> ABOUT US</small></h4>
                        </a>
                    </li>

                    <li>
                        <a href="/terms-of-service" target="_blank">
                            <h4 class="subheader"><small>
                                <i class="fi-laptop"></i> TERMS OF SERVICE</small></h4>
                        </a>
                    </li>

                    <li>
                        <a href="/privacy-policy" target="_blank">
                            <h4 class="subheader"><small>
                                <i class="fi-lock"></i> PRIVACY POLICY</small></h4>
                        </a>
                    </li>
                    <li>
                        <a href="/gdpr" target="_blank">
                            <h4 class="subheader"><small>
                                <i class="fi-lock"></i> GDPR</small></h4>
                        </a>
                    </li>

                    {# %{--<li>--}%
                    %{--<a href="/info/mission" target="_blank">--}%
                    %{--<h4 class="subheader"><small><i--}%
                    %{--class="fi-eye"></i> Mission</small></h4>--}%
                    %{--</a>--}%
                    %{--</li>--}% #}

                    {#<li>#}
                    {#<a data-reveal-id="givePage">#}
                    {#<h4 class="subheader"><small><i#}
                    {#class="fa fa-hand-o-up"></i> Giving</small></h4>#}
                    {#</a>#}
                    {#</li>#}

                </ul>
            </div>
            <div class="medium-3 columns hide-for-small-only">
                <h5>CASE STUDIES</h5>
                <ul class="no-bullet">
                    <li>
                        <a href="/about-us" target="_blank">
                            <h4 class="subheader"><small>
                                <i class="fa fa-users"></i> FAQ BOT</small></h4>
                        </a>
                    </li>

                    <li>
                        <a href="/terms-of-service" target="_blank">
                            <h4 class="subheader"><small>
                                <i class="fi-laptop"></i> SALES BOT</small></h4>
                        </a>
                    </li>
                    <li>
                        <a href="/terms-of-service" target="_blank">
                            <h4 class="subheader"><small>
                                <i class="fi-laptop"></i> SERVICE BOT</small></h4>
                        </a>
                    </li>
                 </ul>
            </div>

            <div class="medium-3 columns hide-for-small-only">
                <h5>Mobile</h5>
                <ul class="no-bullet">

                    {# %{--<li>--}%
                    %{--<a href="mailto:info@wanteet.com" target="_blank">--}%
                    %{--<h4 class="subheader"><small><i--}%
                    %{--class="fi-mail"></i> info@wanteet.com</small></h4>--}%
                    %{--</a>--}%
                    %{--</li>--}%#}
                    <li>
                        <a href="http://play.google.com/store/apps/details?id=com.wanteet.inchefs" target="_blank">
                            <img src="assets/img/android-app.png"/>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="large-3 columns" style="text-align: center">
                <h3 class="subheader" style="margin-bottom: 0;">
                    <a href="https://www.facebook.com/inchefs" title="Facebook" rel="external"
                       target="_blank"
                       class="fb">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="https://pinterest.com/wanteetinc" title="Pinterest" rel="external" target="_blank"
                       class="pinterest">
                        <i class="fa fa-pinterest-square"></i>
                    </a>
                    <a href="https://twitter.com/inchefs" title="Twitter" rel="external" target="_blank"
                       class="twitter">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                    <a href="https://plus.google.com/110765989921021702223" title="Google+" rel="external"
                       target="_blank" class="google">
                        <i class="fa fa-google-plus-square"></i>
                    </a>
                    <a href="http://inchefs.tumblr.com/" title="Tumblr" rel="external" target="_blank"
                       class="tumblr">
                        <i class="fa fa-tumblr-square"></i>
                    </a>
                </h3>
                <h5 class="subheader"
                    style="margin-top: -1rem; margin-bottom: 0">
                    <small>Powered By Wanteet Inc</small>
                </h5>
            </div>
        </div>
    </div>
</footer>
