<!-- Footer -->
<footer>
    <div id="fb-root"></div>

    <div class="medium-12 columns hide-for-small-only footer-container" style="background-color: #fcfcfc">
        <!--hr style="margin: 0 0 0.2rem 0"-->
        <br>
        <br>
        <div class="row">
            <div class="medium-3 columns hide-for-small-only">
             &nbsp;&nbsp; 
            </div>
            <div class="medium-3 columns hide-for-small-only">
                <h5 style="color:#f0563a !important; font-weight:bold;" >Company</h5>
                <ul class="no-bullet">
                    <li>
                        <a href="/terms-of-service" target="_blank">
                            <h4 class="subheader"><small>
                                <i class="fi-laptop"></i> Terms Of Service</small></h4>
                        </a>
                    </li>

                    <li>
                        <a href="/privacy-policy" target="_blank">
                            <h4 class="subheader"><small>
                                <i class="fi-lock"></i> Privacy Policy</small></h4>
                        </a>
                    </li>
                    <li>
                        <a href="/gdpr" target="_blank">
                            <h4 class="subheader"><small>
                                <i class="fi-lock"></i> GDPR</small></h4>
                        </a>
                    </li>

                    {# %{--<li>--}%
                    %{--<a href="/info/mission" target="_blank">--}%
                    %{--<h4 class="subheader"><small><i--}%
                    %{--class="fi-eye"></i> Mission</small></h4>--}%
                    %{--</a>--}%
                    %{--</li>--}% #}

                    {#<li>#}
                    {#<a data-reveal-id="givePage">#}
                    {#<h4 class="subheader"><small><i#}
                    {#class="fa fa-hand-o-up"></i> Giving</small></h4>#}
                    {#</a>#}
                    {#</li>#}

                </ul>
            </div>

            <div class="medium-3 columns hide-for-small-only">
                <h5 style="color:#f0563a !important; font-weight:bold;" >Contact</h5>
                    <a href="mailto:info@wanteet.com" target="_blank">info@wanteet.com</a>
                        <!--a href="http://play.google.com/store/apps/details?id=com.wanteet.inchefs" target="_blank">
                            <img src="assets/img/android-app.png"/>
                        </a-->
            </div>

            <div class="medium-3 columns hide-for-small-only" style="text-align: center">
                <h5 style="color:#f0563a !important; font-weight:bold;" >Follow Us!</h5>
                <h3 class="subheader" style="margin-bottom: 0;">
                    <a href="https://www.facebook.com/inchefs" title="Facebook" rel="external"
                       target="_blank"
                       class="fb">
                        <i class="fa fa-facebook-square"></i>
                    </a>&nbsp;
                    <a href="https://twitter.com/inchefs" title="Twitter" rel="external" target="_blank"
                       class="twitter">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                </h3>
                <br>
                <br>
                <h5
                    style="font-weight: bold;color: #f0563a !important;">
                    Powered By
                </h5>
                <h4 class="subheader"><small>
                    Wanteet Inc<<small></h4>
            </div>
        </div>
    </div>
</footer>
