<div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area" style="z-index: 10;">
            <!-- Title Area -->
            <li class="name">
                <a href="/">
                    <h1>
                        {% if market.settings.logo %}
                            <img class="logo-flat" src="{{ market.settings.logo }}" alt="{{ market.name }}"/>
                        {% elseif market.slug == 'wanteet' %}
                            <img class="logo-flat" src="assets/img/wanteet-top-v3.png" alt="wanteet"/>
                        {% else %}
                            <span class="logo-text">{{ market.name }}</span>
                        {% endif %}
                    </h1>
                </a>
            </li>

            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Navigation -->

            <ul class="right top-bar-bottom" data-ng-hide="authentication.user">
                <li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </li>
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i> HOME
                    </a>
                </li>
                <li>
                    <a href="/help">
                        <i class="fa fa-question-circle"></i> HELP
                    </a>
                </li>
                <li>
                    <a data-signup-reveal ui-sref="signup">SIGN UP</a>
                </li>
                <li>
                    <a data-login-reveal ui-sref="signin">LOG IN</a>
                </li>
            </ul>

            <ul class="right" data-ng-show="authentication.user">
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i> HOME
                    </a>
                </li>
                <li>
                    <a href="/help">
                        <i class="fa fa-question-circle"></i> HELP
                    </a>
                </li>
                <li class="has-dropdown">
                    <a href="/dashboard">
                        <span data-ng-bind="authentication.user.displayName"></span>
                    </a>
                    <ul class="dropdown">
                        <li><a href="/dashboard#!/requests">Dashboard</a></li>
                        <li><a href="/dashboard#!/profile">Edit Profile</a></li>
                        <li><a href="/dashboard#!/account">Account</a></li>
                        <li><a data-logout-reveal >Sign Out</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/help">
                        HELP
                    </a>
                </li>
            </ul>
            <!-- End Navigation -->
        </section>
    </nav>
</div>
