<div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area" style="z-index: 10;">
            <!-- Title Area -->
            <li class="name">
                <a href="/">
                    <h1>
                        {% if market.settings.logo %}
                            <img class="logo-flat" src="{{ market.settings.logo }}" alt="{{ market.name }}"/>
                        {% elseif market.slug == 'wanteet' %}
                            <img class="logo-flat" src="assets/img/wanteet-top-v3.png" alt="wanteet"/>
                        {% else %}
                            <span class="logo-text">{{ market.name || market.slug || 'Wanteet' }}</span>
                        {% endif %}
                    </h1>
                </a>
            </li>

            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right top-bar-bottom">
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i> HOME
                    </a>
                </li>
                <li>
                    <a href="/help">
                        <i class="fa fa-question-circle"></i> HELP
                    </a>
                </li>
            </ul>
        </section>
    </nav>
</div>
