<section data-ng-init="getMarkets()">
    <div class="panel" style="padding: 0">

        <div class="row space-top space-bottom" data-ng-show="markets.length == 0">
            <div class="medium-6 medium-centered columns">
                <div class="space-top space-bottom">&nbsp;</div>
                <h5>Nothing to display!</h5>

                <p>Adding markets shall help in:</p>

                <ul class="disc">
                    <li>_________________________________</li>
                    <li>_________________________________</li>
                    <li>_________________________________</li>
                </ul>

                <a ui-sref="markets.add" class="button tiny">Create new Market</a>

                <div class="space-bottom">&nbsp;</div>
            </div>
        </div>

        <div class="row" data-ng-show="markets.length > 0">
            <div class="medium-12 columns">
                <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="markets.length == 0">
                    <thead>
                    <tr>
                        <th width="250">Name</th>
                        <th width="100">Type</th>
                        <th>Number of Items</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="listing in markets">

                        <td>
                            <a ui-sref="markets.editOrView({marketId: market.id})">
                                <span class="ellipsis">{{market.name}}</span>
                            </a>
                        </td>
                        <td>{{listing.service}}</td>
                        <td>{{listing.items.length}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
