{% extends "../layouts/layout-pages.server.view.html" %}

{% block content %}
<div itemscope itemtype="http://schema.org/Item/Package" style="margin-top: 0"
     data-ng-controller="PublicListingController"
     data-ng-init="initScreen({{ pkg.price }},'{{ pkg.service }}','{{ pkg.seller.slug }}','{{ pkg.slug }}','{{ pkg.name }}')">

    <div class="row">
        <div class="large-12 columns">
            {% if pkg.images.length > 1 %}
            <div id="owl-pkg-images" class="owl-carousel" style="max-height: 510px;">
                {% for image in pkg.images %}
                    <div><img src="{{ image.url }}"/></div>
                {% endfor %}
            </div>
            {% elif pkg.images.length == 1 %}
                <div class="default-listing-img space-bottom">
                    <div class="listing-img">
                        <img src="{{ pkg.images[0].url }}" alt="{{ pkg.name }}"/>
                    </div>
                </div>
            {% else %}
            <div class="default-listing-img space-bottom">

                {% if market.settings.listingImage %}
                <div class="listing-img">
                    <img src="{{ market.settings.listingImage }}" alt="{{ market.name }}"/>
                    {% elseif market.settings.logo %}
                    <div>
                        <img class="logo-flat" src="{{ market.settings.logo }}" alt="{{ market.name }}"/>
                        {% elseif market.slug == 'wanteet' %}
                        <div>
                            <img class="logo-flat" src="assets/img/wanteet-top-v3.png" alt="wanteet"/>
                            {% else %}
                            <div>
                                <h3 class="logo-text">{{ market.name }}</h3>
                                {% endif %}
                                {#<p class="center-content no-space">{{ pkg.name }}</p>#}
                            </div>
                        </div>
                        {% endif %}

                        <div class="row space-top hide-for-large-up show-for-small-up">
                            <div class="medium-2 columns center-content review-user">
                                <a href="u/{{ pkg.seller.slug }}">
                                    {% if pkg.seller.image %}
                                        <img src="{{ pkg.seller.image }}" class="img-small-round img-with-footer"
                                             width="68">
                                    {% else %}
                                        <img src="/assets/img/defaultpic.png" class="img-small-round img-with-footer"
                                             width="68">
                                    {% endif %}
                                    <p class="underline-text">{{ pkg.seller.displayName }}</p>
                                </a>
                            </div>
                            <div class="medium-10 small-centered columns small-only-center-content">
                                <h3>{{ pkg.name }}</h3>
                                {% if pkg.description %}
                                    <p>{{ pkg.description }}</p>
                                {% endif %}
                            </div>
                         </div>
                         <div class="row space-top hide-for-large-up show-for-small-up">
                            <div class="medium-12 small-centere columns small-only-center-content">
                                <h5>
                                    <strong>
                                        {% if pkg.price > 0 %}
                                            {{ formatCurrency(pkg.price, market.currency) }}
                                        {% else %}
                                            {% if market.settings.offerType == 'price' %}
                                                Ask for Price
                                            {% elseif market.settings.offerType == 'time' %}
                                                Ask for Time
                                            {% elseif market.settings.offerType == 'join' %}
                                                Ask to Join
                                            {% endif %}
                                        {% endif %}
                                    </strong>
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">

                        <div class="medium-12 row space-top hide-for-small-only hide-for-medium-only">
                            <div class="medium-10 small-centered columns small-only-center-content">
                                <h3>{{ pkg.name }}</h3>
                                {% if pkg.price > 0 %}
                                    {{ formatCurrency(pkg.price, market.currency) }}
                                {% endif %}
                                {% if pkg.description %}
                                    <p>{{ pkg.description }}</p>
                                {% endif %}
                            </div>
                            <div class="medium-2 columns center-content review-user">
                                <a href="u/{{ pkg.seller.slug }}">
                                    {% if pkg.seller.image %}
                                        <img src="{{ pkg.seller.image }}" class="img-small-round img-with-footer"
                                             width="68">
                                    {% else %}
                                        <img src="/assets/img/defaultpic.png" class="img-small-round img-with-footer"
                                             width="68">
                                    {% endif %}
                                    <p class="underline-text">{{ pkg.seller.displayName }}</p>
                                </a>
                            </div>
                        </div>

                        {% if pkg.seller.promotions.totalCount > 0 %}
                            <div class="row">
                                <div class="medium-12 columns">
                                    <div class="panel promotion">
                                        <div class="row">
                                            <div class="medium-2 columns center-content">
                                                <h4><i class="fa fa-star"></i></h4>
                                            </div>
                                            <div class="medium-10 columns">
                                                <h4>{{ pkg.seller.promotions.results[0].title }}</h4>

                                                <p>{{ pkg.seller.promotions.results[0].content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                        <div class="row space-top">
                            <div class="large-6 columns">
                                {% if pkg.items.length > 0 %}
                                    <div class="panel-h">
                                        <div class="header">
                                            Features
                                        </div>
                                        <div class="content">
                                            <ol>
                                                {% for item in pkg.items %}
                                                    <li>{{ item.name }}</li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="panel-h">
                                        <div class="header">
                                            Features
                                        </div>
                                        <div class="content">
                                            <ol>
                                            Amazing!
                                            </ol>
                                        </div>
                                     </div>
                                {% endif %}
                            </div>
                            <div class="medium-6 large-6 columns">
                            <place-request class="space-top" type="compact" seller="{{ pkg.seller.slug }}"
                                       listing="{{ pkg.slug }}"
                                       title="{{ pkg.name }}" budget="{{ pkg.price }}"></place-request>
                            </div>

                        {% if pkg.propertyList.length > 0 %}
                        <hr>
                            <div class="row">
                                <div class="medium-12 columns">
                                    <div style="border-left: 1px solid #e3e3e3; padding-left: 0.5rem">
                                        {% for property in pkg.propertyList %}
                                            <p class="no-space"
                                               style="text-decoration: underline;font-weight: bold; word-break: break-all">
                                            {{ {false: ''+property.meta.labelText, true: ''+property.question }[!property.meta.labelText] }}
                                            </p>
                                            {#TODO: Add formatting based on 'display' property in meta#}
                                            {% if property.meta.display == 'list' %}
                                            <p style="word-break: break-all">{{ property.answer }}</p>
                                        {% else %}
                                            <p style="word-break: break-all">{{ property.answer }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                        </div>


                        <div class="row">
                            <div class="large-3 columns">
                                <h5 class="hide-for-small-only hide-for-medium-only">
                                    <strong>
                                        {% if pkg.price <= 0 %}
                                            {% if market.settings.offerType == 'price' %}
                                                Ask for Price
                                            {% elseif market.settings.offerType == 'time' %}
                                                Ask for Time
                                            {% elseif market.settings.offerType == 'join' %}
                                                Ask to Join
                                            {% endif %}
                                        {% endif %}
                                    </strong>
                                </h5>


                                {% if pkg.instantRequest and pkg.instantRequest.isActive and not pkg.instantRequest.isExpired %}
                                    <h5>
                                        <strong>
                                            {% if pkg.instantRequest.maxSpots > 0 and pkg.instantRequest.availableSpots > 0 %}
                                                {{ pkg.instantRequest.availableSpots }} available now
                                            {% endif %}
                                            {% if pkg.instantRequest.expiryDate %}
                                                {% if pkg.instantRequest.maxSpots > 0 %}
                                                    <br/>
                                                {% endif %}
                                                Order before {{ pkg.instantRequest.expiryDate | date('m/d/Y h:i A') }}
                                            {% endif %}
                                        </strong>
                                    </h5>
                                    <button class="button small full-width"
                                            data-ng-click="gotoInstantRequest()">
                                        <i class="fa fa-star"></i> Buy it Now!
                                    </button>
                                {% endif %}

                            </div>
                        </div>

                        {#{% if pkg.description %}#}
                        {#<div class="row space-top">#}
                        {#<div class="medium-12 columns">#}
                        {#<h5>About <em>{{ pkg.name }}</em></h5>#}

                        {#<p>{{ pkg.description }}</p>#}
                        {#</div>#}
                        {#</div>#}
                        {#{% endif %}#}

                        {% if pkg.reviewCount > 0 %}
                        <hr>
                        <br>
                        <div class="row space-top space-bottom">
                            <div class="medium-12 columns">
                                <div class="row">
                                    <div class="medium-6 columns">
                                        <h4>Customer Reviews
                                            <small>({{ pkg.reviewCount }})</small>
                                        </h4>
                                    </div>
                                    <div class="medium-6 columns">
                                        <button class="button tiny left">Write a Review</button>
                                    </div>
                                </div>
                                <div class="reviews" id="reviews">

                                    {% for review in pkg.topReviews %}
                                    <div class="row review">
                                        <div class="medium-2 small-12 columns center-content review-user">
                                            <a href="/u/{{ review.reviewer.slug }}">
                                                <img src="{{ review.reviewer.image || '/assets/img/defaultpic.png?v=2' }}"
                                                     class="img-small-round img-with-footer" width="68">

                                                <p class="muted-color underline-text">{{ review.reviewer.displayName }}</p>
                                            </a>
                                        </div>
                                        <div class="medium-10 small-12 columns review-content">
                                            <div class="expandable">
                                                <div class="expandable-content">
                                                    <div>
                                                        <h6>
                                                            <span class="rating"
                                                                  data-rating="{{ review.rating }}"></span>
                                                            {{ review.title }}
                                                        </h6>
                                                    </div>
                                                    <p>{{ review.text }}</p>
                                                    {#<div class="expand-indicator"></div>#}
                                                </div>
                                                {#<a class="expandable-trigger-more muted" href="#">#}
                                                {#<strong>+ More</strong>#}
                                                {#</a>#}
                                            </div>
                                        </div>
                                    </div>
                                    {% if !loop.last %}
                                    <div class="row">
                                        <div class="small-10 columns small-offset-2">
                                            <hr>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <hr>
                        <br>
                        <div class="row">
                             <div class="medium-6 columns">
                                  <h4>Customer Reviews
                                            <small>None</small>
                                  </h4>
                             </div>
                             <div class="medium-6 columns">
                                  <button class="button tiny left">Write a Review</button>
                             </div>
                        </div>
                    {% endif %}


                    </div>
                </div>
            </div>
            <div ui-view="exclusive"></div>
            <div ui-view="addReviewForm"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

    var service = '{{ pkg.service.name }}';

    $(document).ready(function() {

        $("#owl-pkg-images").owlCarousel({
            slideSpeed: 3000,
            autoPlay: true,
            navigation: false,
            singleItem: true,
            transitionStyle: 'fade',
            pagination: false
        });

    });

{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/yumquotes.min.js"></script>
{% endblock %}
