

<style> 

/*--------------------
Chat
--------------------*/
.chat {
  
  height: 80vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
  background: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


/*--------------------
Chat Title
--------------------*/
.chat-title {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background:wheat;
  color: #fff;
  text-align: center;
  padding: 10px 10px 15px 50px;  

}
  
  .avatar {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: white;
    
  }



/*--------------------
Messages
--------------------*/
.messages {
  flex: 1 1 auto;
  color: rgba(255, 255, 255, .5);
  overflow: hidden;
  position: relative;
  width: 100%;
} 
.messages-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
  height: 97%;
}

  
message {
  height: 300px;
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: #F2F3F4;
  color: black;
  margin: 8px 0;
  -size: 11px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}    
.timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  color: rgba(255, 255, 255, .3);
 } 
 
 
/*--------------------
Message Box
--------------------*/
.message-box {
  flex: 0 1 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
}

.message-new {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: #D0D3D4;
  color: black;
  text-align: left;
  padding: 5px 5px 1px 50px;
  border-radius: 10px;
  width: 80%;
  margin-top: 1%;
  margin-left: 5%;
   margin-right: 5%;
   word-wrap: break-word;
}

/* .form-style-10 input[type="text"]{
  padding-right: 50px;
}
.form-style-10 input[type="submit"]{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    border: 1px solid #257C9E;
    font-size: 15px;
    margin-left: -50px;
    height: 35px;
    color: white;
    border: 0;
    -webkit-appearance: none;
}
.form-style-10 input[type="text"]:hover, 
.form-style-10 input[type="submit"]:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(48, 25, 25, 0.28);
} */

  </style>
<div class="chat" data-ng-controller="DialogFlowController">
  <div class="chat-title">
    <h1 style="font-size: 15px; color : black;">Wanteet Customer Service</h1>
    <figure class="avatar">
      <img style="height: 50px; background: white;" src="https://gust-production.s3.amazonaws.com/uploads/startup/logo_image/661605/wanteet-v3.png" /></figure>
  </div>
  <div class="messages" style=" overflow: hidden;">
    <div id="messagesContainer" class="messages-content" style="overflow-y:scroll;">
      <div class="message-new" data-ng-repeat="message in messages" ng-style="message.isReply == true && { float:'right'} || message.isReply == false  && { float:'left'}"> {{message.text}} </div>
    </div>
  </div>
    <!-- <form class="form-style-10">
        <input type="text" ng-model='dfMessage' style="background: gainsboro; float: left; width: 80%; padding-right: 1px;"/>
        <input type="submit" ng-click="sendDFMessage()" value="Send" style="float: left;" >
      <!-- <textarea type="text" class="message-input" placeholder="Type message..." data-ng-keyup="$event.keyCode == 13 ? MyFunc() : null"></textarea>
      <button type="submit" class="message-submit">Send</button> -->

    <form>
      <div class="input-group add-on">
        <input type="text" ng-model='dfMessage' class="form-control" placeholder="Type message..."  style="padding: 0.44rem; float: left; width: 90%;">
        <div class="input-group-btn">
          <button ng-click="sendDFMessage()"  type="submit" style="padding: 0.44rem; width: 10%;">send</i></button>
        </div>
      </div>
    </form>
</div>
<div class="bg"></div>