{% extends './layouts/layout-pages-no-links.server.view.html' %}

{% block content %}
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: block !important;
        }
    </style>
    <div class="row">
        <div class="medium-12 columns text-center">
            <h1>Oops!</h1>

            <h3>Something broke here! But don't worry, we're looking into the problem already</h3>
        </div>
    </div>

{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/home.min.js"></script>
{% endblock %}
