<div class="row space-top space-bottom">
    <div class="small-6 small-centered columns " style="padding: 0">

        <div class="panel-h">
            <div class="header">
                Proxy Login
            </div>
            <div class="content">
                <div class="row" data-ng-show="error" style="margin: -27px -42px 0"
                     data-ng-class="{'animated fadeIn': error !== undefined, 'animated fadeOut':error === undefined }">
                    <div class="small-12 columns">
                        <div data-alert class="alert-box alert">
                            <span data-ng-bind="error"></span>
                        </div>
                    </div>
                </div>

                <form data-ng-submit="proxy()" class="signin">
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="text" placeholder="Email Address" id="username" name="username"
                                   data-ng-model="credentials.username">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="hidden" id="token" name="token" data-ng-model="credentials.token"
                                   data-ng-value="authentication.user.accessToken">
                        </div>
                    </div>

                    <div class="row space-top">
                        <div class="small-4 small-centered columns">
                            <button class="button small full-width" type="submit">Proxy Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

