<div class="reveal-modal tiny" data-reveal id="signinModal">
    <div class="row" data-ng-controller="AuthenticationController">
        <div class="small-12 columns full-width" style="padding: 0">

            <div class="row" data-ng-show="error" style="margin: -27px -42px 0" data-ng-class="{'animated fadeIn': error !== undefined, 'animated fadeOut':error === undefined }">
                <div class="small-12 columns">
                    <div data-alert class="alert-box alert">
                        <span data-ng-bind="error"></span>
                    </div>
                </div>
            </div>

            <div class="row" data-ng-if="market.settings.social.facebook.clientID.length > 0">
                <div class="small-12 columns">
                    <a class="button small full-width fb-btn" href="/oauth/facebook">
                        <span><i class="fa fa-facebook" /></span>
                        <span>Log in with Facebook</span>
                    </a>
                </div>
            </div>

            <div class="row" data-ng-if="market.settings.social.google.clientID.length > 0">
                <div class="small-12 columns">
                    <a class="button small full-width goog-btn" href="/oauth/google">
                        <span><i class="fa fa-google-plus" /></span>
                        <span>Log in with Google</span>
                    </a>
                </div>
            </div>

            <div class="row"
                 data-ng-if="market.settings.social.facebook.clientID.length > 0 || market.settings.social.google.clientID.length > 0">
                <div class="small-12 columns separator">
                    <h6>or</h6>
                    <hr>
                </div>
            </div>

            <form data-ng-submit="signin()" class="signin">
                <div class="row">
                    <div class="small-12 columns">
                        <input type="text" placeholder="Email Address" id="username" name="username" data-ng-model="credentials.username">
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input type="password" id="password" name="password" data-ng-model="credentials.password" placeholder="Password">
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                        <input type="checkbox" name="remember" id="remember">
                        <label for="remember">Remember me</label>
                    </div>
                    <div class="small-6 columns" style="text-align: right" >
                        <a data-forgot-password-reveal data-ui-sref="forgot" class="right-align">Forgot password?</a>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <button class="button small full-width" type="submit">Log In</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="small-12 columns">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    Don't have an account? <a data-signup-reveal ui-sref="signup">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>
