<div class="small-12 columns full-width" style="padding: 0">
    <div class="row">
        <div class="small-12 columns center-content">
            Sign up with <a href="">Facebook</a> or <a href="">Google</a>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns separator">
            <h6>or</h6>
            <hr>
        </div>
    </div>

    <form data-ng-submit="signup()" class="signin">
        <div class="row">
            <div class="small-12 columns">
                <input type="text" required id="firstName" name="firstName"
                       data-ng-model="credentials.firstName" placeholder="First name">
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <input type="text" required id="lastName" name="lastName"
                       data-ng-model="credentials.lastName" placeholder="Last name">
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <input type="text" required id="username" name="username"
                       data-ng-model="credentials.username" placeholder="Email Address">
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <input type="password" required id="password" name="password"
                       data-ng-model="credentials.password" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <input type="password" required id="confirmPassword" name="confirmPassword"
                       data-ng-model="credentials.confirmPassword" placeholder="Confirm Password">
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <input type="checkbox" name="subscribe" id="subscribe" checked class="space-bottom">
                <label for="subscribe">Subscribe to Wanteet newsletter</label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <p>
                    By signing up, I agree to Wanteet's <a href="/info/terms">Terms of Service</a> and <a
                        href="/info/policy">Privacy Policy</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <button class="button small full-width" type="submit">Sign up</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="small-12 columns">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            Already an Wanteet member? <a data-signin-reveal ui-sref="signin">Log in</a>
        </div>
    </div>
</div>
