<div class="reveal-modal tiny" data-reveal id="signupModal">
    <div class="row" data-ng-controller="AuthenticationController">
        <div ng-show="showSignupEmailForm">
            <div class="small-12 columns full-width" style="padding: 0">
                <div class="row">
                    <div class="small-12 columns center-content"
                         data-ng-if="market.settings.social.facebook.clientID.length > 0 || market.settings.social.google.clientID.length > 0">
                        Sign up with <a data-ng-if="market.settings.social.facebook.clientID.length > 0"
                                        href="/oauth/facebook">Facebook</a>
                        <span data-ng-if="market.settings.social.facebook.clientID.length > 0 && market.settings.social.google.clientID.length > 0"> or </span>
                        <a data-ng-if="market.settings.social.google.clientID.length > 0"
                           href="/oauth/google">Google</a>
			
                    </div>
                </div>




                <div class="row"
                     data-ng-if="market.settings.social.facebook.clientID.length > 0 || market.settings.social.google.clientID.length > 0">
                    <div class="small-12 columns separator">
                        <h6>or</h6>
                        <hr>
                    </div>
                </div>

                <form data-ng-submit="signup()" class="signin">
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="text" required id="firstName" name="firstName" data-ng-class="{error: error['firstName']}"
                                   data-ng-model="credentials.firstName" placeholder="First name">
                            <small data-ng-show="error['firstName']" class="error" >
                                <span data-ng-bind="error['firstName']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="text" required id="lastName" name="lastName" data-ng-class="{error: error['lastName']}"
                                   data-ng-model="credentials.lastName" placeholder="Last name">
                            <small data-ng-show="error['lastName']" class="error">
                                <span data-ng-bind="error['lastName']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="text" required id="username" name="username" data-ng-class="{error: error['username']}"
                                   data-ng-model="credentials.username" placeholder="Email Address">
                            <small data-ng-show="error['username']" class="error">
                                <span data-ng-bind="error['username']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="password" required id="password" name="password" data-ng-class="{error: error['password']}"
                                   data-ng-model="credentials.password" placeholder="Password">
                            <small data-ng-show="error['password']" class="error">
                                <span data-ng-bind="error['password']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="password" required id="confirmPassword" name="confirmPassword" data-ng-class="{error: error['confirmPassword']}"
                                   data-ng-model="credentials.confirmPassword" placeholder="Confirm Password">
                            <small data-ng-show="error['confirmPassword']" class="error">
                                <span data-ng-bind="error['confirmPassword']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                            <input type="checkbox" name="subscribe" id="subscribe" class="space-bottom"
                                    data-ng-model="credentials.subscribe" data-ng-checked="1==1">
                            <label for="subscribe">Subscribe to Wanteet newsletter</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                            <p>
                                By signing up, I agree to Wanteet's <a href="/info/terms">Terms of Service</a> and <a
                                    href="/info/policy">Privacy Policy</a>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                            <button class="button small full-width" type="submit">Sign up</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="small-12 columns">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        Already an Wanteet member? <a data-signin-reveal ui-sref="signin">Log in</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="showSignupEmailForm" class="small-12 columns full-width" style="padding: 0">

            <div class="row" data-ng-if="market.settings.social.facebook.clientID.length > 0">
                <div class="small-12 columns">
                    <a class="button small full-width fb-btn" href="/oauth/facebook">
                        <span><i class="fa fa-facebook" /></span>
                        <span>Sign up with Facebook</span>
                    </a>
                </div>
            </div>

            <div class="row" data-ng-if="market.settings.social.google.clientID.length > 0">
                <div class="small-12 columns">
                    <a class="button small full-width goog-btn" href="/oauth/google">
                        <span><i class="fa fa-google-plus" /></span>
                        <span>Sign up with Google</span>
                    </a>
                </div>
            </div>



	 <div class="row">
                <div class="small-12 columns">
                    <a class="button small full-width goog-btn" href="/oauth/zoho">
                        <span>Sign up with Zoho</span>
                    </a>
                </div>
            </div>




            <div class="row"
                 data-ng-if="market.settings.social.facebook.clientID.length > 0 || market.settings.social.google.clientID.length > 0">
                <div class="small-12 columns separator">
                    <h6>or</h6>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <a class="button small full-width " data-ng-click="$parent.toggleSignupEmailForm()">
                        <span><i class="fa fa-envelope-o" /></span>
                        <span>Sign up with Email</span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <p>
                        By signing up, I agree to Wanteet's <a href="/info/terms">Terms of Service</a> and <a
                            href="/info/policy">Privacy Policy</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    Already an Wanteet member? <a data-signin-reveal ui-sref="signin">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
