{% extends "../layouts/layout-pages-no-links.server.view.html" %}

{% block content %}

    {#<div class="row workflow">#}
    {#<div class="small-12 columns">#}
    {#<div class="workflow">#}
    {#<h6>Register</h6>#}
    {#<h6>Choose Plan</h6>#}
    {#<h6>Setup Market</h6>#}
    {#<hr>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    <div class="row">
        <div class="small-8 small-centered columns">
            {#<h3>Create your Market!</h3>#}
            <h3>Marketplace Registration!</h3>
            <h5 class="muted-color">All partners must have a Wanteet account. Create your account, configure your market, be off and running in less than 5 minutes</h5>
            {#<h5 class="muted-color">Setup and get started with your Market in less than 5 minutes</h5>#}
        </div>
    </div>
    <div ui-view></div>
    <meta content="{{ globals }}" name="_globals"/>
    <meta content="{{ services }}" name="_services"/>

{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/home.min.js"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
{% endblock %}

