{% extends "../layouts/layout-pages.server.view.html" %}

{% block content %}

    {# Page Sections #}
    <section>
        {% include "./components/top.server.view.html" %}
        <div class="hide-for-small-only">
            {% include "./components/middle.server.view.html" %}
            {% include "./components/bottom.server.view.html" %}
        </div>
    </section>
    <div ui-view></div>
{% endblock %}

{#{% block js %}#}
    {#var services = JSON.parse(document.getElementsByName("_services")[0].getAttribute('content'));#}
    {#console.log(services);#}
{#{% endblock %}#}

{% block files %}
    <script type="text/javascript" src="assets/js/home.min.js"></script>
{% endblock %}

