{% extends "../layouts/layout-pages.server.view.html" %}

{% block content %}
    <div class="row space-top">
        <div class="medium-8 medium-centered columns">
            <place-request type="{{ market.settings.requests.format || 'questions' }}"
                           service="{{ service }}"></place-request>
        </div>
    </div>
{% endblock %}

{% block js %}
    var service = "{{service}}";
{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/home.min.js"></script>
{% endblock %}
