<!--<section class="row" data-ng-controller="PasswordController">-->
<!--<h3 class="col-md-12 text-center">Restore your password</h3>-->
<!--<p class="small text-center">Enter your account username.</p>-->
<!--<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">-->
<!--<form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">-->
<!--<fieldset>-->
<!--<div class="form-group">-->
<!--<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">-->
<!--</div>-->
<!--<div class="text-center form-group">-->
<!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--</div>-->
<!--<div data-ng-show="error" class="text-center text-danger">-->
<!--<strong>{{error}}</strong>-->
<!--</div>-->
<!--<div data-ng-show="success" class="text-center text-success">-->
<!--<strong>{{success}}</strong>-->
<!--</div>-->
<!--</fieldset>-->
<!--</form>-->
<!--</div>-->
<!--</section>-->

<div class="reveal-modal tiny" data-reveal id="forgotModal">
	<div class="row" data-ng-controller="PasswordController">
		<div class="small-12 columns full-width" style="padding: 0">
			<h4>Forgot Password?</h4>

			<p>Please enter your email address to reset your password</p>

			<form action="forgetPassword" method="POST" class="signin" enctype="application/json">
				<div class="row space-bottom">
					<div class="small-12 columns">
						<input type="text" placeholder="Email Address" id="email" name="email">
						<input type="hidden" id="market" name="market" data-ng-value="{{market.slug}}">
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns center-content">
						<button class="button small" type="submit">Reset Password</button>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="small-12 columns">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					Don't have an account? <a data-signup-reveal ui-sref="signup">Sign up</a>
				</div>
			</div>
		</div>
	</div>
</div>
