<form data-ng-submit="update()">
    <div class="panel-h">
        <div class="header">
            Notifications
            <span class="success radius label right" data-ng-show="success" data-ng-bind="success"></span>
            <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-4 columns">
                    <h4>Notify me when:</h4>
                    <h4><small>Applies to both email & push notifications..</small></h4>
                </div>
                <div class="medium-8 columns">
                    <input type="checkbox" data-ng-model="notifications.messages" id="notifications.messages"
                           data-ng-checked="notifications.messages">
                    <label for="notifications.messages" style="display: inline">
                        I receive a message from another person on inChefs.
                    </label>
                    <br>
                    <input type="checkbox" class="space-top" data-ng-model="notifications.acceptOrDeclineOfferOrRequest"
                           id="notifications.acceptOrDeclineOfferOrRequest"
                           data-ng-checked="notifications.acceptOrDeclineOfferOrRequest">
                    <label for="notifications.acceptOrDeclineOfferOrRequest" style="display: inline">
                        My offer/request is accepted or declined.
                    </label>
                    <br>
                    <input type="checkbox" class="space-top" data-ng-model="notifications.receiveOfferOrRequest"
                           id="notifications.receiveOfferOrRequest"
                           data-ng-checked="notifications.receiveOfferOrRequest">
                    <label for="notifications.receiveOfferOrRequest" style="display: inline">
                        I receive an offer/request.
                    </label>
                    <br>
                    <input type="checkbox" class="space-top space-bottom" data-ng-model="notifications.accountOrListingChange"
                           id="notifications.accountOrListingChange"
                           data-ng-checked="notifications.accountOrListingChange">
                    <label for="notifications.accountOrListingChange" style="display: inline">
                        Changes made to my inChefs account of listings.
                    </label>
                </div>
                <hr>
                <div class="medium-4 columns">
                    <h4>I want to receive:</h4>
                    <h4><small>You can disable these at any time.</small></h4>
                </div>
                <div class="medium-8 columns">
                    <input type="checkbox" data-ng-model="notifications.generalPromotions" id="general"
                           data-ng-checked="notifications.generalPromotions">
                    <label for="general" style="display: inline">
                        General promotions, updates, news about inChefs or general promotions for partner campaigns and services, user surveys, inspiration, and love from inChefs.
                    </label>
                    <br>
                    <input type="checkbox" class="space-top" data-ng-model="notifications.reminders" id="reminder"
                           data-ng-checked="notifications.reminders">
                    <label for="reminder" style="display: inline">
                        Offer and review reminders.
                    </label>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="medium-12 columns">
                    <button data-ng-disabled="isWaiting" type="submit" class="right button small">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="panel-h">-->
        <!--<div class="header">-->
            <!--Email Settings-->
        <!--</div>-->
        <!--<div class="content">-->
            <!--<div class="row">-->
                <!--<div class="medium-4 columns">-->
                    <!--<h4>I want to receive:</h4>-->
                    <!--<h4><small>You can disable these at any time.</small></h4>-->
                <!--</div>-->
                <!--<div class="medium-8 columns">-->
                    <!--<input type="checkbox" data-ng-model="notifications.generalPromotions" id="general"-->
                           <!--data-ng-checked="notifications.generalPromotions">-->
                    <!--<label for="general" style="display: inline">-->
                        <!--General promotions, updates, news about inChefs or general promotions for partner campaigns and services, user surveys, inspiration, and love from inChefs.-->
                    <!--</label>-->
                    <!--<br>-->
                    <!--<input type="checkbox" class="space-top" data-ng-model="notifications.reminders" id="reminder"-->
                           <!--data-ng-checked="notifications.reminders">-->
                    <!--<label for="reminder" style="display: inline">-->
                        <!--Offer and review reminders.-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</form>
