<form data-ng-submit="payment()">
    <div class="panel-h">
        <div class="header">
            Payment methods
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-12 columns">

                </div>
            </div>
        </div>
    </div>
</form>
