<form data-ng-submit="privacy()">
    <div class="panel-h">
        <div class="header">
            Privacy and Social Networks
        </div>
        <div class="content">
            <div class="row space-bottom">
                <div class="medium-12 columns">
                    <h5>Add inChefs to Facebook Timeline</h5>
                    <p>Check this box to automatically publish your listings to Facebook.</p>
                    <p>They'll show up in your Facebook Timeline and your friends' News Feed and Ticker.</p>
                    <input type="checkbox" data-ng-model="privacy.addToFacebookTimeline" id="privacy.addToFacebookTimeline">
                    <label for="privacy.addToFacebookTimeline" style="display: inline">
                        Automatically publish listings to Facebook (recommended)
                    </label>
                </div>
            </div>
            <hr>
            <div class="row space-bottom">
                <div class="medium-12 columns">
                    <h5>Your Listings and Profile in Search Engines</h5>
                    <p>
                        Search engines attract lots of traffic to your listing and generate interest and bookings
                        for our hosts.
                    </p>
                    <p>
                        Perhaps you want to be listed on inChefs but have concerns about your listings and profile
                        being advertised more widely. You can turn off search indexing, preventing search engines
                        such as Google and Bing from displaying your pages in their search results.
                    </p>
                    <p>
                        Note: This may reduce your bookings and will take a few days to take effect.
                    </p>
                    <input type="checkbox" data-ng-model="privacy.addToSearchEngines" id="privacy.addToSearchEngines">
                    <label for="privacy.addToSearchEngines" style="display: inline">
                        Include my profile and listing in search engines like Google and Bing (recommended)
                    </label>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="medium-12 columns">
                    <button type="submit" class="right button small">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
