<form data-ng-submit="update()">
    <div class="panel-h">
        <div class="header">
            Change your password
            <span class="success radius label right" data-ng-show="success" data-ng-bind="success"></span>
            <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-10 columns">
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="oldPassword" class="right inline">Old Password</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="password" id="oldPassword" required placeholder="Enter your current password"
                                    data-ng-model="credentials.oldPassword"
                                    data-ng-class="{error: error['oldPassword']}">
                            <small data-ng-show="error['oldPassowrd']" class="error" >
                                <span data-ng-bind="error['oldPassword']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="newPassword" class="right inline">New Password</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="password" id="newPassword" required placeholder="Enter a new password"
                                   data-ng-model="credentials.newPassword"
                                   data-ng-class="{error: error['newPassword']}">
                            <small data-ng-show="error['newPassword']" class="error" >
                                <span data-ng-bind="error['newPassword']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="confirmPassword" class="right inline">Confirm Password</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="password" id="confirmPassword" required placeholder="Confirm new password"
                                   data-ng-model="credentials.confirmPassword"
                                   data-ng-class="{error: error['confirmPassword']}">
                            <small data-ng-show="error['confirmPassword']" class="error" >
                                <span data-ng-bind="error['confirmPassword']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="medium-12 columns">
                    <button type="submit" data-ng-disabled="isWaiting" class="right button small">Update Password</button>
                </div>
            </div>
        </div>
    </div>
</form>
