<form data-ng-submit="settings()">
    <div class="panel-h">
        <div class="header">
            Settings
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-12 columns">

                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="medium-12 columns">
                    <button type="submit" class="right button small">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
