{% if profile.isSeller and profile.sellerProfile.propertyList.length > 0 %}
    <div class="row">
        <div class="medium-12 columns">
            <div style="border-left: 1px solid #e3e3e3; padding-left: 0.5rem">
                {% for property in profile.sellerProfile.propertyList %}
                    <p class="no-space" style="text-decoration: underline;font-weight: bold; word-break: break-all">
                    {{ {false: ''+property.meta.labelText, true: ''+property.question }[!property.meta.labelText] }}
                    </p>
                    {#TODO: Add formatting based on 'display' property in meta#}
                    {% if property.meta.display == 'list' %}
                    <p style="word-break: break-all">{{ property.answer }}</p>
                {% else %}
                    <p style="word-break: break-all">{{ property.answer }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
