<div class="row image space-bottom">
    <div class="large-12 columns center-content">
        <img class="img-responsive" itemprop="image" src="{{ profile.image.url || '/assets/img/defaultpic.png' }}"
             width="225" height="225"/>
    </div>
</div>


{#{% if servicesArr.length === 1 %}#}
    {#<div class="row">#}
        {#<div class="medium-12 columns">#}
            {#<a href="{{ market.slug }}/request/{{ profile.sellerProfile.services[0].name }}#!/exclusive/{{ profile.slug }}"#}
               {#class="button small full-width">Place Request</a>#}
        {#</div>#}
    {#</div>#}
{#{% endif %}#}


{#{% if servicesArr.length > 1 %}#}
    {#<div class="row">#}
        {#<div class="medium-12 columns">#}
            {#<a href="#" data-reveal-id="chooseService" class="button small full-width">Place Request</a>#}
        {#</div>#}
    {#</div>#}
{#{% endif %}#}


{% if profile.tags.verify.length > 0 %}
    <div class="row">
        <div class="medium-12 columns">
            <div class="panel">
                <ul class="no-bullet no-space">
                    {% for tag in profile.tags.verify %}
                        <li>
                            <i class="fa fa-check-circle green-color"></i> {{ tag.description }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

{% if profile.isSeller %}
    <place-request compact seller="{{ profile.slug }}"></place-request>
    <div class="row" data-ng-if="showToggle">
        <div class="medium-12 columns">
            <a data-ng-click="toggleView()">
                <div class="panel center-content" data-ng-if="!showCalendar">
                    <i class="fa fa-calendar hide-for-small-only" style="font-size: 5rem"></i><br>
                    <h5 class="no-space">{{ profile.displayName }}'s Calendar</h5>
                </div>
                <div class="panel center-content" data-ng-if="showCalendar">
                    <i class="fa fa-list hide-for-small-only" style="font-size: 5rem"></i><br>
                    <h5 class="no-space">Back to Listings</h5>
                </div>
            </a>
        </div>
    </div>
{% endif %}

