<div class="row" style="margin: 0.1rem">
    <div class="large-12 columns">
        <g:if test="${initProvider?.description}">
            <div row>
                <h6 style="margin-top: 1em">A little story about <small
                        style="font-size: 100%">${initProvider?.displayName}</small> ...</h6>

                <p>${initProvider?.description}</p>
            </div>
        </g:if>
        <g:if test="${initProvider?.video}">
            <script>var videoUrl = "${initProvider?.video}"</script>

            <div class="flex-video {{vimeoClass}}">
                <iframe id="video" width="420" height="315" frameborder="0" webkitAllowFullScreen
                        mozallowfullscreen allowFullScreen></iframe>
            </div>
        </g:if>
    </div>
</div>
<g:if test="${verificationIds}">
    <div class="row">
        <div class="medium-12 medium-centered columns">
            <div class="label secondary">Verified Tags</div>

            <div class="panel" style="background-color: #ffffff;padding: 0.2rem">
                <ul class="medium-block-grid-2" style="margin: 0.2rem">
                    <g:each in="${verificationIds}" var="tag">
                        <li style="padding: 0 0.2rem">
                            <div class="alert-box radius secondary" style="padding: 0.2rem;
                            margin: 0.2rem 0 0.2rem;">
                                <i class="fa fa-check-square-o">&nbsp;</i>${tag}
                            </div>
                        </li>
                    </g:each>
                </ul>
            </div>
        </div>
    </div>
</g:if>
