<div class="row" style="margin: 0.1rem">
    <div class="large-12 columns">
        <div class="row">
            <div class="medium-6 columns" ng-show="servcies.length > 1">
                <div class="button tiny radius" ng-show=" categories.length > 0"
                     style="padding: 0.3rem; margin-bottom: 0;width: 100%">
                    <div class="row" ng-show="selectedService != undefined">
                        <div class="medium-5 columns"
                             style="padding:0.7rem; text-align: right">
                            <span>Choose Service &nbsp;<i
                                    class="fa fa-hand-o-right"></i></span>
                        </div>

                        <div class="medium-7 columns">
                            <select name="service" id="serviceDropDown"
                                    ng-model="selectedService" class="radius"
                                    data-ng-options="service.id as (service.name) for service  in servcies"
                                    ng-change="fetchCategoriesByService()"
                                    ng-show="servcies.length > 1" style="margin-bottom: 0"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="selectedService === undefined">
                <div class="row">
                    <div class="medium-1 columns">&nbsp;</div>

                    <div class="medium-11 columns"
                         style="padding: 0.7rem;">
                        <span><b><i class="fa fa-warning"></i>&nbsp;{{currentServiceName}}</b></span>
                    </div>
                </div>
            </div>

            <div class="medium-6 columns">
                <div class="button tiny radius" ng-show=" categories.length > 0"
                     style="padding: 0.3rem; margin-bottom: 0;width: 100%">
                    <div class="row">
                        <div class="medium-5 columns"
                             style="padding:0.7rem; text-align: right">
                            <span>Choose Category &nbsp;<i
                                    class="fa fa-hand-o-right"></i></span>
                        </div>

                        <div class="medium-7 columns">
                            <select name="category" id="categoryDropDown"
                                    ng-model="selectedCategory" class="radius"
                                    data-ng-options="category.id as (category.name) for category  in categories"
                                    ng-change="getProviderItemsByCategory()" style="margin-bottom: 0"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin: 0.2rem 0 0.8rem"/>

        <div class="row">
            <div class="medium-12 columns">
                <div ng-show="items == null"
                     style="text-align: center; margin-top: 13em">
                    <g:if test="${categories?.sort { it.name }?.size() > 0}">
                    {% if profile.categories.length > 0%}
                        <h4 class="subheader">Sorry, no dish is available for this
                        category.</h4>
                    {% else %}
                        <h4 class="subheader">No menu available :(</h4>
                    {% endif %}
                </div>

                <div data-ng-hide="!items" data-ng-cloak>
                    <div data-ng-show="items.length > 0">
                        <ul class="medium-block-grid-4">
                            <li ng-repeat="item in items | orderBy: 'name'">
                                <ng-include src="'templates/profile/menu-item.html'">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
