<div class="row">
    <div class="medium-12 columns">
        <h1>{{ profile.displayName }}</h1>
    </div>
</div>
{% if profile.sellerProfile.reviewCount > 0 %}
<div class="row">
    <div class="medium-12 columns">
        <h4 style="color:#f0563;"> ({{ profile.sellerProfile.reviewCount }})  reviews</h4>
    </div>
</div>
{% endif %}

{% if profile.isSeller == true %}
    {% if profile.sellerProfile.companyName %}
        <div class="row">
            <div class="medium-12 columns">
                <h4 class="no-space">
                    {{ profile.sellerProfile.companyName }}
                </h4>
                {% if profile.sellerProfile.tagline %}
                    <h6 class="muted-color">
                        {{ profile.sellerProfile.tagline }}
                    </h6>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if profile.sellerProfile.address %}
        <div class="row">
            <div class="medium-12 columns">
                <p class="no-space">
                    <i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{ profile.sellerProfile.address }}
                </p>
            </div>
        </div>
    {% endif %}
    {% if profile.sellerProfile.website %}
        <div class="row">
            <div class="medium-12 columns">
                <p>
                    <i class="fa fa-globe"></i>
                    <a href="">{{ profile.sellerProfile.website }}</a>
                </p>
            </div>
        </div>
    {% endif %}
    {% if profile.sellerProfile.description %}
        <div class="row space-bottom">
            <div class="medium-12 columns">
                <p style="text-align: justify">
                    {{ profile.sellerProfile.description }}
                </p>
            </div>
        </div>
    {% endif %}

{% endif %}

{% if profile.promotions.totalCount > 0 %}
    <div class="row space-bottom">
        <div class="medium-12 columns">
            <div class="panel promotion">
                <div class="row">
                    <div class="medium-2 columns center-content">
                        <h4><i class="fa fa-star"></i></h4>
                    </div>
                    <div class="medium-10 columns">
                        <h4>{{ profile.promotions.results[0].title }}</h4>

                        <p>{{ profile.promotions.results[0].content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}


{% if profile.sellerProfile.listings.length > 0 %}
    <div class="row space-bottom" data-ng-if="!showCalendar">
        <div class="medium-12 columns">
            <div class="panel-h">
                <div class="header">
                    Listings by {{ profile.displayName }}
                </div>
                <div class="content">
                    <ul class="medium-block-grid-2">
                        {% for listing in profile.sellerProfile.listings %}
                            <li>
                                <div class="profile-listing-entry">
                                    <a href="p/{{ listing.slug }}">
                                        <div class="listing-img-panel">
                                            <div class="image-container">
                                                {% if listing.images.length > 0 %}
                                                    <img class="img-responsive-height"
                                                         src="{{ listing.images[0].url }}"/>
                                                {% else %}
                                                    <img class="img-responsive-height"
                                                         src="{{ market.settings.listingImage }}"/>
                                                {% endif %}
                                            </div>
                                            {#<div class="price">#}
                                            {#<span>{{ listing.price | usd }}</span>#}
                                            {#</div>#}
                                        </div>
                                    </a>

                                    <div class="content">
                                        <a data-ng-href="p/{{ listing.slug }}"
                                           class="action-link">
                                            <h6 class="ellipsis">{{ listing.name }}</h6>

                                            <p class="muted-color ellipsis">
                                                {% if listing.price > 0 %}
                                                    <span>{{ formatCurrency(listing.price, market.currency) }}</span>
                                                {% else %}
                                                    {% if market.settings.offerType == 'price' %}
                                                        <span>Ask for Price</span>
                                                    {% elseif market.settings.offerType == 'time' %}
                                                        <span>Ask for Time</span>
                                                    {% elseif market.settings.offerType == 'join' %}
                                                        <span>Ask to Join</span>
                                                    {% endif %}
                                                {% endif %}
                                                {% if listing.description %}
                                                    &#183;
                                                    <span>{{ listing.description }}</span>
                                                {% endif %}
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if profile.isSeller %}
    <div class="row space-bottom" data-ng-if="showCalendar">
        <div class="medium-12 columns">
            <div class="panel-h">
                <div class="header">
                    Book time on {{ profile.displayName }}'s calendar
                </div>
                <div class="content">
                    <div class="row" data-ng-if="showCalendar">
                        <div class="medium-12 columns">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if profile.isSeller == true %}
    {% if profile.sellerProfile.reviewCount > 0 %}
        <div class="row space-bottom">
            <div class="medium-12 columns">
                <div class="panel-h">
                    <div class="header">
                        Reviews from Buyers
                        <small>({{ profile.sellerProfile.reviewCount }})</small>
                    </div>
                    <div class="content">
                        <div class="reviews" id="reviews">

                            {% for review in profile.sellerProfile.topReviews %}
                                <div class="row review">
                                    <div class="medium-2 small-12 columns center-content review-user">
                                        <a href="{{ market.slug }}/u/{{ review.reviewer.slug }}">
                                            <img data-ng-src="{{ review.reviewer.image || '/assets/img/defaultpic.png?v=2' }}"
                                                 class="img-small-round img-with-footer" width="68">

                                            <p class="muted-color underline-text">{{ review.reviewer.displayName }}</p>
                                        </a>
                                    </div>
                                    <div class="medium-10 small-12 columns review-content">
                                        <div class="expandable">
                                            <div class="expandable-content">
                                                <div>
                                                    <h6>
                                                        <span class="rating" data-rating="{{ review.rating }}"></span>
                                                        {{ review.title }}
                                                    </h6>
                                                </div>
                                                <p>{{ review.text }}</p>

                                                {#<div class="expand-indicator"></div>#}
                                            </div>
                                            {#<a class="expandable-trigger-more muted" href="#">#}
                                            {#<strong>+ More</strong>#}
                                            {#</a>#}
                                        </div>
                                    </div>
                                </div>
                                {% if loop.last == false %}
                                    <div class="row">
                                        <div class="small-10 columns small-offset-2">
                                            <hr>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

{% if profile.buyerProfile.reviewCount > 0 %}
    <div class="row space-bottom space-top">
        <div class="medium-12 columns">
            <div class="panel-h">
                <div class="header">
                    Reviews from Sellers
                    <small>({{ profile.buyerProfile.reviewCount }})</small>
                </div>
                <div class="content">
                    <div class="reviews" id="reviews">
                        {% for review in profile.buyerProfile.topReviews %}
                            <div class="row review">
                                <div class="medium-2 small-12 columns center-content review-user">
                                    <a href="{{ market.slug }}/u/{{ review.reviewer.slug }}">
                                        <img data-ng-src="{{ review.reviewer.image || '/assets/img/defaultpic.png?v=2' }}"
                                             class="img-small-round img-with-footer" width="68">

                                        <p class="muted-color underline-text">{{ review.reviewer.displayName }}</p>
                                    </a>
                                </div>
                                <div class="medium-10 small-12 columns review-content">
                                    <div class="expandable">
                                        <div class="expandable-content">
                                            <div>
                                                <h6>
                                                    <span class="rating" data-rating="{{ review.rating }}"></span>
                                                    {{ review.title }}
                                                </h6>
                                            </div>
                                            <p>{{ review.text }}</p>

                                            {#<div class="expand-indicator"></div>#}
                                        </div>
                                        {#<a class="expandable-trigger-more muted" href="#">#}
                                        {#<strong>+ More</strong>#}
                                        {#</a>#}
                                    </div>
                                </div>
                            </div>
                            {% if loop.last == false %}
                                <div class="row">
                                    <div class="small-10 columns small-offset-2">
                                        <hr>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if profile.sellerProfile.services.length > 1 %}
    <div class="reveal-modal tiny" data-reveal id="chooseService" style="padding: 0;">
        <div class="panel-h" style="margin-bottom: 0;">
            <div class="header">
                Choose Service
            </div>
            <div class="content">
                <ul class="inline-list">
                    {% for service in profile.sellerProfile.services %}
                        <li><a href="{{ market.slug }}/request/{{ service.name }}#!/exclusive/{{ profile.slug }}"
                               class="button small">{{ service.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endif %}
