<!doctype html>
<html lang="en">

<head>
    {{>headers}}
</head>

<body>
    <div id="loading">
        <div id="loading-center">
            <img src="images/loader.gif" alt="loder">
        </div>
    </div>


    <header id="header">
        {{>navbar}}
    </header>


    {{{body}}}

    <footer>
        {{>footer}}
    </footer>


    <div id="body">
        {{>chatbot}}
    </div>


    <div id="cookie_div" class="align-items-center"> We use cookies to give you tailored experiences on our website.
        <a class="button grey text-right ml-3" href="index.html#" role="button" id="cookie">Accept </a>
    </div>



    {{>javascripts}}
</body>

</html>
