<section data-ng-init="setupAddQuestion()">

    <form name="addQuestionForm" data-ng-submit="createOrUpdateQuestion()">
        <div class="panel-h">
            <div class="header">
                Add new Question
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Title for this question</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" required
                                       placeholder="Enter a text for your question"
                                       data-ng-model="question.text"
                                       data-ng-class="{error: error['text']}">
                                <small data-ng-show="error['text']" class="error">
                                    <span data-ng-bind="error['text']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="labelText" class="right inline">Label Text</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="labelText"
                                       placeholder="Enter label text for your question"
                                       data-ng-model="question.meta.labelText"
                                       data-ng-class="{error: error['meta']}">
                                <small data-ng-show="error['meta']" class="error">
                                    <span data-ng-bind="error['meta']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Please specify a label (To be displayed as a title for the answers provided to this
                                    question)
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="questionType" class="right inline">Type</label>
                            </div>
                            <div class="medium-9 columns">
                                <select required id="questionType" data-ng-model="question.type">
                                    <option value="">Choose a Type</option>
                                    <option data-ng-repeat="questionType in questionTypes"
                                            data-ng-selected="{{questionType == question.type}}"
                                            value="{{questionType}}">
                                        {{questionType}}
                                    </option>
                                </select>
                                <small data-ng-show="error['type']" class="error">
                                    <span data-ng-bind="error['type']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Type of field
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="required" class="right inline">Is this a mandatory question?</label>
                            </div>
                            <div class="medium-9 columns">
                                <label for="required" class="inline">
                                    <input type="checkbox" id="required"
                                           data-ng-model="question.required"
                                           data-ng-class="{error: error['required']}">
                                    Check this box if this is a mandatory question
                                </label>
                                <small data-ng-show="error['isResponse']" class="error">
                                    <span data-ng-bind="error['isResponse']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Answering this question shall be marked mandatory
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="choices" class="right inline">Choices</label>
                            </div>
                            <div class="medium-9 columns">
                                <textarea id="choices" placeholder="Enter comma separated list of choices"
                                          data-ng-model="question.choices"
                                          data-ng-class="{error: error['choices']}">
                                </textarea>
                                <small data-ng-show="error['choices']" class="error">
                                    <span data-ng-bind="error['choices']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Only enter if you have chosen the <em>Type</em> as <em>CheckBox</em> or
                                    <em>Radio</em>
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Type of service</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="service"
                                        data-ng-model="question.category"
                                        data-ng-options="service.description for service in services track by service.name"
                                        required>
                                    <!--<option value="">Choose a service</option>-->
                                    <!--<option data-ng-repeat="service in services" value="{{service.name}}">-->
                                    <!--{{service.description}}-->
                                    <!--</option>-->
                                </select>
                                <small data-ng-show="error['service']" class="error">
                                    <span data-ng-bind="error['service']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Choose a service under which this question shall be classfied
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="isResponse" class="right inline">Is a response question?</label>
                            </div>
                            <div class="medium-9 columns">
                                <label for="isResponse" class="inline">
                                    <input type="checkbox" id="isResponse"
                                           data-ng-model="question.isResponse"
                                           data-ng-class="{error: error['isResponse']}">
                                    Check this box if this question is a Response question
                                </label>
                                <small data-ng-show="error['isResponse']" class="error">
                                    <span data-ng-bind="error['isResponse']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    A response question is meant for Sellers, when they are supposed to provide a
                                    digital response to a request
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row" data-ng-hide="question.id">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !addQuestionForm.$valid">
                            Create Question
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
