<section data-ng-init="getQuestions()">

    <div class="panel-h">
        <div class="header">
            <form>
                <div class="row">
                    <div class="medium-5 columns">
                        <select name="currentService"
                                data-ng-model="currentService"
                                data-ng-options="service.description for service in services track by service.name"
                                data-ng-change="getQuestions(currentService)">
                        </select>
                    </div>
                    <div class="medium-5 columns">
                        <label for="isResponse" class="inline">
                            <input data-ng-model="isResponseChk" type="checkbox" id="isResponse"
                                   data-ng-change="getQuestions(currentService)"/>
                            Show Response Questions
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="content" style="padding:0">

            <div class="row space-top space-bottom" data-ng-show="questions.length == 0">
                <div class="medium-6 medium-centered columns">
                    <div class="space-top space-bottom">&nbsp;</div>
                    <h5>You haven't added a question yet!</h5>

                    <p>Adding questions shall help in:</p>

                    <ul class="disc">
                        <li>Custom questions for each Service</li>
                        <li>Formatted request</li>
                        <li>Mandatory information</li>
                    </ul>

                    <a ui-sref="questions.add" class="button tiny">Add new Question</a>

                    <div class="space-bottom">&nbsp;</div>
                </div>
            </div>

            <div class="row" data-ng-show="questions.length > 0">
                <div class="medium-12 columns">
                    <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="questions.length == 0">
                        <thead>
                        <tr>
                            <th>Question</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="question in questions">

                            <td>
                                <a ui-sref="questions.editOrView({questionId: question.id})">
                                    <span class="ellipsis">{{question.text}}</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
