<section data-ng-init="getEmailTheme()">

    <form name="addEmailThemeForm" data-ng-submit="createOrUpdateEmailTheme()">
        <div class="panel-h">
            <div class="header">
                Edit Email Theme
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Name for Email Theme</label>
                            </div>
                            <div class="medium-9 columns">
                                <input required type="text" id="name" required
                                       placeholder="Enter a Name for your Email Theme"
                                       data-ng-model="emailTheme.name"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="isCurrent" class="right inline">Is this current theme?</label>
                            </div>
                            <div class="medium-9 columns">
                                <label for="isCurrent" class="inline">
                                    <input type="checkbox" id="isCurrent"
                                           data-ng-model="emailTheme.isCurrent"
                                           data-ng-class="{error: error['isCurrent']}">
                                    Check this box if this is current theme
                                </label>
                                <small data-ng-show="error['isCurrent']" class="error">
                                    <span data-ng-bind="error['isCurrent']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="codeEditor" class="inline">Content/Code :</label>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-12 columns">
                                <textarea id="codeEditor"
                                          data-ng-model="emailTheme.content"
                                          data-ng-class="{error: error['content']}">
                                </textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !addEmailThemeForm.$valid">
                            Edit Email Theme
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
