<section data-ng-init="getEmailThemes()">
    <div class="panel" style="padding: 0">

        <div class="row space-top space-bottom" data-ng-show="emailThemes.length == 0">
            <div class="medium-6 medium-centered columns">
                <div class="space-top space-bottom">&nbsp;</div>
                <h5>You haven't added a Email Theme yet!</h5>

                <p>Adding Email Themes shall help in:</p>

                <ul class="disc">
                    <li>Custom style of email</li>
                    <li>Your own promotional email design</li>

                </ul>

                <a ui-sref="emailThemes.add" class="button tiny">Add new Theme</a>

                <div class="space-bottom">&nbsp;</div>
            </div>
        </div>

        <div class="row" data-ng-show="emailThemes.length > 0">
            <div class="medium-12 columns">
                <table role="grid" style="width: 100%;border: 0; margin: 0">
                    <thead>
                    <tr>
                        <th width="250">Email Themes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="emailTheme in emailThemes">

                        <td>
                            <a ui-sref="emailThemes.editOrView({emailThemeId: emailTheme.id})">
                                <span class="ellipsis">{{emailTheme.name}}</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
