<div class="row full-width dashboard-nav" data-ng-controller="NavMenuController">
    <div class="large-11 large-offset-1 columns">
        <ul class="inline-list">
            <li data-ng-repeat="item in nav">
                <span data-ng-if="item.menuItemClass == 'ui-sref' && item.shouldRender(authentication.user)">
                    <a ui-sref="{{item.link}}" aria-selected="{{item.isSelected}}"
                       data-ng-if="item.shouldRender(authentication.user);">
                        <i data-ng-if="item.icon" class="fa {{item.icon}}"></i> {{item.title}}
                    </a>
                </span>
                <span data-ng-if="item.menuItemClass == 'href' && item.shouldRender(authentication.user)">
                    <a data-ng-href="/{{item.link}}" aria-selected="{{item.isSelected}}"
                       data-ng-if="item.shouldRender(authentication.user);">
                        <i data-ng-if="item.icon" class="fa {{item.icon}}"></i> {{item.title}}
                    </a>
                </span>
            </li>
        </ul>
    </div>
</div>
