<div class="reveal-modal small" data-reveal id="addReviewForm" style="padding: 0;">
    <form name="reviewForm" data-ng-submit="addReview(type)">
        <div class="panel-h">
            <div class="header">
                Add a Review for <span data-ng-bind="forName"></span>
            </div>
            <div class="content" style="margin-bottom: 0">

                <div class="row space-bottom">
                    <div class="medium-12 columns">
                        <div data-create-rating data-ng-model="review.rating"
                             data-rating-value="review.rating" max="5" required></div>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-12 columns">
                        <input type="text" name="title" data-ng-model="review.title" required
                               placeholder="Title" maxlength="75"/>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-12 columns">
                        <textarea name="comment" data-ng-model="review.comment"
                                  maxlength="1200" required placeholder="Comment"></textarea>
                    </div>
                </div>


            </div>
            <div class="footer">
                <div class="row">
                    <div class="medium-6 columns right">
                        <button type="submit" class="small button radius right"
                                data-ng-disabled="isWaiting">Submit Review
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
