<div class="content"
     flow-init='{singleFile:true, forceChunkSize:true, method:"octet", target: apiBase + "/users/" + userId + "/markets/" + market.slug + "/file/store"}'
     flow-files-submitted="$flow.upload()"
     flow-file-success="uploadSuccess($flow, $file, $message)"
     flow-file-progress="showProgress( $file, $flow )"
     flow-upload-started="showProgress()">
    <div class="row">
        <div class="medium-12 columns">
            <div class="drop">
                <div ng-class="dropClass" class="panel radius drop-zone" flow-drop>
                    <span data-ng-if="!uploadedFile && !$flow.files.length" class="button tiny warning no-space"
                          flow-btn>
                        Upload File
                    </span>
                    <strong data-ng-if="!uploadedFile && !$flow.files.length">OR</strong>
                    <span class="muted-color" data-ng-if="!uploadedFile && !$flow.files.length">Drag And Drop your file here</span>

                    <div data-alert class="alert-box success radius" data-ng-if="uploadedFile && toggleDisplay">
                        <a class="uploaded-file" data-ng-href="{{uploadedFile.url}}" target="_blank">
                            <i class="fa fa-file"></i> {{uploadedFile.originalFilename}}
                        </a>
                        <a class="close" data-ng-click="deleteFile()">&times;</a>
                    </div>
                    <div data-ng-repeat="file in $flow.files" data-ng-if="$flow.files.length && !toggleDisplay">
                        <div class="progress no-space" data-ng-style="{active: file.isUploading()}">
                            <span class="meter" data-ng-style="{width: (file.progress() * 100)+'%'}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <small data-ng-show="setErrors"
                   class="error">
                <span>{{error.text}}</span>
                <span class="nub" style="top: 89px;"></span>
            </small>
        </div>
    </div>
</div>

<!--flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"-->
