<div class="drop" flow-init
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()];initFileUpload()"
     flow-files-submitted="$flow.upload()"
     flow-file-success="uploadSuccess($flow, $file, $message)">
    <div ng-class="dropClass" class="panel radius no-space drop-zone"
         flow-drop>
        <span class="button tiny warning" flow-btn>
            Upload Files
        </span>
        <strong>OR</strong>
        <span class="muted-color">Drag And Drop your files here</span>
    </div>

    <ul class="inline-list space-top" data-ng-show="$flow.files.length > 0">
        <li data-ng-repeat="file in $flow.files">
            <div class="panel radius img-list-item">
                <!--<img flow-img="file"/>-->
            </div>
        </li>
    </ul>
</div>
