<div data-ng-controller="FirebaseController" data-ng-init="init()">

    <div ui-view="hallPost" class="overlay-post"></div>

    <div class="row" data-ng-if="authentication.user">
        <div class="medium-12 columns">
            <form name="publishToHall" data-ng-submit="publishPost(3)">
                <div class="panel-hall">
                    <div class="content">
                        <div class="row">
                            <div class="medium-12 columns">
                                <textarea class="space-2-bottom"
                                          id="hallMessageInput"
                                          data-ng-model="message.content" required
                                          data-ng-disabled="!hallUser"
                                          placeholder="What's happening?"></textarea>
                            </div>
                        </div>

                        <div class="row" data-ng-show="message.image">
                            <div class="medium-12 columns">
                                <a class="th" href="#" style="width:10rem">
                                    <img data-ng-src="{{message.image}}"/>
                                </a>

                                <p>
                                    <small><a data-ng-click="deleteImage()">Delete</a></small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="small-6 columns">
                                <!--<div flow-init="{singleFile:true}"-->
                                <!--flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1,doc:1,docx:1,pdf:1,txt:1}[$file.getExtension()]">-->

                                <!--<div>-->
                                <!--<span class="button tiny info" ng-show="!message.image" flow-btn="">-->
                                <!--<i class="fa fa-paperclip"></i> Attach Files-->
                                <!--</span>-->
                                <!--</div>-->
                                <!--</div>-->
                                <button data-ng-click="togglePlaceRequest()"
                                        type="button" class="tiny">
                                    Request
                                </button>
                            </div>
                            <div class="small-6 columns">
                                <button data-ng-disabled="!publishToHall.$valid"
                                        type="submit" class="tiny right">
                                    Post
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" data-ng-if="showPlaceRequest">
        <div class="medium-12 columns">
            <place-request></place-request>
        </div>
    </div>

    <div class="row" data-ng-if="!authentication.user">
        <div class="medium-12 columns">
            <div class="panel">
                <h4>Sign in to post and share</h4>
                <a data-signup-reveal ui-sref="signin">Log in</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="medium-12 columns">

            <div data-ng-repeat="hallMsg in hallFeed | orderBy: 'dateTime':true">

                <!--Hall Request-->
                <div class="panel-hall" data-ng-if="hallMsg.type == 0">
                    <div class="header">
                        <div class="row">
                            <div class="small-2 columns">
                                <a data-ng-href="#" class="profile-img">
                                    <img class="img-small-round-responsive"
                                         src="/assets/img/defaultpic.png"
                                         ng-src="{{{true:result.seller.image, false: '/assets/img/defaultpic.png'}[result.seller.image != '']}}"/>
                                </a>
                            </div>
                            <div class="small-10 columns">
                                <h6 class="title" data-ng-bind="hallMsg.authorName"></h6>
                                <h6 class="subtitle">{{hallMsg.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="medium-12 columns">
                                <p data-ng-bind-html="hallMsg.content"></p>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="medium-12 columns">
                                <a data-ng-href="{{hallMsg.targetUrl}}" class="button tiny">View Request</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Hall Advertisement-->
                <div class="panel-hall" data-ng-if="hallMsg.type == 1">
                    <!--<div class="header">-->
                    <!--<div class="row">-->
                    <!--<div class="small-2 columns">-->
                    <!--<a data-ng-href="#" class="profile-img">-->
                    <!--<img class="img-small-round-responsive"-->
                    <!--src="/assets/img/defaultpic.png"-->
                    <!--ng-src="{{{true:result.seller.image, false: '/assets/img/defaultpic.png'}[result.seller.image != '']}}"/>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="small-10 columns">-->
                    <!--<h6 class="title">{{hallMsg.userDisplayName}}</h6>-->
                    <!--<h6 class="subtitle">{{hallMsg.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</h6>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="content">
                        <div class="row">
                            <div class="medium-12 columns">
                                <img class="img-responsive space-bottom"
                                     data-ng-src="{{hallMsg.imageUrl}}"
                                     data-ng-if="hallMsg.imageUrl"/>

                                <p data-ng-bind-html="hallMsg.content"></p>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="medium-12 columns">
                                <button class="button tiny" data-ng-click="like(hallMsg.$id)">Like</button>
                                <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Share</button>-->
                                <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Comment</button>-->
                            </div>
                        </div>
                    </div>
                </div>


                <!--User Content-->
                <div class="panel-hall" data-ng-if="hallMsg.type == 3">
                    <div class="header">
                        <div class="row">
                            <div class="small-2 columns">
                                <a data-ng-href="#" class="profile-img">
                                    <img class="img-small-round-responsive"
                                         src="/assets/img/defaultpic.png"
                                         ng-src="{{{true:result.seller.image, false: '/assets/img/defaultpic.png'}[result.seller.image != '']}}"/>
                                </a>
                            </div>
                            <div class="small-9 columns">
                                <h6 class="title">{{hallMsg.authorName}}</h6>
                                <h6 class="subtitle">{{hallMsg.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</h6>
                            </div>
                            <div class="small-1 columns">
                                <a data-ui-sref="hallFeedPost({postId: '{{hallMsg.$id}}'})"><i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="medium-12 columns">
                                <img class="img-responsive space-bottom"
                                     data-ng-src="{{hallMsg.imageUrl}}"
                                     data-ng-if="hallMsg.imageUrl"/>

                                <p data-ng-bind-html="hallMsg.content"></p>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="medium-12 columns">
                                <button class="button tiny" data-ng-click="like('{{hallMsg.$id}}')">
                                    <span data-ng-bind="hallMsg.likeCount" data-ng-hide="!hallMsg.likeCount"></span>
                                    <span data-ng-if="!hallUsr.likes.hasOwnProperty('{{hallMsg.$id}}')"> Like</span>
                                    <span data-ng-if="hallUsr.likes.hasOwnProperty('{{hallMsg.$id}}')"> Unlike</span>
                                </button>
                                <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Share</button>-->
                                <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Comment</button>-->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Hall Listing -->
                <div class="panel-hall" data-ng-if="hallMsg.type == 4">
                    <div class="header">
                        <div class="row">
                            <div class="small-2 columns">
                                <a data-ng-href="#" class="profile-img">
                                    <img class="img-small-round-responsive"
                                         src="/assets/img/defaultpic.png"
                                         ng-src="{{{true:result.seller.image, false: '/assets/img/defaultpic.png'}[result.seller.image != '']}}"/>
                                </a>
                            </div>
                            <div class="small-9 columns">
                                <h6 class="title">{{hallMsg.authorName}}</h6>
                                <h6 class="subtitle">{{hallMsg.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</h6>
                            </div>
                            <div class="small-1 columns">
                                <a data-ui-sref="hallFeedPost({postId: '{{hallMsg.$id}}'})"><i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <a data-ng-href="{{hallMsg.targetUrl}}">
                            <div class="row">
                                <div class="medium-12 columns">
                                    <p>Listing by <span data-ng-bind="hallMsg.authorName"></span></p>

                                    <div class="panel hall-listing">
                                        <img class="img-responsive space-bottom"
                                             data-ng-src="{{hallMsg.imageUrl}}"
                                             data-ng-if="hallMsg.imageUrl"/>

                                        <p data-ng-bind-html="hallMsg.content"></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="medium-12 columns">
                                <button class="button tiny" data-ng-click="like('{{hallMsg.$id}}')">
                                    <span data-ng-bind="hallMsg.likeCount" data-ng-hide="!hallMsg.likeCount"></span>
                                    <span data-ng-if="!hallUsr.likes.hasOwnProperty('{{hallMsg.$id}}')"> Like</span>
                                    <span data-ng-if="hallUsr.likes.hasOwnProperty('{{hallMsg.$id}}')"> Unlike</span>
                                </button>
                                <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Share</button>-->
                                <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Comment</button>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
