<div id="hallPost" class="reveal-modal" data-reveal aria-labelledby="Hall Post" aria-hidden="true" role="dialog">

    <div class="row">
        <div class="medium-8 large-6 columns">

            <!--Hall Request-->
            <div class="panel-hall" data-ng-if="hallPost.type == 0">
                <div class="header">
                    <div class="row">
                        <div class="small-2 columns">
                            <a data-ng-href="#" class="profile-img">
                                <img class="img-small-round-responsive"
                                     src="/assets/img/defaultpic.png"
                                     ng-src="{{{true:result.seller.image, false: '/assets/img/defaultpic.png'}[result.seller.image != '']}}"/>
                            </a>
                        </div>
                        <div class="small-10 columns">
                            <h6 class="title" data-ng-bind="hallPost.authorName"></h6>
                            <h6 class="subtitle">{{hallPost.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</h6>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="medium-12 columns">
                            <p data-ng-bind-html="hallPost.content"></p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="row">
                        <div class="medium-12 columns">
                            <a data-ng-href="{{hallPost.targetUrl}}" class="button tiny">View Request</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Hall Advertisement-->
            <div class="panel-hall" data-ng-if="hallPost.type == 1">
                <!--<div class="header">-->
                <!--<div class="row">-->
                <!--<div class="small-2 columns">-->
                <!--<a data-ng-href="#" class="profile-img">-->
                <!--<img class="img-small-round-responsive"-->
                <!--src="/assets/img/defaultpic.png"-->
                <!--ng-src="{{{true:result.seller.image, false: '/assets/img/defaultpic.png'}[result.seller.image != '']}}"/>-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="small-10 columns">-->
                <!--<h6 class="title">{{hallPost.userDisplayName}}</h6>-->
                <!--<h6 class="subtitle">{{hallPost.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</h6>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="content">
                    <div class="row">
                        <div class="medium-12 columns">
                            <img class="img-responsive space-bottom"
                                 data-ng-src="{{hallPost.imageUrl}}"
                                 data-ng-if="hallPost.imageUrl"/>

                            <p data-ng-bind-html="hallPost.content"></p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="row">
                        <div class="medium-12 columns">
                            <button class="button tiny" data-ng-click="like(hallPost.$id)">Like</button>
                            <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Share</button>-->
                            <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Comment</button>-->
                        </div>
                    </div>
                </div>
            </div>


            <!--User Content-->
            <div class="panel-hall" data-ng-if="hallPost.type == 3">
                <div class="header">
                    <div class="row">
                        <div class="small-2 columns">
                            <a data-ng-href="#" class="profile-img">
                                <img class="img-small-round-responsive"
                                     src="/assets/img/defaultpic.png"
                                     ng-src="{{{true:result.seller.image, false: '/assets/img/defaultpic.png'}[result.seller.image != '']}}"/>
                            </a>
                        </div>
                        <div class="small-9 columns">
                            <h6 class="title">{{hallPost.authorName}}</h6>
                            <h6 class="subtitle">{{hallPost.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</h6>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="medium-12 columns">
                            <img class="img-responsive space-bottom"
                                 data-ng-src="{{hallPost.imageUrl}}"
                                 data-ng-if="hallPost.imageUrl"/>

                            <p data-ng-bind-html="hallPost.content"></p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="row">
                        <div class="medium-12 columns">
                            <button class="button tiny" data-ng-click="like('{{hallPost.$id}}')">
                                <span data-ng-bind="hallPost.likeCount" data-ng-hide="!hallPost.likeCount"></span>
                                <span data-ng-if="!hallUsr.likes.hasOwnProperty('{{hallPost.$id}}')"> Like</span>
                                <span data-ng-if="hallUsr.likes.hasOwnProperty('{{hallPost.$id}}')"> Unlike</span>
                            </button>
                            <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Share</button>-->
                            <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Comment</button>-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Hall Listing -->
            <div class="panel-hall" data-ng-if="hallPost.type == 4">
                <div class="header">
                    <div class="row">
                        <div class="small-2 columns">
                            <a data-ng-href="#" class="profile-img">
                                <img class="img-small-round-responsive"
                                     src="/assets/img/defaultpic.png"
                                     ng-src="{{{true:result.seller.image, false: '/assets/img/defaultpic.png'}[result.seller.image != '']}}"/>
                            </a>
                        </div>
                        <div class="small-9 columns">
                            <h6 class="title">{{hallPost.authorName}}</h6>
                            <h6 class="subtitle">{{hallPost.dateTime | date:"MM/dd/yyyy 'at' h:mma"}}</h6>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <a data-ng-href="{{hallPost.targetUrl}}">
                        <div class="row">
                            <div class="medium-12 columns">
                                <p>Listing by <span data-ng-bind="hallPost.authorName"></span></p>

                                <div class="panel hall-listing">
                                    <img class="img-responsive space-bottom"
                                         data-ng-src="{{hallPost.imageUrl}}"
                                         data-ng-if="hallPost.imageUrl"/>

                                    <p data-ng-bind-html="hallPost.content"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="footer">
                    <div class="row">
                        <div class="medium-12 columns">
                            <button class="button tiny" data-ng-click="like('{{hallPost.$id}}')">
                                <span data-ng-bind="hallPost.likeCount" data-ng-hide="!hallPost.likeCount"></span>
                                <span data-ng-if="!hallUsr.likes.hasOwnProperty('{{hallPost.$id}}')"> Like</span>
                                <span data-ng-if="hallUsr.likes.hasOwnProperty('{{hallPost.$id}}')"> Unlike</span>
                            </button>
                            <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Share</button>-->
                            <!--<button class="button tiny" onclick="javascript:alert('Coming Soon!');">Comment</button>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
