<div class="place-request-widget" data-ng-init="init()">

    <section>
        <form name="EventSubmitForm" data-ng-submit="processEvent()">
            <div class="panel" style="padding:15px !important;">

                <div class="row space-bottom">
                    <div class="medium-12 large-12 small-12 columns">
                        <textarea id="details" rows="6"
                                  placeholder="Request Details"
                                  data-ng-model="eventData.details"
                                  data-ng-class="{error: error['details']}">
                        </textarea>
                        <small data-ng-show="error['details']" class="error">
                            <span data-ng-bind="error['details']['message']"></span>
                            <span class="nub"></span>
                        </small>
                    </div>
                </div>
                <div class="row space-bottom">
                    <div class="medium-12 large-12 small-12 columns">
                        <input type="text"
                               data-ng-model="dateAndTime" required
                               id="dateAndTime" name="dateAndTime"
                               placeholder="12/31/2018 12:00 PM"
                               data-ng-class="{error: error['dateTime']}">
                        <small data-ng-show="error['dateTime']" class="error">
                            <span data-ng-bind="error['dateTime']['message']"></span>
                            <span class="nub"></span>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <button id="eventForm-btn" type="submit"
                                class="button small right full-width">
                            Place Request
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </section>


    <div class="hidden" data-ng-controller="FirebaseController"></div>
</div>

