<div>
    <section>
        <div class="row">
            <div class="medium-12 medium-centered columns" style="padding: 0;">
                <form name="EventSubmitForm" ng-submit="processEvent()">
                    <div class="panel-h no-space">
                        <div class="header">
                            {{requestType}}
                            <small class="muted-color">(Service : <span data-ng-bind="serviceDesc"></span>)</small>
                        </div>
                        <div class="content" style="padding:15px !important;">

                            <div class="row space-bottom">
                                <div class="medium-12 columns">
                                    <div class="row">

                                    <label for="details" class="left inline">Details</label>
                                    </div>
                                </div>
                                <div class="medium-12 columns">
                                    <div class="row">

                                    <textarea id="details" rows="6" 
                                              placeholder="Enter details about your request. For example: Need xxx at 1pm. The more details the better."
                                              data-ng-model="eventData.details"
                                              data-ng-class="{error: error['details']}">
                                    </textarea>
                                    <small data-ng-show="error['details']" class="error">
                                        <span data-ng-bind="error['details']['message']"></span>
                                        <span class="nub"></span>
                                    </small>
                                    </div>

                                </div>
                            </div>

                            <div class="row space-bottom">
                                <div class="medium-12 columns">
                                <div class="row">
                                    <label for="dateAndTime" class="left inline">Date &amp; Time</label>
                                </div>
                                </div>
                                <div class="medium-12 columns">
                                <div class="row">
                                    <input type="text"
                                           data-ng-model="dateAndTime" required
                                           id="dateAndTime" name="dateAndTime"
                                           placeholder="e.g. 12/31/2018 12:00 PM"
                                           data-ng-class="{error: error['dateTime']}">
                                    <small data-ng-show="error['dateTime']" class="error">
                                        <span data-ng-bind="error['dateTime']['message']"></span>
                                        <span class="nub"></span>
                                    </small>
                                    <p class="muted-color input-footer">
                                        By what date &amp; time you need your request to be completed
                                    </p>
                                </div>
                                </div>
                            </div>
                          <div  data-ng-if="isHyperLocal" class="row space-bottom">
                                <div class="medium-12 columns">
                                    <label for="address" class="left inline">Location</label>
                                </div>
                                <div class="medium-12 columns">
                                    <input type="text" id="address" placeholder="e.g. San Francisco, CA"
                                           data-ng-model="eventData.address"
                                           data-ng-class="{error: error['address']}" data-ng-autocomplete>
                                    <small data-ng-show="error['address']" class="error">
                                        <span data-ng-bind="error['address']['message']"></span>
                                        <span class="nub"></span>
                                    </small>
                                    <p class="muted-color input-footer">
                                        your coordinates(help us find you)
                                    </p>
                                </div>
                            </div>

                            <hr data-ng-if="questions.length > 0">

                            <div data-ng-repeat="question in questions">
                                <div class="row space-bottom">
                                    <div class="medium-12 columns">
                                        <div class="row">
                                            <div class="medium-12 columns">
                                                <p class="no-space" data-ng-bind="question.text"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="medium-12 columns">

                                                <div data-ng-if="question.type == 'radio'">
                                                    <div data-ng-repeat="choice in  question.choices track by $index"
                                                         class="radio-check-list"
                                                         data-ng-class="$first?'first':($last?'last':'')">
                                                        <input type="radio" id="radio{{question.id}}{{$index}}"
                                                               name="q{{question.id}}"
                                                               value="{{choice}}"
                                                               data-ng-model="answers[question.id].answer"
                                                               data-ng-required="$first && question.required">
                                                        <label for="radio{{question.id}}{{$index}}"
                                                               data-ng-bind="choice"></label>
                                                    </div>
                                                    <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                           class="error">
                                                        <span>This is required!</span>
                                                        <span class="nub"></span>
                                                    </small>
                                                </div>

                                                <div data-ng-if="question.type == 'checkbox'">
                                                    <div>
                                                        <div data-ng-repeat="choice in question.choices track by $index"
                                                             class="radio-check-list"
                                                             data-ng-class="$first?'first':($last?'last':'')">
                                                            <input type='checkbox' name="q{{question.id}}"
                                                                   id="check{{question.id}}{{$index}}"
                                                                   data-ng-true-value="'{{choice}}'"
                                                                   data-ng-model="answers[question.id].answer[$index]">
                                                            <label for="check{{question.id}}{{$index}}"
                                                                   data-ng-bind="choice"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div data-ng-if="question.type == 'text'">
                                                    <input type="{{question.type}}" id="text{{question.id}}"
                                                           name="q{{question.id}}"
                                                           data-ng-model="answers[question.id].answer"
                                                           data-ng-required="question.required">
                                                    <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                           class="error">
                                                        <span>This is required!</span>
                                                        <span class="nub"></span>
                                                    </small>
                                                </div>

                                                <div data-ng-if="question.type == 'number'">
                                                    <input type="{{question.type}}" id="number{{question.id}}"
                                                           name="q{{question.id}}" min="0"
                                                           data-ng-model="answers[question.id].answer"
                                                           data-ng-required="question.required">
                                                    <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                           class="error">
                                                        <span>This is required!</span>
                                                        <span class="nub"></span>
                                                    </small>
                                                </div>

                                                <div data-ng-if="question.type == 'datetime'">
                                                    <input type="text" id="datetime{{question.id}}"
                                                           name="q{{question.id}}"
                                                           data-ng-model="answers[question.id].answer"
                                                           data-ng-required="question.required"
                                                           data-datetime-bind>
                                                    <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                           class="error">
                                                        <span>This is required!</span>
                                                        <span class="nub"></span>
                                                    </small>
                                                </div>

                                                <div data-ng-if="question.type == 'textarea'">
                                                    <textarea id="textarea{{question.id}}"
                                                              name="q{{question.id}}"
                                                              data-ng-model="answers[question.id].answer"
                                                              data-ng-required="question.required">
                                                    </textarea>
                                                    <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                           class="error">
                                                        <span>This is required!</span>
                                                        <span class="nub"></span>
                                                    </small>
                                                </div>

                                                <div data-ng-if="question.type == 'file'">
                                                    <file-upload file-model="answers[question.id].answer"
                                                                 file-complete="fileComplete()"></file-upload>
                                                    <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                           class="error">
                                                        <span>This is required!</span>
                                                        <span class="nub"></span>
                                                    </small>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="footer">
                            <div class="row">
                                <div class="medium-12 columns">
                                    <button data-ng-disabled="isWaiting" id="eventForm-btn" type="submit"
                                            class="button small right">
                                        Place Request
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>

    <div class="hidden" data-ng-controller="FirebaseController"></div>
</div>

