<div>
    <section>
        <div class="row">
            <div class="medium-12 medium-centered columns" style="padding: 0;">
                <form name="EventSubmitForm" ng-submit="processEvent()">
                    <div class="panel-h no-space">
                        <div class="header">
                            {{requestType}} <small class="muted-color">(Service : <span data-ng-bind="serviceDesc"></span>)</small>
                        </div>
                        <div class="content" style="padding:15px !important;">
                            <div class="row space-bottom">
                                <div class="medium-3 columns hide-for-small-down">
                                    <label for="details" class="right inline">Details</label>
                                </div>
                                <div class="medium-9 columns">
                                    <textarea id="details" rows="6" 
                                              placeholder="Enter details about your request. For example: Need xxx at 1pm. The more details the better."
                                              data-ng-model="eventData.details"
                                              data-ng-class="{error: error['details']}">
                                    </textarea>
                                    <small data-ng-show="error['details']" class="error">
                                        <span data-ng-bind="error['details']['message']"></span>
                                        <span class="nub"></span>
                                    </small>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="dateAndTime" class="right inline">Date &amp; Time</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text"
                                       data-ng-model="dateAndTime" required
                                       id="dateAndTime" name="dateAndTime"
                                       placeholder="e.g. 12/31/2018 07:00 PM"
                                       data-ng-class="{error: error['dateTime']}">
                                <small data-ng-show="error['dateTime']" class="error">
                                    <span data-ng-bind="error['dateTime']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    by when
                                </p>
                            </div>
                        </div>
                          <div class="row space-bottom">
                                <div class="medium-3 columns hide-for-small-down">
                                    <label for="address" class="right inline">Location</label>
                                </div>
                                <div class="medium-9 columns">
                                    <input type="text" id="address" placeholder="e.g. San Francisco, CA"
                                           data-ng-model="eventData.address"
                                           data-ng-class="{error: error['address']}" data-ng-autocomplete>
                                    <small data-ng-show="error['address']" class="error">
                                        <span data-ng-bind="error['address']['message']"></span>
                                        <span class="nub"></span>
                                    </small>
                                    <p class="muted-color input-footer">
                                        your coordinates(help us find you)
                                    </p>
                                </div>
                            </div>
`
                        <div class="footer">
                            <div class="row">
                                <div class="medium-12 columns">
                                    <button data-ng-disabled="isWaiting" id="eventForm-btn" type="submit"
                                            class="button small right">
                                        Place Request
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>

    <div class="hidden" data-ng-controller="FirebaseController"></div>
</div>

