<div class="reviews" id="reviews" data-ng-if="!reviewsLoaded">
    <div data-ng-repeat="review in reviews">
        <div class="row review">
            <div class="medium-2 small-12 columns center-content review-user">
                <img data-ng-src="{{review.reviewer.imageUrl}}" class="img-small-round img-with-footer" width="68">

                <p class="muted-color" data-ng-bind="review.reviewer.displayName"></p>
            </div>
            <div class="medium-10 small-12 columns review-content">
                <div class="expandable">
                    <div class="expandable-content">
                        <div>
                            <h6><span class="rating" data-rating="{{review.rating}}"></span><span
                                    data-ng-bind="review.title"></span></h6>
                        </div>
                        <p data-ng-bind="review.text"></p>
                        <!--<div class="expand-indicator"></div>-->
                    </div>
                    <!--<a class="expandable-trigger-more muted" href="#">-->
                    <!--<strong>+ More</strong>-->
                    <!--</a>-->
                </div>
            </div>
        </div>

        <div class="row" data-ng-if="$last">
            <div class="small-10 columns small-offset-2">
                <hr>
            </div>
        </div>
    </div>
</div>
