<!DOCTYPE html>
<html lang="en" data-ng-controller="HomeController">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<base href="/">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	{% if market.settings.favicon %}
		<link href="{{ market.settings.favicon }}" rel="shortcut icon" type="image/x-icon">
	{% else %}
		<link href="assets/img/favicon.ico?v=2" rel="shortcut icon" type="image/x-icon">
	{% endif %}

	<!--Application CSS Files-->
	{# {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">
    {% endfor %} #}
	<link rel="stylesheet" href="assets/css/inchefs.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/jeeves/css/typography.css">
	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" src="assets/js/modernizr.js"></script>
</head>

<body data-ng-cloak flow-prevent-drop flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''">
<section class="content">
	<section class="container">
		{# Global Sections #}
		{% include "../components/header-si.server.view.html"%}

		{% block content %}{% endblock %}
	</section>
</section>
<div ui-view="auth"></div>
<script type="text/javascript" src="assets/js/zurb.min.js"></script>

{% block files %}{% endblock %}

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC2D0Nd2wT1AqJ9e72R95X04TJMUBeGayY"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

<!--Embedding The User Object-->
<script type="text/javascript">
	var user = JSON.parse(localStorage.getItem("ls.user"))|| "";
	var landingPage = {{ url | json | safe }};
	var _market = JSON.parse(localStorage.getItem("ls.currentMarket")) || "";
	var _subsInfo = JSON.parse(localStorage.getItem("ls.subsInfo")) || '';
	var _marketId = {{ market.slug | json | safe }};
	var _api = {{ api | json | safe }};

	$(document).ready(function () {
		$(document).foundation();
	});

	$('[placeholder]').focus(function () {
		var input = $(this);
		if (input.val() == input.attr('placeholder')) {
			input.val('');
		}
	}).blur(function () {
		var input = $(this);
		if (input.val() == '' || input.val() == input.attr('placeholder')) {
			input.addClass('placeholder');
		}
	}).blur();

	function openWin(url, width, height) {
		var x = (window.screen.width / 2) - ((width / 2) + 10);
		var y = (window.screen.height / 2) - ((height / 2) + 50);
		var settings = "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + x + ",top=" + y + ",screenX=" + x + ",screenY=" + y + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no";
		window.open(url, 'sharer', settings);
		return false;
	}
</script>


{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<!-- <script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script> -->
{% endif %}
<script>
{% block js %}{% endblock %}
</script>
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-40575634-2', 'auto');
	ga('send', 'pageview');

</script>


{% if process.env.NODE_ENV === 'production' %}
<script src="https://tracyjs.247jeeves.com/{{market.slug}}.js"></script>
{% endif %}

{% if process.env.NODE_ENV !== 'production' %}
<script src="https://qa.tracyjs.247jeeves.com/{{market.slug}}.js"></script>
{% endif %}




</body>

</html>
