{% extends "../layouts/layout-pages.server.view.html" %}

{% block content %}
    {% autoescape false %}{{ pageContent }}{% endautoescape %}
    {% include "../components/feedbackForm.server.view.html" %}
{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/yumquotes.min.js"></script>
    {% if customJavaScript %}
        <script>
            {% autoescape false %}{{ customJavaScript }}{% endautoescape %}
        </script>
    {% endif %}
{% endblock %}
