{% extends "../layouts/layout-pages.server.view.html" %}


{% block content %}
    <div class="row space-top">
        <div class="medium-10 columns medium-centered">
            <form action="/changePassword" method="POST">
                <input type="hidden" name="token" value="{{ token }}">

                <div class="panel-h">
                    <div class="header">
                        Change your password
                    </div>
                    <div class="content">
                        {% if error %}
                            <div class="row">
                                <div class="medium-8 medium-centered columns">
                                    <div class="alert-box alert center-content radius">{{ error }}</div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="medium-10 columns">
                                <div class="row space-bottom">
                                    <div class="medium-3 columns hide-for-small-down">
                                        <label for="newPassword" class="right inline">New Password</label>
                                    </div>
                                    <div class="medium-9 columns">
                                        <input type="password" id="newPassword" name="newPassword" required
                                               placeholder="Enter a new password">
                                        {% if errors.newPassword %}
                                            <small class="error">
                                                <span>{{ errors.newPassword }}</span>
                                                <span class="nub"></span>
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row space-bottom">
                                    <div class="medium-3 columns hide-for-small-down">
                                        <label for="confirmPassword" class="right inline">Confirm Password</label>
                                    </div>
                                    <div class="medium-9 columns">
                                        <input type="password" id="confirmPassword" name="confirmPassword" required
                                               placeholder="Confirm new password">
                                        {% if errors.confirmPassword %}
                                            <small class="error">
                                                <span>{{ errors.confirmPassword }}</span>
                                                <span class="nub"></span>
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="medium-12 columns">
                                <button type="submit" data-ng-disabled="isWaiting" class="right button small">Save
                                    Password
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/home.min.js"></script>
{% endblock %}
