{% extends "../layouts/layout-pages-no-links.server.view.html" %}

{% block content %}
    <div class="row space-top space-bottom">
        <div class="medium-12 columns">
            <h4>We have sent you a verification email</h4>
            <p>Please verify your email address by clicking on the link sent to {{ email }}</p>
            <p class="muted-color">If you haven't received the email. Please write to <a href="mailto:info@sumush2.energy">info@sumush2.energy</a></p>
        </div>
    </div>
{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/home.min.js"></script>
{% endblock %}
