{% extends "../layouts/layout-pages-no-links.server.view.html" %}

{% block content %}
    <div class="row space-top space-bottom">
        <div class="medium-12 columns">
            <h4>Your password request has been sent</h4>

            <p>Please check your email & follow the instructions to reset your password</p>


        </div>
    </div>
{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/home.min.js"></script>
{% endblock %}
