{% extends "../layouts/layout-pages-no-links.server.view.html" %}

{% block content %}
    <div class="row space-top space-bottom">
        <div class="medium-12 columns">
            <h4>Your password has been changed successfully!</h4>

            <p>You may proceed to login now</p>


            <p class="muted-color space-top">You'll be redirected to home page automatically.</p>
        </div>
    </div>
{% endblock %}

{% block js %}
    window.setTimeout(function(){

    window.location.href = "/#!/signin";

    }, 3000);
{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/home.min.js"></script>
{% endblock %}
