<section data-ng-init="setupAddListing()">

    <form name="listingCtrl.listingsForm" data-ng-submit="createOrUpdateListing()">
        <div class="panel-h" data-ng-hide="progress.isFirstStepDone">
            <div class="header">
                Add new Listing
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down" style="margin-top:0.5rem !important" >
                                <label for="name" class="right inline">Title for this listing</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" required placeholder="Enter a crafty title for your listing in less than 140 characters"
                                       data-ng-model="listing.name"
                                       data-ng-class="{error: error['name']}" style="margin-top:0.5rem !important">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="description" class="right inline">Summary</label>
                            </div>
                            <div class="medium-9 columns">
                                <textarea id="description" placeholder="Be concise and clear while writing the description about your listing"
                                          data-ng-model="listing.description"
                                          data-ng-class="{error: error['description']}">
                                </textarea>
                                <small data-ng-show="error['description']" class="error">
                                    <span data-ng-bind="error['description']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Price starts at</label>
                            </div>
                            <div class="medium-9 columns">
                                <div class="row collapse">
                                    <div class="small-1 columns">
                                        <span class="prefix">{{ market.currency.symbol }}</span>
                                    </div>
                                    <div class="small-11 columns">
                                        <input type="number" id="price" required
                                               placeholder="0.0"
                                               min="0.00" step="0.50"
                                               data-ng-model="listing.price"
                                               class="end-field"
                                               data-ng-class="{error: error['price']}">
                                        <small data-ng-show="error['price']" class="error">
                                            <span data-ng-bind="error['price']['message']"></span>
                                            <span class="nub"></span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--div class="row space-bottom" data-ng-if="services.length == 1">
                            <input type="hidden" id="service" name="service" value="{{services[0].name}}">
                        </div-->
                        <div class="row space-bottom" data-ng-if="services.length >= 1">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Type of service</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="service" data-ng-model="listing.service" required>
                                    <option value="">Choose a service</option>
                                    <option data-ng-repeat="service in services" value="{{service.name}}">
                                    {{service.description}}
                                    </option>
                                </select>
                                <small data-ng-show="error['service']" class="error">
                                    <span data-ng-bind="error['service']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Choose a service category for this listing 
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="tags" class="right inline">Tags</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="tags" placeholder="Tags"
                                       data-ng-model="listing.tags"
                                       data-ng-class="{error: error['tags']}">
                                <small data-ng-show="error['tags']" class="error">
                                    <span data-ng-bind="error['tags']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Tags help in precise classification, start typing to choose a few 
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom" data-ng-if="questions.length > 0">
                            <div class="medium-12 columns">
                                <hr/>
                                <div data-ng-repeat="question in questions">
                                    <div class="row space-bottom">
                                        <div class="medium-12 columns">
                                            <div class="row">
                                                <div class="medium-12 columns">
                                                    <p class="no-space" data-ng-bind="question.text"></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="medium-12 columns">

                                                    <div data-ng-if="question.type == 'radio'">
                                                        <div data-ng-repeat="choice in  question.choices track by $index"
                                                             class="radio-check-list"
                                                             data-ng-class="$first?'first':($last?'last':'')">
                                                            <input type="radio" id="radio{{question.id}}{{$index}}"
                                                                   name="q{{question.id}}"
                                                                   value="{{choice.trim()}}"
                                                                   data-ng-model="answers[question.id].answer"
                                                                   data-ng-required="$first && question.required">
                                                            <label for="radio{{question.id}}{{$index}}"
                                                                   data-ng-bind="choice"></label>
                                                        </div>
                                                        <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                               class="error">
                                                            <span>This is required!</span>
                                                            <span class="nub"></span>
                                                        </small>
                                                    </div>

                                                    <div data-ng-if="question.type == 'checkbox'">
                                                        <div>
                                                            <div data-ng-repeat="choice in question.choices track by $index"
                                                                 class="radio-check-list"
                                                                 data-ng-class="$first?'first':($last?'last':'')">
                                                                <input type='checkbox' name="q{{question.id}}"
                                                                       id="check{{question.id}}{{$index}}"
                                                                       data-ng-true-value="'{{choice.trim()}}'"
                                                                       data-ng-model="answers[question.id].answer[$index]">
                                                                <label for="check{{question.id}}{{$index}}"
                                                                       data-ng-bind="choice"></label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div data-ng-if="question.type == 'text'">
                                                        <input type="{{question.type}}" id="text{{question.id}}"
                                                               name="q{{question.id}}"
                                                               data-ng-model="answers[question.id].answer"
                                                               data-ng-required="question.required">
                                                        <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                               class="error">
                                                            <span>This is required!</span>
                                                            <span class="nub"></span>
                                                        </small>
                                                    </div>

                                                    <div data-ng-if="question.type == 'number'">
                                                        <input type="{{question.type}}" id="number{{question.id}}"
                                                               name="q{{question.id}}" min="0"
                                                               data-ng-model="answers[question.id].answer"
                                                               data-ng-required="question.required">
                                                        <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                               class="error">
                                                            <span>This is required!</span>
                                                            <span class="nub"></span>
                                                        </small>
                                                    </div>

                                                    <div data-ng-if="question.type == 'datetime'">
                                                        <input type="text" id="datetime{{question.id}}"
                                                               name="q{{question.id}}"
                                                               data-ng-model="answers[question.id].answer"
                                                               data-ng-required="question.required"
                                                               data-datetime-bind>
                                                        <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                               class="error">
                                                            <span>This is required!</span>
                                                            <span class="nub"></span>
                                                        </small>
                                                    </div>

                                                    <div data-ng-if="question.type == 'textarea'">
                                                        <textarea id="textarea{{question.id}}"
                                                                  name="q{{question.id}}"
                                                                  data-ng-model="answers[question.id].answer"
                                                                  data-ng-required="question.required">
                                                        </textarea>
                                                        <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                               class="error">
                                                            <span>This is required!</span>
                                                            <span class="nub"></span>
                                                        </small>
                                                    </div>

                                                    <div data-ng-if="question.type == 'file'">
                                                        <file-upload file-model="answers[question.id].answer"
                                                                     file-complete="fileComplete()"></file-upload>
                                                        <small data-ng-show="setErrors && {{formName}}.q{{question.id}}.$error.required && !{{formName}}.q{{question.id}}.$valid"
                                                               class="error">
                                                            <span>This is required!</span>
                                                            <span class="nub"></span>
                                                        </small>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-12 columns">
                                <fieldset class="no-space radius" style="margin:0.5rem !important">
                                    <legend>
                                        <input type="checkbox" data-ng-model="listing.instantRequest.isActive"
                                               name="isActive" data-ng-checked="listing.instantRequest.isActive"
                                               id="isActive">
                                        <label for="isActive" class="right inline"> Is this an instant order?</label>
                                    </legend>
                                    <div class="space-bottom"
                                         style="padding-top: 0.5rem;border: 1px dashed #e8e8e8; background: #f8f8f8;">
                                        <!--div class="row space-bottom">
                                            <div class="medium-3 columns hide-for-small-down">
                                                <label class="right inline">Choose a Type</label>
                                            </div>
                                            <div class="medium-9 columns">
                                                <input type="radio"
                                                       data-ng-disabled="!listing.instantRequest.isActive"
                                                       data-ng-required="listing.instantRequest.isActive"
                                                       data-ng-model="listing.instantRequest.isUnlimited"
                                                       id="isUnlimited1" name="isUnlimited" value="true"/>
                                                <label for="isUnlimited1" class="inline"> Active Forever</label>
                                                <input type="radio" style="margin-left: 0.5rem !important;"
                                                       data-ng-disabled="!listing.instantRequest.isActive"
                                                       data-ng-model="listing.instantRequest.isUnlimited"
                                                       id="isUnlimited2" name="isUnlimited" value="false">
                                                <label for="isUnlimited2"> Time Bound</label>
                                            </div>
                                        </div-->

                                        <div class="row">

                                            <div class="medium-3 columns hide-for-small-down">
                                                <label for="dateAndTime" class="right inline">Available upto</label>
                                            </div>
                                            <div class="medium-9 columns">
                                                <input type="text"
                                                       data-ng-model="dateAndTime" required
                                                       id="dateAndTime" name="dateAndTime"
                                                       placeholder="Valid until e.g. 12/31/2019 07:00 PM"
                                                       data-ng-class="{error: error['expiryDate']}"
                                                       >
                                                <small data-ng-show="error['dateTime']" class="error">
                                                    <span data-ng-bind="error['dateTime']['message']"></span>
                                                    <span class="nub"></span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="medium-3 columns hide-for-small-down">
                                            <label for="maxSlots" class="right inline">Maximum limit</label>
                                        </div>
                                        <div class="medium-9 columns">
                                            <input type="number" id="maxSlots"
                                                   name="maxSlots"
                                                   step="1"
                                                   placeholder="Maximum Limit. Leave blank or 0 if unlimited."
                                                   data-ng-model="listing.instantRequest.maxSpots"
                                                   >
                                            <small data-ng-show="error['maxSpots']" class="error">
                                                <span data-ng-bind="error['maxSpots']['message']"></span>
                                                <span class="nub"></span>
                                            </small>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-12 columns">
                                <div class="panel-h" style="margin:0.5rem !important">
                                    <div class="header" style="border-radius:0px;!">
                                        Add images to this listing
                                    </div>
                                    <div class="content" style="padding: 0rem 0rem;">
                                        <div flow-object="flowObj" class="drop" flow-init
                                             flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()];initFileUpload()"
                                             flow-files-submitted="flowObj.upload()"
                                             flow-file-success="uploadSuccess(flowObj, $file, $message)">
                                            <div ng-class="dropClass" class="panel radius no-space drop-zone"
                                                 flow-drop>
                                                <span class="button tiny warning" flow-btn>
                                                    Upload Files
                                                </span>
                                                <strong>OR</strong>
                                                <span class="muted-color">Drag And Drop your files here</span>
                                            </div>

                                            <ul class="inline-list space-top" data-ng-show="flowObj.files.length > 0">
                                                <li data-ng-repeat="file in flowObj.files">
                                                    <div class="panel radius img-list-item">
                                                        <div id="{{file.uniqueIdentifier.split('.')[0]}}"
                                                             ng-init="getDataUrl(file)">
                                                            <a data-ng-click="deleteImage(file)" title="Delete">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row" data-ng-hide="listing.id">
                    <div class="medium-12 columns" style="margin:12px 0px 12px 0px;">
                        <button type="submit" class="button medium-12 columns"
                                data-ng-disabled="isWaiting || !listingCtrl.listingsForm.$valid" style="margin:0.5rem !important">
                            Create Listing
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="panel-h" data-ng-show="progress.isFirstStepDone">
        <div class="header ellipsis">
            Add all the highlights for this listing
        </div>
        <div class="content">
            <form name="addItemForm{{$index}}" data-ng-repeat="addItem in addItems track by $index"
                  data-ng-submit="addItemsToListing($index)">
                <div class="row collapse space-2-bottom"
                     data-ng-class="{'listing-item-added': addItem.added}">
                    <div class="small-2 medium-1 columns">
                        <span class="prefix" style="border:0px;">{{$index+1}}.</span>
                    </div>
                    <div class="small-8 columns">
                        <input type="text" id="itemName{{$index}}" style="border-radius:12px;" required
                               placeholder="Enter an Item/Product/Service here"
                               data-ng-model="addItem.name"
                               data-ng-class="{error: error['name']}"
                               data-ng-readonly="addItem.added == true"
                               data-ng-form="addItemForm{{$index}}"
                               data-ng-blur="addItemsToListing($index)">
                        <small data-ng-show="error['name'] && !addItem.added" class="error">
                            <span data-ng-bind="error['name']['message']"></span>
                            <span class="nub"></span>
                        </small>
                    </div>
                    <div class="small-2 medium-3 end columns" style="float:right">
                        <div ng-if="$last || !addItems[$index].added">
                            <button
                                    type="submit" class="button tiny postfix" style="padding-bottom:0rem !important;" 
                                    data-ng-disabled="!addItemForm{{$index}}.$valid"
                                    style="padding: 0;padding-bottom:0rem;float:right;" >
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <button data-ng-hide="addItem.isWaiting || $last || !addItem.added"
                                class="button tiny listing-remove-item"
                                type="button"
                                data-ng-click="deleteItemsFromListing($index)" style="float:right"><i class="fa fa-remove"></i>
                        </button>
                            <span data-ng-show="addItem.isWaiting == true">
                                <i class="fa fa-spin fa-circle-o-notch"></i>
                            </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="footer" data-ng-show="addItems.length > 0">
            <div class="row">
                <div class="medium-12 columns" style="margin:12px 0px 12px 0px;">
                    <a ui-sref="listings.editOrView({packageId: listing.id})" class="button small right">Publish
                        listing</a>
                </div>
            </div>
        </div>
    </div>

</section>
