<section data-ng-init="getListings()">
    <div class="panel" style="padding: 0">

        <div class="row space-top space-bottom" data-ng-show="listings.length == 0">
            <div class="medium-6 medium-centered columns">
                <div class="space-top space-bottom">&nbsp;</div>
                <h5>You haven't added a listing yet!</h5>

                <p>Adding listings shall help in:</p>

                <ul class="disc">
                    <li>More visibility in buyer search</li>
                    <li>Get reviews for your services</li>
                    <li>Better matched buyers to your services</li>
                </ul>

                <a ui-sref="listings.add" class="button tiny">Add new Listing</a>

                <div class="space-bottom">&nbsp;</div>
            </div>
        </div>

        <div class="row" data-ng-show="listings.length > 0">
            <div class="medium-12 columns">
                <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="listings.length == 0">
                    <thead>
                    <tr>
                        <th width="250">Name</th>
                        <th width="100">Type</th>
                        <th>Number of Items</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="listing in listings">

                        <td>
                            <a ui-sref="listings.editOrView({packageId: listing.id})">
                                <span class="ellipsis">{{listing.name}}</span>
                            </a>
                        </td>
                        <td>{{listing.service}}</td>
                        <td>{{listing.items.length}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
