<section data-ng-init="setupAddCustomer()">

    <form name="customerCtrl.customersForm" data-ng-submit="createOrUpdateCustomer()">
        <div class="panel-h">
            <div class="header">
                Add new Customer
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="fullName" class="right inline">Name</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="fullName" required placeholder="Enter full name of Customer"
                                       data-ng-model="customer.fullName"
                                       data-ng-class="{error: error['fullName']}"
                                       required>
                                <small data-ng-show="error['fullName']" class="error">
                                    <span data-ng-bind="error['fullName']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Enter Full Name of your customer, this will be used in emails
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="email" class="right inline">Email</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="email" required placeholder="Enter email address of Customer"
                                       data-ng-model="customer.email"
                                       data-ng-class="{error: error['email']}"
                                       required>
                                <small data-ng-show="error['email']" class="error">
                                    <span data-ng-bind="error['email']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Enter Email address of your customer (required)
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row" data-ng-hide="customer.id">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !customerCtrl.customersForm.$valid">
                            Create Customer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
