<section data-ng-init="getCustomers()">
    <div class="panel" style="padding: 0">

        <div class="row space-top space-bottom" data-ng-show="customers.length == 0">
            <div class="medium-6 medium-centered columns">
                <div class="space-top space-bottom">&nbsp;</div>
                <h5>You haven't added a customer yet!</h5>

                <p>Add customers for :</p>

                <ul class="disc">
                    <li>Easier email marketing</li>
                    <li>Managed CRM services</li>
                </ul>

                <a ui-sref="customers.add" class="button tiny">Add new Customer</a>

                <div class="space-bottom">&nbsp;</div>
            </div>
        </div>

        <div class="row" data-ng-show="customers.length > 0">
            <div class="medium-12 columns">
                <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="customers.length == 0">
                    <thead>
                    <tr>
                        <th width="250">Name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="customer in customers">

                        <td>
                            <a ui-sref="customers.editOrView({customerId: customer.id})">
                                <span class="ellipsis">{{customer.fullName}}</span>
                            </a>
                        </td>
                        <td>{{customer.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
