<section data-ng-init="setupAddProspect()">

    <form name="addProspectForm" data-ng-submit="createOrUpdateProspect()">
        <div class="panel-h">
            <div class="header">
                Add new Prospect
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Name</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" placeholder="Enter Name"
                                       data-ng-model="prospect.name"
                                       data-ng-class="{error: error['name']}"
                                       required>
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Enter name of the Prospect (a business name or an individual's name)
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="address" class="right inline">Address</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="address" placeholder="e.g. San Francisco, CA"
                                       data-ng-model="prospect.address"
                                       data-ng-class="{error: error['address']}" data-ng-autocomplete>
                                <small data-ng-show="error['address']" class="error">
                                    <span data-ng-bind="error['address']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Full address of the Prospect
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="phone" class="right inline">Phone</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="phone" placeholder="Enter Phone"
                                       data-ng-model="prospect.phone"
                                       data-ng-class="{error: error['phone']}">
                                <small data-ng-show="error['phone']" class="error">
                                    <span data-ng-bind="error['phone']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    The contact number (e.g. +1-777-666-5555)
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="prospectType" class="right inline">Prospect Type</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="prospectType" placeholder="Enter Phone"
                                        data-ng-model="prospect.prospectType"
                                        data-ng-class="{error: error['prospectType']}">
                                    <option value="prospect-tag-buyer" selected>Buyer</option>
                                    <option value="prospect-tag-seller">Seller</option>
                                </select>
                                <small data-ng-show="error['prospectType']" class="error">
                                    <span data-ng-bind="error['prospectType']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    For classification of Prospects
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="email" class="right inline">Email</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="email" placeholder="Enter email e.g. prospect@email.com"
                                       data-ng-model="prospect.email"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Prospect's Email address
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="website" class="right inline">Website</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="website" placeholder="Enter website"
                                       data-ng-model="prospect.website"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Website e.g. www.prospect-website.com
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="categories" class="right inline">Categories</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="categories"></select>

                                <p class="muted-color input-footer">
                                    Service categories that this prospect provides
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="facebook" class="right inline">Facebook</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="facebook" placeholder="Enter Facebook Url"
                                       data-ng-model="prospect.facebook"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Facebook Url
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="twitter" class="right inline">Twitter Handle</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="twitter" placeholder="Enter Twitter handle"
                                       data-ng-model="prospect.twitter"
                                       data-ng-class="{error: error['twitter']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Enter name of the Prospect (a business name or an individual's name)
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="linkedin" class="right inline">Linkedin</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="linkedin" placeholder="Enter Linkedin Url"
                                       data-ng-model="prospect.linkedin"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Enter name of the Prospect (a business name or an individual's name)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !addProspectForm.$valid">
                            Create Prospect
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
