<section data-ng-init="prospectList({refresh: true})">
    <div class="panel" style="padding: 0">

        <div class="row space-top space-bottom" data-ng-show="prospects.length == 0">
            <div class="medium-6 medium-centered columns">
                <div class="space-top space-bottom">&nbsp;</div>
                <h5>You don't have any prospects yet!</h5>

                <p>You can do one of the following:</p>

                <ul class="disc">
                    <li>Make a <a data-ui-sref="prospectFinder.search">New Prospect search request</a> to obtain a list
                        of
                        prospects
                    </li>
                    <li>Add a <a ui-sref="prospects.add">new Prospect</a></li>
                </ul>


                <div class="space-bottom">&nbsp;</div>
            </div>
        </div>

        <div class="row" data-ng-show="prospects.length > 0">
            <div class="medium-12 columns">
                <form name="searchQueryForm" data-ng-submit="prospectList({refresh: true})">
                    <input type="text" data-ng-model="queryText.text" placeholder="Enter your query"
                           data-ng-blur="prospectList({refresh: true})"/>
                </form>
                <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="prospects.length == 0">
                    <thead>
                    <tr>
                        <th width="100">Name</th>
                        <th width="100">Origin Query</th>
                        <th width="100">Address</th>
                        <th width="50">Categories</th>
                        <th width="25">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="prospect in prospects">

                        <td>
                            <a ui-sref="prospects.editOrView({probotId: prospect.slug})">
                                <span class="ellipsis">{{prospect.name}}</span>
                            </a>
                        </td>
                        <td>
                            <span data-ng-if="prospect.originQuery">
                                <a data-ng-click="prospectList({originQuery:{{prospect.originQuery.id}},refresh:true})"
                                   title="{{prospect.originQuery.query}} | {{prospect.originQuery.address}}">{{prospect.originQuery.name}}</a>
                            </span>
                        </td>
                        <td>{{prospect.address}}</td>
                        <td>
                            <span
                                    class="label success"
                                    style="margin: 0.2rem 0.2rem"
                                    data-ng-repeat="category in prospect.characteristics">{{category.description}}</span>
                        </td>
                        <td>
                            <span class="label warning"
                                  data-ng-if="prospect.prospectType == 'prospect-tag-buyer'">Buyer</span>
                            <span class="label info"
                                  data-ng-if="prospect.prospectType == 'prospect-tag-seller'">Seller</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
