<section data-ng-init="setupProspectRequest()">

    <form name="addProspectRequestForm" data-ng-submit="createProspectSearchRequest()">
        <div class="panel-h">
            <div class="header">
                Submit a new Prospect search request
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Search Name</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" required placeholder="Enter a Name for this Search Request"
                                       data-ng-model="prospectRequest.name"
                                       data-ng-class="{error: error['name']}"
                                       required>
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Only for identification purposes e.g. My Prospect Search 1
                                </p>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="address" class="right inline">Location</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="address" placeholder="e.g. San Francisco, CA"
                                       data-ng-model="prospectRequest.address"
                                       data-ng-class="{error: error['address']}"
                                       required
                                       data-ng-autocomplete>
                                <small data-ng-show="error['address']" class="error">
                                    <span data-ng-bind="error['address']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    A City or Locality to narrow down search e.g. San Francisco, CA (The more complete,
                                    the better)
                                </p>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Query</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="query" required placeholder="Enter your query"
                                       data-ng-model="prospectRequest.query"
                                       data-ng-class="{error: error['query']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    A Text query or a list of comma seperated keywords
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row" data-ng-hide="listing.id">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !addProspectRequestForm.$valid">
                            Create Search Request
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
