<section>

    <form name="uploadProspectCsvForm" data-ng-submit="uploadCsv()">
        <div class="panel-h">
            <div class="header">
                Upload Prospects
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="service" class="right inline">Service</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="service" data-ng-model="service">
                                    <option value="">Choose a service</option>
                                    <!--<option data-ng-repeat="service in services" value="{{service.name}}">-->
                                    <!--{{service.description}}-->
                                    <!--</option>-->
                                    <option data-ng-repeat="service in marketServices" value="{{service.name}}">
                                        {{service.description}}
                                    </option>
                                </select>
                                <small data-ng-show="error['service']" class="error">
                                    <span data-ng-bind="error['service']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Choose a service under which these prospects shall be classfied
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label class="right inline">Prospect Type</label>
                            </div>
                            <div class="medium-9 columns">
                                <label class="inline">
                                    <input type="radio" name="prospectType"
                                           data-ng-model="prospectType"
                                           value="prospect-tag-seller"
                                           data-ng-class="{error: error['prospectType']}">
                                    Seller
                                </label>
                                <label class="inline">
                                    <input type="radio" name="prospectType"
                                           data-ng-model="prospectType"
                                           value="prospect-tag-buyer"
                                           data-ng-class="{error: error['prospectType']}">
                                    Buyer
                                </label>
                                <small data-ng-show="error['prospectType']" class="error">
                                    <span data-ng-bind="error['prospectType']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Required for classification (i.e for Email Campaigns & Claim Profile Process)
                                </p>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="fileName" class="right inline">CSV File</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="file" id="fileName" file-model="csvFile.src">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Upload a formatted csv file
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row" data-ng-hide="listing.id">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !uploadProspectCsvForm.$valid">
                            Upload
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
