{% extends "../layouts/layout-pages.server.view.html" %}

{% block content %}
    <div class="space-top" itemscope itemtype="http://schema.org/Person" data-ng-controller="PublicProfileController">

        <div class="row" style="max-width: 90%">

            <div class="medium-9 columns">
                <div class="row" style="max-width: 100%">
                    {# %{--Left Section--}% #}
                    <div class="medium-3 columns">
                        {% include "./components/prospect.left.server.view.html" %}
                    </div>

                    {# %{--Right Section--}% #}
                    <div class="medium-9 columns">
                        {% include "./components/prospect.right.server.view.html" %}
                    </div>
                </div>

                {% if prospect.similar.length > 0 %}
                    <div class="panel-h">
                        <div class="header">
                            You might also like
                        </div>
                        <div class="content">
                            <ul class="medium-block-grid-3 no-space">
                                {% for entry in prospect.similar %}
                                    <li>
                                        <div class="profile-listing-entry">
                                            <a href="/pc/{{ entry.slug }}">
                                                <div class="listing-img-panel">
                                                    <div class="image-container" style="background-color: #666f7a">
                                                        <img class="img-responsive-height"
                                                             src="{{ entry.imageUrl || '/assets/img/defaultpic.png' }}"/>
                                                    </div>
                                                </div>
                                            </a>

                                            <div class="content">
                                                <a href="/pc/{{ entry.slug }}"
                                                   class="action-link">
                                                    <h6 class="ellipsis">{{ entry.displayName }}</h6>

                                                    <p class="muted-color ellipsis">
                                                        <span>{{ entry.address }}</span>
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="medium-3 columns">
                <div class="panel-h">
                    <div class="header">
                        Sponsered
                    </div>
                    <div class="content">
                        <div class="row space-2-bottom">
                            <div class="medium-12 columns">
                                <a href="http://www.codoods.com">
                                    <div class="panel center-content"
                                         style="background: url(https://res.cloudinary.com/wanteet-pages/image/upload/v1431130457/codoods.com/codoods-doodle.jpg)">
                                        <img src="https://res.cloudinary.com/wanteet-pages/image/upload/v1431128240/codoods.com/hlhmja0zdgfivo4omtt0.png">

                                        Outsource your QA, User Testing, Code Review
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row space-2-bottom">
                            <div class="medium-12 columns">
                                <a href="http://www.yumquotes.com">
                                    <div class="panel center-content"
                                         style="background: url(https://res.cloudinary.com/wanteet-pages/image/upload/c_scale,w_400/v1426860216/i4rizbo40sebfyzntxbn.jpg)">
                                        <img src="https://res.cloudinary.com/wanteet-pages/image/upload/c_scale,w_220/v1431533417/yumquotes_f6uu15.png"/>

                                        <div style="color: #ffffff">Get custom quotes from the comfort of your home!
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row space-2-bottom">
                            <div class="medium-12 columns">
                                <a href="http://www.inchefs.com">
                                    <div class="panel center-content"
                                         style="background: url(https://res.cloudinary.com/wanteet-pages/image/upload/c_scale,w_400/v1426860216/j0yeedsa644hoocw0l3n.jpg)">
                                        <img src="https://res.cloudinary.com/wanteet-pages/image/upload/v1431513502/inchefs-logo_uweeji.png"/>

                                        <div style="color: #ffffff">Food made perfect by local chefs at inChefs</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row space-2-bottom">
                            <div class="medium-12 columns">
                                <a href="http://www.wanteet.com/around-me">
                                    <div class="panel center-content">
                                        <img src="https://res.cloudinary.com/wanteet-pages/image/upload/v1431635677/help-nearby_bkzndq.png"/>
                                        Find a person nearby who can help you
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}

{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/yumquotes.min.js"></script>
{% endblock %}
