{% extends "../layouts/layout-pages-no-links.server.view.html" %}

{% block content %}

    <div class="row">
        <div class="small-8 small-centered columns">
            <h3>Claim your profile!</h3>
            <h5 class="muted-color">Thanks for verifying, You may now create an account to complete the claim process</h5>
            <div ui-view></div>
        </div>
    </div>
    <meta content="{{ globals }}" name="_globals"/>
    <meta content="{{ services }}" name="_services"/>
    <script>
        var prospectId = '{{ claimData.prospectId }}';
        var claimToken = '{{ claimData.claimToken }}';
        var prospectEmail = '{{ claimData.prospectEmail }}';
    </script>
{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/home.min.js"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
{% endblock %}

