<section data-ng-init="setupPage()">

    <form name="addPageForm" data-ng-submit="createOrUpdatePage()">
        <div class="panel-h">
            <div class="header">
                Add a New Page
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row" data-ng-if="page.slug">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="slug" class="right inline">Url</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="slug"
                                       data-ng-model="page.slug"
                                       disabled
                                       data-ng-class="{error: error['slug']}">
                                <small data-ng-show="error['slug']" class="error">
                                    <span data-ng-bind="error['title']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color">This is the relative url slug to this page (system generated, can't be changed)</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="title" class="right inline">Title</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="title" placeholder="Enter a Title for your page"
                                       data-ng-readonly="page.title == market.name"
                                       data-ng-model="page.title"
                                       required
                                       data-ng-class="{error: error['title']}">
                                <small data-ng-show="error['title']" class="error">
                                    <span data-ng-bind="error['title']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color">The title of your page (required)</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="keywords" class="right inline">Keywords</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="keywords" placeholder="Enter Keywords for your page"
                                       data-ng-model="page.keywords"
                                       data-ng-class="{error: error['keywords']}">
                                <small data-ng-show="error['keywords']" class="error">
                                    <span data-ng-bind="error['keywords']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color">Enter some comma separated keywords relevant to your page</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-5 columns hide-for-small-down">
                                <label for="codeEditor" class="inline">Page content/code :</label>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-12 columns">
                                <textarea id="codeEditor"
                                          data-ng-model="page.content"
                                          data-ng-class="{error: error['content']}">
                                </textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !addPageForm.$valid">
                            Create Page
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
