<section data-ng-init="getPages()">
    <div class="panel" style="padding: 0">

        <div class="row space-top space-bottom" data-ng-show="pages.length == 0">
            <div class="medium-6 medium-centered columns">
                <div class="space-top space-bottom">&nbsp;</div>
                <h5>You haven't added a Landing Page!</h5>

                <p>Adding Landing Pages shall help in:</p>

                <ul class="disc">
                    <li>Add your own HTML & CSS</li>
                    <li>Your own content & design</li>
                    <li>Add additional data and links</li>

                </ul>

                <div class="space-bottom">&nbsp;</div>
            </div>
        </div>

        <div class="row" data-ng-show="pages.length > 0">
            <div class="medium-12 columns">
                <table role="grid" style="width: 100%;border: 0; margin: 0">
                    <thead>
                    <tr>
                        <th width="250">Pages</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="page in pages">

                        <td>
                            <a ui-sref="myPages.editOrView({pageId: page._id})">
                                <span class="ellipsis" data-ng-if="page.title == market.name">Home Page (This is your main landing page)</span>
                                <span class="ellipsis" data-ng-if="page.title != market.name">{{page.title}}</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
