<section >

    <form name="syncWithZohoForm">
        <div class="panel-h">
            <div class="header" align="left">
                Sync with Zoho and run a campaign using your Zoho account
                <span class="center" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns" align="center">
                        <button data-ng-click="syncWithZoho()" target="_blank"  class="button small center">
                            Sync with Zoho
                        </button>
                        <button onclick="window.open('https://campaigns.zoho.com');" target="_blank"  class="button small center">
                            Run Campaign on Zoho
                        </button>
			
			<input onchange="hello()"  type="hidden" id="accessToken" value="{{sanjeet.id}}" />
    			<input type="hidden" id="id" value="{{sanjeet.accessToken}}" />

                    </div>
                </div>
            </div>
        </div>
    </form>
	<script>
	function hello(){
		var accessToken = document.getElementById("accessToken").value;
    		var id = document.getElementById("id").value;
    		localStorage.setItem('id', id);
    		localStorage.setItem('accessToken', accessToken);
	}	
</script>
</section>
