<section data-ng-init="setupCreateCustomerServiceCenter()">

    <form name="createMarketForm"  data-ng-hide="progress.isFirstStepDone"  data-ng-submit="createCustomerServiceCenter()">
        <div class="panel-h">
            <div class="header">
                Create your customer service center
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom" style="margin:12px 0 0 0;">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Name of Customer Service Center</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" required placeholder="Enter a Name for your Customer Service Center"
                                       data-ng-model="market.name"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Create your brand (maximum 3 words)
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="tagline" class="right inline">Tagline</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="tagline" required placeholder="Enter a tagline for your Customer Service Center"
                                       data-ng-model="market.settings.tagline"
                                       data-ng-class="{error: error['settings.tagline']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Enter a tagline that speaks your brand (maximum 140 characters)
                                </p>
                            </div>
                        </div>
                        <!-- hidden offer type join-->
                        <!-- hidden services customerService-->
                        <!-- hidden logo wanteer -->


                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="row" data-ng-hide="market.id">
                    <div class="medium-12 columns" style="margin:12px 0px 12px 0px;">
                        <button type="submit" class="button small right">
                            Create Customer Service Center
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="panel-h" data-ng-show="progress.isFirstStepDone">
        <div class="header ellipsis">
            <span data-ng-hide="progress.isSecondStepDone">Almost done!</span><span
                data-ng-show="progress.isSecondStepDone">Complete!</span>
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-12 columns">
                    <div data-ng-hide="progress.isSecondStepDone">
                        <h5>We're almost done!</h5>

                        <p>Pleast wait while we setup your customer service center</p>

                        <div class="progress">
                            <span class="meter" data-ng-style="progress.style"></span>
                        </div>

                    </div>

                    <div data-ng-show="progress.isSecondStepDone">
                        <h5>Congratulations!</h5>

                        <p>Your market is ready! Click on the link below to goto your customer service center</p>

                        <div class="alert-box info text-center">
                            <h3>
                                <a data-ng-href="http://{{market.settings.urls[0]}}/dashboard">http://{{market.settings.urls[0]}}</a>
                            </h3>
                        </div>

                    </div>
	
		     <div data-ng-show="progress.isSecondStepDone">
	 <p>
        For the chatbot to show up on your website, please add the javascript
        below to all the pages in your website. You can simply copy and paste
        this code just before the closing <b>&lt;/body&gt; </b> tag of
        your website's HTML source code.
	  </p>
	<div style="position: relative; padding: 0; width: 980;">
		<p style="position:absolute; font-weight: 100; font-size: 14px; margin:0; padding: 0; padding-top: 5px; color:rgb(0, 0, 0); right:0; top:0; z-index:1;">
		
		</p>
		<textarea  onclick="this.focus();this.select()" rows="2" cols="120" readonly style="overflow:hidden; background-color: rgba(185, 184, 184, 0.075); padding:10px 10px; resize: none;">&lt;script src="http://tracyjs.wanteet.com/{{market.slug}}.js">&lt;/script></textarea>

	</div>	  
	  
    </div>


                </div>
            </div>
        </div>
    </div>

</section>
