<div class="signupSection">
    <form data-ng-submit="signup()" class="signin">
        <div class="panel-h">
            <div class="header">
                Wanteet account information
            </div>
            <div class="content">

                <div class="row">
                    <div class="small-12 columns">
                        <input type="text" required id="firstName" name="firstName"
                               data-ng-class="{error: error['firstName']}"
                               data-ng-model="credentials.firstName" placeholder="First name">
                        <small data-ng-show="error['firstName']" class="error">
                            <span data-ng-bind="error['firstName']['message']"></span>
                            <span class="nub"></span>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input type="text" required id="lastName" name="lastName"
                               data-ng-class="{error: error['lastName']}"
                               data-ng-model="credentials.lastName" placeholder="Last name">
                        <small data-ng-show="error['lastName']" class="error">
                            <span data-ng-bind="error['lastName']['message']"></span>
                            <span class="nub"></span>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input type="text" required id="username" name="username"
                               data-ng-class="{error: error['username']}"
                               data-ng-model="credentials.username" placeholder="Email Address">
                        <small data-ng-show="error['username']" class="error">
                            <span data-ng-bind="error['username']['message']"></span>
                            <span class="nub"></span>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input type="password" required id="password" name="password"
                               data-ng-class="{error: error['password']}"
                               data-ng-model="credentials.password" placeholder="Password">
                        <small data-ng-show="error['password']" class="error">
                            <span data-ng-bind="error['password']['message']"></span>
                            <span class="nub"></span>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input type="password" required id="confirmPassword" name="confirmPassword"
                               data-ng-class="{error: error['confirmPassword']}"
                               data-ng-model="credentials.confirmPassword" placeholder="Confirm Password">
                        <small data-ng-show="error['confirmPassword']" class="error">
                            <span data-ng-bind="error['confirmPassword']['message']"></span>
                            <span class="nub"></span>
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <input type="checkbox" name="subscribe" id="subscribe" class="space-bottom"
                               data-ng-model="credentials.subscribe" data-ng-checked="1==1">
                        <label for="subscribe">Subscribe to the Wanteet newsletter</label>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <p>
                            By signing up, I agree to Wanteet's <a href="/info/terms">Terms of Service</a> and <a
                                href="/info/policy">Privacy Policy</a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="footer">
                <div class="row" style="margin:12px 0px 12px 0px;">
                    <div class="small-9 columns">
                        <p style="margin: 1rem 0">Already an Wanteet member? <a data-signin-reveal ui-sref="signin">Log
                            in</a></p>
                    </div>
                    <div class="small-3 columns">
                        <button class="button small right" type="submit">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
