{% extends "../layouts/layout-pages.server.view.html" %}

{% block content %}
<div class="space-top" itemscope itemtype="http://schema.org/Person" data-ng-controller="PublicProfileController">
    {% if profile.isSeller and profile.sellerProfile.propertyList.length > 0 %}
    <div class="row" style="max-width: 100%">
        {% else %}
        <div class="row">
            {% endif %}
            {# %{--Left Section--}% #}
            <div class="medium-3 columns">
                {% include "./components/profile.left.server.view.html" %}
            </div>

            {# %{--Right Section--}% #}
            <div class="{{ {true:'medium-6', false:'medium-9'}[profile.sellerProfile.propertyList.length > 0] }} columns">
                {% include "./components/profile.right.server.view.html" %}
            </div>

            {% if profile.isSeller and profile.sellerProfile.propertyList.length > 0 %}
                <div class="medium-3 columns">
                    {% include "./components/profile.extended.server.view.html" %}
                </div>
            {% endif %}
        </div>
        <meta content="{{ publicProfile }}" name="_publicProfile"/>
    </div>

    {% endblock %}

    {% block js %}

    {% endblock %}

    {% block files %}
        <script type="text/javascript" src="assets/js/home.min.js"></script>
    {% endblock %}
