<section data-ng-init="setupCreateMarket()">

    <form name="createMarketForm" data-ng-submit="createMarket()">
        <div class="panel-h" data-ng-hide="progress.isFirstStepDone">
            <div class="header">
                Create new Market
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Name of Market</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" required placeholder="Enter a Name for your Market"
                                       data-ng-model="market.name"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Set your brand, keep it concise (recommended: maximum 3 words)
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="tagline" class="right inline">Tagline</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="tagline" required placeholder="Enter a tagline"
                                       data-ng-model="market.settings.tagline"
                                       data-ng-class="{error: error['settings.tagline']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Set a tagline for your market, in 140 characters (Optional)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="row" data-ng-hide="market.id">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !createMarketForm.$valid">
                            Create Customer Service Center
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="panel-h" data-ng-show="progress.isFirstStepDone">
        <div class="header ellipsis">
            <span data-ng-hide="progress.isSecondStepDone">Almost done!</span><span
                data-ng-show="progress.isSecondStepDone">Complete!</span>
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-12 columns">
                    <div data-ng-hide="progress.isSecondStepDone">
                        <h5>We're almost done!</h5>

                        <p>Pleast wait while we setup your market</p>

                        <div class="progress">
                            <span class="meter" data-ng-style="progress.style"></span>
                        </div>

                    </div>

                    <div data-ng-show="progress.isSecondStepDone">
                        <h5>Congratulations!</h5>

                        <p>Your market is ready! Click on the link below to goto your market</p>

                        <div class="alert-box info text-center">
                            <h3>
                                <a data-ng-href="http://{{market.settings.urls[0]}}">http://{{market.settings.urls[0]}}</a>
                            </h3>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</section>
