<section data-ng-init="setupMarketForm()">

    <form name="editMarketForm" data-ng-submit="updateMarket()">
        <div class="panel-h">
            <div class="header">
                Market Settings
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="marketId" class="right inline">Market ID</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="marketId" required
                                       readonly
                                       data-ng-model="market.slug"
                                       data-ng-class="{error: error['slug']}">
                                <small data-ng-show="error['slug']" class="error">
                                    <span data-ng-bind="error['slug']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    This is your unique market Id. While using Wanteet API, this id has to be present in
                                    <em>'X-Market-ID'</em> header
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Market Name</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" required
                                       readonly
                                       data-ng-model="market.name"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="codeEditor" class="right inline">Settings</label>
                            </div>
                            <div class="medium-9 columns">
                                <textarea id="codeEditor"
                                          data-ng-class="{error: error['settings']}">
                                </textarea>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="updateDomainsi" class="right inline">Update Domains?</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type='checkbox' id="updateDomains"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !editMarketForm.$valid">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
