<section data-ng-init="getEmailTemplate()">

    <form name="addEmailTemplateForm" data-ng-submit="createOrUpdateEmailTemplate()">
        <div class="panel-h">
            <div class="header">
                Add new Email Theme
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Email Name</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" readonly placeholder="Enter a Name for your Email Theme"
                                       data-ng-model="emailTemplate.name"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="needTheme" class="right inline">Apply Email Theme?</label>
                            </div>
                            <div class="medium-9 columns">
                                <label for="needTheme" class="inline">
                                    <input type="checkbox" id="needTheme"
                                           data-ng-model="emailTemplate.needTheme"
                                           data-ng-class="{error: error['needTheme']}">
                                    Check this box if current Email Theme needs to applied to this template
                                </label>
                                <small data-ng-show="error['needTheme']" class="error">
                                    <span data-ng-bind="error['needTheme']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="subject" class="right inline">Email subject</label>
                            </div>
                            <div class="medium-9 columns">
                                <input required type="text" id="subject" required placeholder="Enter Email Subject"
                                       data-ng-model="emailTemplate.subject"
                                       data-ng-class="{error: error['subject']}">
                                <small data-ng-show="error['subject']" class="error">
                                    <span data-ng-bind="error['subject']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-5 columns hide-for-small-down">
                                <label for="codeEditor" class="inline">Email body content/code :</label>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-12 columns">
                                <textarea id="codeEditor"
                                          data-ng-model="emailTemplate.content"
                                          data-ng-class="{error: error['content']}">
                                </textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !addEmailTemplateForm.$valid">
                            Edit Email Template
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
