<section data-ng-init="getEmailTemplates()">
    <div class="panel" style="padding: 0">

        <div class="row space-top space-bottom" data-ng-show="emailTemplates.length == 0">
            <div class="medium-6 medium-centered columns">
                <div class="space-top space-bottom">&nbsp;</div>
                <h5>You haven't added a Email Template yet!</h5>

                <p>Adding Email Templates shall help in:</p>

                <ul class="disc">
                    <li>Custom style of email</li>
                    <li>Your own promotional email design</li>
                    <li>Add additional data and links</li>

                </ul>

                <a ui-sref="emailTemplates.add" class="button tiny">Add new Email Template</a>

                <div class="space-bottom">&nbsp;</div>
            </div>
        </div>

        <div class="row" data-ng-show="emailTemplates.length > 0">
            <div class="medium-12 columns">
                <table role="grid" style="width: 100%;border: 0; margin: 0">
                    <thead>
                    <tr>
                        <th width="250">Email Templates</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="emailTemplate in emailTemplates">

                        <td>
                            <a ui-sref="emailTemplates.editOrView({emailTemplateId: emailTemplate.id})">
                                <span class="ellipsis">{{emailTemplate.name}}</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
