<section data-ng-init="setupMarketForm()">
    <form name="editMarketForm" data-ng-submit="updateMarket()">
        <div class="panel-h">
            <div class="header">
                Add ons
            </div>
            <div class="content">
                <div class="row space-bottom">
                    <div class="medium-12 columns">
                        <ul class="small-block-grid-1 medium-block-grid-2">
                            <li>
                                <input type="checkbox" id="hyperLocal"
                                       data-ng-model="market.settings.addons['hyper_local']"/>
                                <label for="hyperLocal"><b>Hyper Local</b></label>

                                <p class="muted-color">For location-based search & match</p>
                            </li>
                            <li>
                                <input type="checkbox" id="sellerSubscription"
                                       data-ng-model="market.settings.addons['seller_subscription']"/>
                                <label for="sellerSubscription"><b>Seller Subscription</b></label>

                                <p class="muted-color">Seller has to be subscribed to bid</p>
                            </li>
                            <li>
                                <input type="checkbox" id="prospectFinder"
                                       data-ng-disabled="'true'" data-ng-model="market.settings.addons['prospect_finder']"/>
                                <label for="prospectFinder" class="muted-color"><b>Prospect Finder™</b></label>

                                <p class="muted-color">For prospect management tools in your market</p>
                            </li>
                            <li>
                                    <input type="checkbox" id="faq"
                                           data-ng-model="market.settings.addons['faq']"/>
                                    <label for="faq"><b>FAQ</b></label>
    
                                    <p class="muted-color">Add FAQ customer service window</p>
                                </li>
                            <li>
                                <input type="checkbox" id="eventCalendar"
                                       data-ng-model="market.settings.addons['event_calendar']"/>
                                <label for="eventCalendar"><b>Event Calendar</b></label>

                                <p class="muted-color">Book time on Seller's calendar </p>
                            </li>
                            <li>
                                <input type="checkbox" id="paymentConfiguration"
                                       data-ng-model="market.settings.addons['payment']"/>
                                <label for="paymentConfiguration" ><b>Payments</b></label>

                                <p class="muted-color">Enable Payments</p>
                            </li>
                            <li>
                                <input type="checkbox" id="spotbuzzz"
                                       data-ng-model="market.settings.addons['spotbuzzz']" disabled/>
                                <label for="spotbuzzz" class="muted-color"><b>SpotBuzzz™</b></label>

                                <p class="muted-color">Community engagement tools</p>
                            </li>
                            <li>
                                <input type="checkbox" id="giftCertificates"
                                       data-ng-model="market.settings.addons['gift_certificates']" disabled/>
                                <label for="giftCertificates" class="muted-color"><b>Gift Certificates</b></label>

                                <p class="muted-color">Redeemable gift certificates</p>
                            </li>
                            <li>
                                <input type="checkbox" id="landingPages"
                                       data-ng-model="market.settings.addons['landing_pages']" disabled/>
                                <label for="landingPages" class="muted-color"><b>Marketing Pages</b></label>

                                <p class="muted-color">Add more custom landing marketing pages</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !editMarketForm.$valid">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

