<section>
    <div class="panel-h" data-ng-controller="SubscriptionsController" data-ng-init="initScreen()">
        <div class="header">
          Billing Subscription of {{market.name}}
        </div>
        <div class="content">
	  <div data-ng-if="planStatus != 'trialing' " class="row">
		<div data-ng-if="planStatus != 'active'" style="background-color: #f7e4e1 !important;margin:5px;" class="panel callout radius">
			  <h3>No active subscription!.</h3>
			  <p>There is no active subscription, select the below subscription to continue using the services.</p>
		</div>
	   </div>
            <div class="row">
                <div class="medium-12 columns">
    
                    <ul class="small-block-grid-{{gridCols}}">
                        <li data-ng-repeat="plan in plans | orderBy:'amount'">
                            <ul class="pricing-table">
                                <li class="title {{{true: 'active-title-pricing', false:'inactive-title-pricing'}[plan.subscribed]}}"
                                    style="text-transform: capitalize; color: #ffffff;"
                                    data-ng-bind="plan.name"></li>
                                <li class="price">
                                    <span data-ng-if="plan.amount > 0">{{plan.amount | wCurrency}}</span>
                                    <span data-ng-if="plan.amount == 0">Free!</span>
                                </li>
                                <li class="description" data-ng-bind-html="plan.description"></li>
                                <li class="bullet-item" data-ng-repeat="feature in plan.features track by $index">
                                    {{ feature }}
                                </li>
                                <li class="cta-button">
                                    <button data-ng-disabled="(plan.amount==0 && !showTrialPlan) || isAdmin" class="button"
                                            data-ng-click="confirmSubscription(plan.name)"
                                            data-ng-if="!plan.subscribed">
                                        <span data-ng-if="plan.amount > 0">Buy Now</span>
                                        <span data-ng-if="plan.amount == 0 && showTrialPlan">Try Now</span>
                                        <span data-ng-if="plan.amount == 0 && !showTrialPlan">Trial Ended</span>
                                    </button>
                                    <button class="button alert"
                                            data-ng-click="cancelSubscription()"
                                            data-ng-if="plan.subscribed">
                                        <i class="fa fa-times"/> Cancel
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="reveal-modal tiny" data-reveal id="confirmSubscriptionDialog" style="padding: 0;">
            <div class="panel-h">
                <div class="header">
                    Please review your subscription choice!
                </div>
                <div class="content">
                    <div class="row">
                        <div class="medium-12 columns medium-centered center-content">
                            <h3 data-ng-bind="market.name"></h3>
                            <h5 class="space-top" style="text-transform: capitalize">{{selectedPlan.name}}</h5>
                            <h5>
                                <strong>
                                    <span data-ng-if="selectedPlan.amount  > 0">{{selectedPlan.amount  | wCurrency}}</span>
                                    <span data-ng-if="selectedPlan.amount  == 0">Free!</span>
                                </strong>
                            </h5>
    
                            <p class="space-top muted-color">By clicking 'Confirm' you agreed to Wanteet's <a
                                    href="">Terms</a> &amp; <a href="">Privacy
                                policy</a></p>
    
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <a class="button warning small modal-close-btn" data-cancel-button>Cancel</a>
                    <a class="button small right" data-confirm-button>Confirm</a>
                </div>
            </div>
        </div>
    
        <div class="reveal-modal tiny" data-reveal id="cancelSubscriptionDialog" style="padding: 0;">
            <div class="panel-h">
                <div class="header">
                    Please review your choice!
                </div>
                <div class="content">
                    <div class="row">
                        <div class="medium-12 columns medium-centered center-content">
                            <h5>You are about to cancel your <span data-ng-bind="market.name"></span> subscription</h5>
                            <h4>Are you sure ?</h4>
    
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <a class="button warning small modal-close-btn" data-cancel-button>Cancel</a>
                    <a class="button small right" data-confirm-button>Confirm</a>
                </div>
            </div>
        </div>
    
    </div>
    
</section>
