<section data-ng-init="setupMarketForm()">
    <form name="editMarketForm" data-ng-submit="updateMarket()">
        <div class="panel-h">
            <div class="header">
                Branding
            </div>
            <div class="content">
                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="logo" class="right inline">Market logo</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="logo" placeholder="Enter url to your logo"
                               data-ng-model="market.settings.logo"
                               data-ng-class="{error: error['settings']}">
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <div class="space-top">
                        flowObj {{flowObj.files.length}}
                        <!--img data-ng-if="flowObj.files.length > 0"
                         src="flowObj.files[0]" class="img-responsive" style="border:1px solid #efefef" width="225" height="225"/-->
                        <img data-ng-if="!flowObj.files.length" class="img-responsive" style="border:1px solid #efefef"
                         data-ng-src="{{market.settings.logo || 'assets/img/defaultpic.png?v=2'}}"
                         width="225" height="225"/>
                        </div>
                        <div class="content">
                            <div flow-object="flowObj" class="drop" flow-init
                            flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()];initFileUpload()"
                            flow-files-submitted="flowObj.upload()"
                            flow-file-success="uploadSuccess(flowObj, $file, $message)">
                            <div ng-class="dropClass" class="panel radius no-space drop-zone"
                                flow-drop>
                                <span class="button tiny warning" flow-btn> Upload Files </span>
                                <strong>OR</strong>
                                <span class="muted-color">Drag And Drop your files here</span>
                            </div>
                            <p class="muted-color input-footer">
                                Market logo will be used in emails and market pages. Recommended dimensions 150 x 38 px
                            </p>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="favicon" class="right inline">Favicon</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="favicon" placeholder="Enter url to your favicon"
                               data-ng-model="market.settings.favicon"
                               data-ng-class="{error: error['settings']}">
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <div data-ng-if="market.settings.favicon" class="space-top">
                            <img style="border:1px solid #efefef" data-ng-src="{{market.settings.favicon}}"/>
                        </div>
                        <p class="muted-color input-footer">
                            Favicon for your market (Optional)
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="listingImage" class="right inline">Default Listing Image</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="listingImage" placeholder="Enter url to your listing image"
                               data-ng-model="market.settings.listingImage"
                               data-ng-class="{error: error['settings']}">
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <div data-ng-if="market.settings.listingImage" class="space-top">
                            <img style="border:1px solid #efefef" data-ng-src="{{market.settings.listingImage}}"/>
                        </div>
                        <p class="muted-color input-footer">
                            Default Listing image. Dimensions must be less than
                            640 x 480 px (Optional)
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="facebook" class="right inline">Facebook Page</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="facebook" placeholder="Enter url to your Facebook Page"
                               data-ng-model="market.settings.branding.facebook"
                               data-ng-class="{error: error['settings']}">
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Your Facebook page (Optional)
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="twitter" class="right inline">Twitter</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="twitter" placeholder="Enter url to your Twitter page"
                               data-ng-model="market.settings.branding.twitter"
                               data-ng-class="{error: error['settings']}">
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Your Twitter page (Optional)
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="instagram" class="right inline">Instagram</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="instagram" placeholder="Enter url to your Instagram"
                               data-ng-model="market.settings.branding.instagram"
                               data-ng-class="{error: error['settings']}">
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Your Instagram page (Optional)
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="email" class="right inline">Email</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="email" placeholder="Enter your public email"
                               data-ng-model="market.settings.branding.email"
                               data-ng-class="{error: error['settings']}">
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Visible to everyone, in emails & landing pages (Optional)
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="phone" class="right inline">Phone No.</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="phone" placeholder="Enter your phone number"
                               data-ng-model="market.settings.branding.phone"
                               data-ng-class="{error: error['settings']}">
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Your Phone No. (Optional)
                        </p>
                    </div>
                </div>
		<hr/>
		<div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="request_phrase1" class="right inline">Change default word "Place"</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="request_phrase1" placeholder="Book, Place, Schedule ..."
                               data-ng-disabled="isRequestPhraseDisabled"
                               data-ng-model="market.settings.branding.request_phrase1"
                               data-ng-class="{error: error['settings']}">
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Change the default word to Book, Order, Schedule etc
                        </p>
                    </div>
                </div>

		<div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="request_phrase2" class="right inline">Change default word "Request"</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="request_phrase2" placeholder="Appointment, Request, Ticket..."
                               data-ng-model="market.settings.branding.request_phrase2"
                               data-ng-disabled="isRequestPhraseDisabled"
                               data-ng-class="{error: error['settings']}">
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Change the default word to Appointment, Ticket, Service, Request... 
                        </p>
                    </div>
                </div>



            </div>

            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !editMarketForm.$valid">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

