<section>
    <form>
        <div class="panel-h">
            <div class="header">
                Chat-Widget Settings
            </div>
            <div class="content">
		<p>
			For the chatbot to show up on all the pages of your website, please add the javascript below, according to the type of your website.
        <div style="position: relative; padding: 0; width: 980;">
                <p style="position:absolute; font-weight: 100; font-size: 14px; margin:0; padding: 0; padding-top: 5px; color:rgb(0, 0, 0); right:0; top:0; z-index:1;">

                </p>
                <textarea  onclick="this.focus();this.select()" rows="2" cols="120" readonly style="overflow:hidden; background-color: rgba(185, 184, 184, 0.075); padding:10px 10px; resize: none;">&lt;script src="http://tracyjs.wanteet.com/{{market.slug}}.js">&lt;/script></textarea>
	</div>
	
	<div style="margin-top:25px;">
	<h5>For the HTML Websites</h5>
<p>
       You can simply copy and paste
        this code just before the closing <b>&lt;/body&gt; </b> tag of
        your website's HTML source code on the pages where you want the chat-widget to appear.
</p>

<h5>For the Wordpress Websites</h5>
<p> Please install the following plugin <a href="#">Click Here</a></p>
	</div>
	    
	</div>
       </div>
   </form>
</section>

