<section data-ng-init="setupMarketForm()">

    <form name="editMarketForm" data-ng-submit="updateMarket()">
        <div class="panel-h">
            <div class="header">
                Market Settings
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="marketId" class="right inline">Market ID</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="marketId" required
                                       readonly
                                       data-ng-model="market.slug"
                                       data-ng-class="{error: error['slug']}">
                                <small data-ng-show="error['slug']" class="error">
                                    <span data-ng-bind="error['slug']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    This is your unique market Id. While using Wanteet API, this id has to be present in
                                    <em>'X-Market-ID'</em> header
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Market Name</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" required
                                       readonly
                                       data-ng-model="market.name"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="tagline" class="right inline">Tagline</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="tagline" required placeholder="Enter a Name for your Market"
                                       data-ng-model="market.settings.tagline"
                                       data-ng-class="{error: error['settings.tagline']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Set a tagline for your market, in 140 characters (Optional)
                                </p>
                            </div>
                        </div>

                        <!--
                                                <div class="row space-bottom">
                                                    <div class="medium-3 columns hide-for-small-down">
                                                        <label for="marketType" class="right inline">Market Type</label>
                                                    </div>
                                                    <div class="medium-9 columns">
                                                        <select id="marketType" data-ng-model="market.settings.marketType">
                                                            <option value="buyer_payment">Buyer Payment Only</option>
                                                            <option value="seller_subscription">Buyer Payment + Seller Subscriptions</option>
                                                        </select>
                                                        <small data-ng-show="error['settings']" class="error">
                                                            <span data-ng-bind="error['settings']['message']"></span>
                                                            <span class="nub"></span>
                                                        </small>
                                                        <p class="muted-color input-footer">
                                                            Choose the type of Market
                                                        </p>
                                                    </div>
                                                </div>
                        -->

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="offerType" class="right inline">Offer Type</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="offerType" data-ng-model="market.settings.offerType">
                                    <option value="price">Price</option>
                                    <option value="time">Time</option>
                                    <option value="join">Join - Yes or No</option>
                                </select>
                                <small data-ng-show="error['settings']" class="error">
                                    <span data-ng-bind="error['settings']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Type of Offers that can be made
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom" data-ng-if="market.settings.offerType == 'price'">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="supportedCurrencies" class="right inline">Currency</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="supportedCurrencies" data-ng-model="market.settings.supported_currencies"
                                        data-ng-options="currency.isoCode as currency.name for currency in allCurrencies">
                                </select>
                                <small data-ng-show="error['settings']" class="error">
                                    <span data-ng-bind="error['settings']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Currency supported on this Market
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="tags" class="right inline">Services</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="tags" required></select>

                                <p class="muted-color input-footer">
                                    Add the type of services this market will provide
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="fetchListings" class="right inline">Listings</label>
                            </div>
                            <div class="medium-9 columns">
                                <input class="inline" type="checkbox" id="fetchListings"
                                       data-ng-model="market.settings.fetchListings"/>
                                <label class="inline" for="fetchListings"><b>Display listings on landing
                                    page</b></label>
                                <small data-ng-show="error['settings']" class="error">
                                    <span data-ng-bind="error['settings']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Check if want to display market listings on Home page
                                </p>

                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="searchUserView" class="right inline">Search Results View</label>
                            </div>
                            <div class="medium-9 columns">
                                <input class="inline" type="checkbox" id="searchUserView"
                                       data-ng-model="market.settings.search_display_user"/>
                                <label class="inline" for="searchUserView"><b>Display User's image on search results</b></label>
                                <small data-ng-show="error['settings']" class="error">
                                    <span data-ng-bind="error['settings']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Check if want to display User's image on search list
                                </p>
                            </div>
                        </div>
		<hr/>
			<div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="chatWidgetColor" class="right inline">Chat Widget Button Color</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="chatWidgetColor" required placeholder="Enter Chat Widget Button Color"
                                       data-ng-model="market.settings.tracyButtonColors"
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Enter the color for your chat widget buttons, both HEX and Color Names are accepted.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !editMarketForm.$valid">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
