<section data-ng-init="setupMarketForm()">
    <form name="editMarketForm" data-ng-submit="updateMarket()">
        <div class="panel-h">
            <div class="header">
                Social Login & Website URL Configuration
            </div>
            <div class="content">

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="senderEmail" class="right inline">Sender Email</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="senderEmail" required placeholder="Enter an email"
                               data-ng-model="market.settings.sender_email"
                               data-ng-class="{error: error['settings.sender_email']}">
                        <small data-ng-show="error['settings.sender_email']" class="error">
                            <span data-ng-bind="error['settings.sender_email']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            This email will be set as reply-to
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="urls" class="right inline">Urls</label>
                    </div>
                    <div class="medium-9 columns">
                        <textarea id="urls" required data-ng-model="market.settings.urls"
                                  split-array>
                        </textarea>

                        <p class="muted-color input-footer">
                            Enter custom domains per line, set the default as the first
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="marketAdmins" class="right inline">Market Admins</label>
                    </div>
                    <div class="medium-9 columns">
                        <textarea id="marketAdmins" required data-ng-model="market.settings.marketAdmins"
                                  split-array>
                        </textarea>

                        <p class="muted-color input-footer">
                            Enter emails of market admins per line, must be existing users at Wanteet.com
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="fclientId" class="right inline">Facebook Login</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="fclientId" placeholder="clientID"
                               data-ng-model="market.settings.social.facebook.clientID"
                               data-ng-class="{error: error['settings']}">
                        <input class="space-top" type="text" id="fclientSecret" placeholder="clientSecret"
                               data-ng-model="market.settings.social.facebook.clientSecret"
                               data-ng-class="{error: error['settings']}">

                        <p class="muted-color input-footer">
                            For Facebook Login
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="gclientId" class="right inline">Google Login</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="gclientId" placeholder="clientID"
                               data-ng-model="market.settings.social.google.clientID"
                               data-ng-class="{error: error['settings']}">
                        <input class="space-top" type="text" id="gclientSecret" placeholder="clientSecret"
                               data-ng-model="market.settings.social.google.clientSecret"
                               data-ng-class="{error: error['settings']}">

                        <p class="muted-color input-footer">
                            For Google Login
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="lclientId" class="right inline">Linkedin Integration</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="lkclientId" placeholder="clientID"
                               data-ng-model="market.settings.social.linkedin.clientID"
                               data-ng-class="{error: error['settings']}">
                        <input class="space-top" type="text" id="lkclientSecret" placeholder="clientSecret"
                               data-ng-model="market.settings.social.linkedin.clientSecret"
                               data-ng-class="{error: error['settings']}">

                        <p class="muted-color input-footer">
                            For Linkedin Integration
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="zclientId" class="right inline">Zoho Integration</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="zhclientId" placeholder="clientID"
                               data-ng-model="market.settings.social.zoho.clientID"
                               data-ng-class="{error: error['settings']}">
                        <input class="space-top" type="text" id="zhclientSecret" placeholder="clientSecret"
                               data-ng-model="market.settings.social.zoho.clientSecret"
                               data-ng-class="{error: error['settings']}">
                        <input class="space-top" type="text" id="zhcallBackURL" placeholder="callbackURL"
                               data-ng-model="market.settings.social.zoho.callbackURL"
                               data-ng-class="{error: error['settings']}">
						<input class="inline" ng-checked="market.settings.social.zoho.deleteLeadUponSync" 
							  type="checkbox" id="zhdeleteLeadUponSync"
                               data-ng-model="market.settings.social.zoho.deleteLeadUponSync"/>
                        <label class="inline" for="zhdeleteLeadUponSync"><b>Delete leads after sync</b></label>
                         <small data-ng-show="error['settings']" class="error">
                               <span data-ng-bind="error['settings']"></span>
                               <span class="nub"></span>
                          </small>
                        <p class="muted-color input-footer">
                            For Zoho Integration
                        </p>
                    </div>
                </div>
                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="sfclientId" class="right inline">Salesforce Integration</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="sfclientId" placeholder="clientID"
                               data-ng-model="market.settings.social.salesforce.clientID"
                               data-ng-class="{error: error['settings']}">
                        <input class="space-top" type="text" id="sfclientSecret" placeholder="clientSecret"
                               data-ng-model="market.settings.social.salesforce.clientSecret"
                               data-ng-class="{error: error['settings']}">
                        <input class="space-top" type="text" id="sfcallBackURL" placeholder="callbackURL"
                               data-ng-model="market.settings.social.salesforce.callbackURL"
                               data-ng-class="{error: error['settings']}">
                        <input class="inline" ng-checked="market.settings.social.salesforce.deleteLeadUponSync" 
                               type="checkbox" id="sfdeleteLeadUponSync"
                              data-ng-model="market.settings.social.salesforce.deleteLeadUponSync"/>
                       <label class="inline" for="sfdeleteLeadUponSync"><b>Delete leads after sync</b></label>
                         <small data-ng-show="error['settings']" class="error">
                               <span data-ng-bind="error['settings']"></span>
                                <span class="nub"></span>
                          </small>

                        <p class="muted-color input-footer">
                            For Salesforce Integration
                        </p>
                    </div>
                </div>


            </div>


            </div>

            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting">
                            Save Changes
                        </button> <!-- || !editMarketForm.$valid" -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

