<section data-ng-init="setupMarketForm()">
    <form name="editMarketForm" data-ng-submit="updateMarket()">
        <div class="panel-h">
            <div class="header">
                Payment Configuration
            </div>
            <div class="content">
                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="fee" class="right inline">Fee Percentage</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="number" id="fee" required placeholder="Enter a Name for your Market"
                               data-ng-model="market.settings.payments.fee"
                               data-ng-class="{error: error['settings.payments.fee']}">
                        <small data-ng-show="error['settings.payments.fee']" class="error">
                            <span data-ng-bind="error['settings.payments.fee']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Percentage to pe charged per transaction(excluding subscriptions)<br> Leave blank if 0%
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="tax" class="right inline">Tax Percentage</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="number" id="tax" required placeholder="Enter a Name for your Market"
                               data-ng-model="market.settings.payments.tax"
                               data-ng-class="{error: error['settings.payments.tax']}">
                        <small data-ng-show="error['settings.payments.tax']" class="error">
                            <span data-ng-bind="error['settings.payments.tax']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Flat tax percentage to be added to each transaction<br> Leave blank if 0%
                        </p>
                    </div>
                </div>

                <fieldset>
                    <legend><i class="fa fa-cc-stripe"></i> Stripe</legend>
                    <p>You may choose to enable payments via <b><i class="fa fa-cc-stripe"></i> Stripe</b> by configuring the following:</p>
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="stripeSecret" class="right inline">Secret Key</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="stripeSecret" placeholder="Stripe Secret Key"
                                   data-ng-model="market.settings.payments.stripe.secret"
                                   data-ng-class="{error: error['settings']}">

                            <p class="muted-color input-footer">
                                Enter your Stripe API Secret
                            </p>
                        </div>
                    </div>

                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="stripePublic" class="right inline">Public Key</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="stripePublic" placeholder="Stripe Public Key"
                                   data-ng-model="market.settings.payments.stripe.public"
                                   data-ng-class="{error: error['settings']}">

                            <p class="muted-color input-footer">
                                Enter your Stripe API Public Key
                            </p>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend><i class="fa fa-cc-paypal"></i> PayPal</legend>
                    <p>To enable payments via <b><i class="fa fa-cc-paypal"></i> PayPal</b> configure the following:</p>
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="paypalApiUsername" class="right inline">API Username</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="paypalApiUsername" placeholder="Paypal API Username"
                                   data-ng-model="market.settings.payments.paypal.username"
                                   data-ng-class="{error: error['settings']}">

                            <p class="muted-color input-footer">
                                Enter your Paypal API Username
                            </p>
                        </div>
                    </div>

                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="paypalApiPassword" class="right inline">API Password</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="password" id="paypalApiPassword" placeholder="Paypal API Password"
                                   data-ng-model="market.settings.payments.paypal.password"
                                   data-ng-class="{error: error['settings']}">

                            <p class="muted-color input-footer">
                                Enter your Paypal API Password
                            </p>
                        </div>
                    </div>

                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="paypalApiSignature" class="right inline">API Signature</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="paypalApiSignature" placeholder="Paypal API Signature"
                                   data-ng-model="market.settings.payments.paypal.signature"
                                   data-ng-class="{error: error['settings']}">

                            <p class="muted-color input-footer">
                                Enter your Paypal API Signature
                            </p>
                        </div>
                    </div>

                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="paypalApiApp" class="right inline">API App Id</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="password" id="paypalApiApp" placeholder="Paypal App Id"
                                   data-ng-model="market.settings.payments.paypal.app"
                                   data-ng-class="{error: error['settings']}">

                            <p class="muted-color input-footer">
                                Enter your Paypal API App Id
                            </p>
                        </div>
                    </div>

                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="paypalApiReceiver" class="right inline">Primary Receiver</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="password" id="paypalApiReceiver" placeholder="e.g john@doe.com"
                                   data-ng-model="market.settings.payments.paypal.receiver"
                                   data-ng-class="{error: error['settings']}">

                            <p class="muted-color input-footer">
                                Enter your Primary PayPal receiver email id here
                            </p>
                        </div>
                    </div>

                </fieldset>


            </div>

            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !editMarketForm.$valid">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

