<section data-ng-init="setupMarketForm()">
    <form name="editMarketForm" data-ng-submit="updateMarket()">
        <div class="panel-h">
            <div class="header">
                Requests Configuration
            </div>
            <div class="content">
                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="requestFormType" class="right inline">Request Form Type</label>
                    </div>
                    <div class="medium-9 columns">
                        <select id="requestFormType" data-ng-model="market.settings.requests.format">
                            <option value="questions">Regular + Service Questions</option>
                            <option value="regular">Regular without Questions</option>
                        </select>
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            This settings affect how the "Place Request" form is displayed on <a
                                href="/search">Search</a> and <a href="/place-request">Place Request</a> pages
                        </p>
                    </div>
                </div>
                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="sellerVerificationReqd" class="right inline">Seller Verification</label>
                    </div>
                    <div class="medium-9 columns">
                        <input class="inline" type="checkbox" id="sellerVerificationReqd"
                               data-ng-model="market.settings.requests.seller_verification"/>
                        <label class="inline" for="sellerVerificationReqd"><b>Enable Seller Verification</b></label>
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Check if you need sellers to be verified before making any offer in the market
                        </p>

                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="buyerInfo" class="right inline">Buyer Info</label>
                    </div>
                    <div class="medium-9 columns">
                        <input class="inline" type="checkbox" id="buyerInfo"
                               data-ng-model="market.settings.requests.buyer_display_image"/>
                        <label class="inline" for="buyerInfo"><b>Enable Buyer Info in Request List</b></label>
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Check if you need buyer's picture to be visible to sellers, before even they interact with
                            them
                        </p>

                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="callback" class="right inline">Request Closure Callback Url</label>
                    </div>
                    <div class="medium-9 columns">
                        <input class="inline" type="url" id="callback" placeholder="Enter your callback url"
                               data-ng-model="market.settings.requests.accepted_offers_callback"/>
                        <small data-ng-show="error['settings']" class="error">
                            <span data-ng-bind="error['settings']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Configure your callback url, that'll receive request closure data in JSON format
                        </p>

                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !editMarketForm.$valid">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

