<div class="space-top">
    <div class="row">
        <div class="medium-3 columns">
            <div class="row image">
                <div class="large-12 columns center-content">
                    <img class="img-responsive" itemprop="image" src="assets/img/defaultpic.png?v=2"
                         width="225" height="225"/>

                    <div class="panel center-content">
                        <h3 data-ng-bind="authentication.user.displayName"></h3>
                        <a href="#">View Profile</a><br>
                        <a ui-sref="profile">Edit Profile</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <div class="panel-h">
                        <div class="header">
                            Quick Links
                        </div>
                        <div class="content">
                            <ul class="no-bullet">
                                <li><a ui-sref="listings">Add Listings</a></li>
                                <li><a ui-sref="requests">Requests</a></li>
                                <li><a ui-sref="profile.reviews">Reviews & Testimonials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="medium-9 columns">

            <div class="row">
                <div class="medium-12 columns">
                    <div class="panel-h">
                        <div class="header">
                            Alerts
                        </div>
                        <div class="content">
                            <p><a href="">Please tell us how to pay you <i class="fa fa-caret-right"></i></a></p>
                            <hr>
                            <p>Please confirm your email address by clicking on the link we just emailed you. If you
                                cannot find the email, you can request a new confirmation email or change your email
                                address.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <div class="panel-h">
                        <div class="header">
                            Activity
                        </div>
                        <div class="content">
                            <ul class="no-bullet">
                                <li>
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <a href="">inChefs Request #1</a>
                                            <span class="right space-left"><i class="fa fa-map-marker"></i> San Ramon, CA</span>
                                            <span class="right"><i class="fa fa-calendar"></i> 01/31/2015 7:00PM</span>
                                            <hr>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <a href="">inChefs Request #2</a>
                                            <span class="right space-left"><i class="fa fa-map-marker"></i> San Ramon, CA</span>
                                            <span class="right"><i class="fa fa-calendar"></i> 01/31/2015 7:00PM</span>
                                            <hr>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <a href="">inChefs Request #3</a>
                                            <span class="right space-left"><i class="fa fa-map-marker"></i> San Ramon, CA</span>
                                            <span class="right"><i class="fa fa-calendar"></i> 01/31/2015 7:00PM</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <div class="panel-h">
                        <div class="header">
                            Verifications
                            <span class="right"><i class="fa fa-question-circle"></i> </span>
                        </div>
                        <div class="content">
                            <ul class="inline-list">
                                <li><span><i class="fa fa-check-circle"></i> Linkedin</span></li>
                                <li><span><i class="fa fa-check-circle"></i> Facebook</span></li>
                                <li><span><i class="fa fa-check-circle"></i> Address</span></li>
                            </ul>
                            <hr>
                            <a href="">Add Verifications</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
