<div class="reveal-modal medium" data-reveal id="exclusiveListingRequest" style="padding: 0;"
     data-ng-init="initExclusiveListingRequest()">
    <form name="EventSubmitForm" ng-submit="processEvent()">
        <div class="panel-h" style="margin-bottom: 0;">
            <div class="header">
                Place your request
            </div>
            <div class="content" style="padding:5px;">
                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="phone" class="right inline">Mobile number</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="phone" placeholder="Enter your mobile number"
                               data-ng-model="eventData.phone"
                               data-ng-class="{error: error['phone']}">
                        <small data-ng-show="error['phone']" class="error">
                            <span data-ng-bind="error['phone']['message']"></span>
                            <span class="nub"></span>
                        </small>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="dateAndTime" class="right inline">Date &amp; Time</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text"
                               data-ng-model="dateAndTime" required
                               id="dateAndTime" name="dateAndTime"
                               placeholder="e.g. 12/31/2019 07:00 PM"
                               data-ng-class="{error: error['dateTime']}">
                        <small data-ng-show="error['dateTime']" class="error">
                            <span data-ng-bind="error['dateTime']['message']"></span>
                            <span class="nub"></span>
                        </small>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="phone" class="right inline">Address</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="address" placeholder="Enter your full address"
                               data-ng-model="eventData.address"
                               data-ng-class="{error: error['address']}" data-ng-autocomplete>
                        <small data-ng-show="error['address']" class="error">
                            <span data-ng-bind="error['address']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Please add your full address here.
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="details" class="right inline">Special Instructions</label>
                    </div>
                    <div class="medium-9 columns">
                        <textarea id="details"
                                  placeholder="Any special instructions for the sellers"
                                  data-ng-model="eventData.details"
                                  data-ng-class="{error: error['details']}">
                        </textarea>
                        <small data-ng-show="error['details']" class="error">
                            <span data-ng-bind="error['details']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer ">
                            If you want to send any extra detail that seller should consider
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="margin:12px 0px 12px 0px;">
                <a class="button warning small modal-close-btn" data-cancel-button>Cancel</a>
                <button data-confirm-button data-ng-disabled="isWaiting"
                        id="eventForm-btn"
                        type="submit" class="button small right">Submit
                </button>
            </div>
        </div>
    </form>
</div>

