<section class="space-top" data-ng-init="initFinalScreen()">
    <div class="row">
        <div class="medium-8 medium-centered columns">
            <form name="EventSubmitForm" ng-submit="processEvent()">
                <div class="panel-h">
                    <div class="header">
                        <a ui-sref="request" class="label radius info"><i class="fa fa-caret-left"></i> Back</a>
                        One last step - we need two more pieces of information
                    </div>
                    <div class="content" style="padding:5px;">

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="phone" class="right inline">Mobile number</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="phone" placeholder="Enter your mobile number"
                                       data-ng-model="eventData.phone"
                                       data-ng-class="{error: error['phone']}">
                                <small data-ng-show="error['phone']" class="error">
                                    <span data-ng-bind="error['phone']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    for notifications
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="dateAndTime" class="right inline">Date &amp; Time</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text"
                                       data-ng-model="dateAndTime" required
                                       id="dateAndTime" name="dateAndTime"
                                       placeholder="e.g. 12/31/2019 07:00 PM"
                                       data-ng-class="{error: error['dateTime']}">
                                <small data-ng-show="error['dateTime']" class="error">
                                    <span data-ng-bind="error['dateTime']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    By when 
                                </p>
                            </div>
                        </div>

                        <!--<div class="row space-bottom">-->
                        <!--<div class="medium-3 columns">-->
                        <!--<label class="right inline">Budget</label>-->
                        <!--</div>-->
                        <!--<div class="medium-9 columns">-->
                        <!--<div class="row">-->
                        <!--<div class="medium-12 columns">-->
                        <!--<div class="range-slider radius" style="margin-bottom: 2.5rem" data-slider-->
                        <!--data-options="display_selector: #sliderOutput3;start: 50; end: 10000; step: 10; initial: 200">-->
                        <!--<span class="range-slider-handle fa fa-align-justify" role="slider"-->
                        <!--tabindex="0"></span>-->
                        <!--<span class="range-slider-active-segment"></span>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                        <!--<div class="medium-12 columns">-->
                        <!--<span style="transform: translateX({{nubPosition}}px);"-->
                        <!--class="budget-filter-value">-->
                        <!--<spna class="" data-ng-bind="eventData.budget | wCurrency"></spna>-->
                        <!--<span class="nub"></span>-->
                        <!--</span>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class="row space-bottom" data-ng-if="market.settings.offerType == 'price'">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="budget" class="right inline">Budget</label>
                            </div>
                            <div class="medium-9 columns">
                                <div class="row collapse">
                                    <div class="small-1 columns">
                                        <span class="prefix">$</span>
                                    </div>
                                    <div class="small-11 columns">
                                        <input type="number" id="budget" required
                                               name="budget"
                                               placeholder="Enter your budget e.g. 1999.99"
                                               min="0.00" step="0.50"
                                               data-ng-model="eventData.budget"
                                               class="end-field"
                                               data-ng-class="{error: error['budget']}">
                                        <small data-ng-show="error['budget']" class="error">
                                            <span data-ng-bind="error['budget']['message']"></span>
                                            <span class="nub"></span>
                                        </small>
                                    </div>
                                </div>
                                <p class="muted-color input-footer">
                                    your budget
                                </p>
                            </div>
                        </div>


                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="phone" class="right inline">Location</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="address" placeholder="e.g. San Francisco, CA"
                                       data-ng-model="eventData.address"
                                       data-ng-class="{error: error['address']}" data-ng-autocomplete>
                                <small data-ng-show="error['address']" class="error">
                                    <span data-ng-bind="error['address']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                     your coordinates (how do we find you)
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="details" class="right inline">Additional Info</label>
                            </div>
                            <div class="medium-9 columns">
                                <textarea id="details"
                                          placeholder="any information to get you going quickly... "
                                          data-ng-model="eventData.details"
                                          data-ng-class="{error: error['details']}">
                                </textarea>
                                <small data-ng-show="error['details']" class="error">
                                    <span data-ng-bind="error['details']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>

                        <div class="panel-h" style="margin:5px 5px 5px 5px;">
                            <div class="header">
                                Your request details
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <table style="width: 100%; margin: 0; border:0;">
                                            <tr>
                                                <td width="110">Date &amp; Time</td>
                                                <td>{{formatDate(eventData.dateTime)}}</td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>{{eventData.address}}</td>
                                            </tr>
                                            <tr data-ng-show="eventData.budget">
                                                <td>Budget</td>
                                                <td>{{eventData.budget |wCurrencyy}}</td>
                                            </tr>
                                            <tr data-ng-show="eventData.numberOfPeople">
                                                <td>Number of People</td>
                                                <td>{{eventData.numberOfPeople}}</td>
                                            </tr>
                                            <tr data-ng-show="eventData.details">
                                                <td>Request Details</td>
                                                <td data-ng-bind-html="eventData.details"></td>
                                            </tr>
                                            <tr data-ng-show="eventData.services.length > 0"
                                                data-ng-repeat="service in eventData.services">
                                                <td data-ng-bind="service.service"
                                                    style="text-transform: capitalize;"></td>
                                                <td>
                                                    <ul class="no-bullet" style="margin-bottom: 0">
                                                        <li data-ng-repeat="ans in service.answers"
                                                            class="space-2-bottom">
                                                            <span><em><span
                                                                    data-ng-bind="displayQuestions[ans.question]"></span></em></span><br>
                                                            <span><span data-ng-bind="ans.answer"></span></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="footer">
                        <div class="row" style="margin:12px 0px 12px 0px;" >
                            <div class="medium-4 columns">
                                <a class="button small warning"
                                   data-ng-href="/search/{{eventData.services[0].service}}/{{formatLocation(eventData.address)}}">
                                    Start Over
                                </a>
                            </div>
                            <div class="medium-4 columns">
                                <button data-ng-disabled="isWaiting" id="eventForm-btn" type="submit"
                                        class="button small right">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="hidden" data-ng-controller="FirebaseController"></div>
</section>

