<section class="space-top" data-ng-init="initResultScreen()">
    <div class="row">
        <div class="medium-8 medium-centered columns">
            <div class="panel-h">
                <div class="header content-center">
                    Request placed successfully!
                </div>
                <div class="content center-content">

                    <div class="row">
                        <div class="medium-12 columns">
                            <i class="fa fa-check-circle" style="font-size:3rem;color:#1a7700"></i>
                        </div>
                    </div>
                    <div class="row space-bottom ">
                        <div class="medium-12 columns">
                            <h6>Your request has been placed successfully!</h6>
                            <h4 class="space-top space-bottom">Reference #<span data-ng-bind="eventData.id"></span></h4>
                            <p class="space-bottom">
                                <a data-ng-href="/{{market.slug}}/dashboard#!/event/{{eventData.id}}">Click here to
                                    view</a>
                            </p>
                            <p class="space-top">
                                ...Sit back, relax and enjoy while Wanteet sellers get back to you with quotes...
                            </p>
                            <p class="space-top muted-color">
                                Thank you for shopping with Wanteet
                            </p>
                        </div>
                    </div>

                </div>
                <div class="footer">
                    <div class="row">
                        <div class="medium-4 columns">
                            <a data-ng-href="/{{market.slug}}/dashboard#!/byou" class="button small warning">My
                                Requests</a>
                        </div>
                        <div class="medium-4 columns">
                            <a data-ng-href="/{{market.slug}}/search/{{eventData.services[0].service}}/{{formatLocation(eventData.address)}}"
                               class="button small right">Start Over</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

