/*!
 * Datetimepicker for Bootstrap 3
//! version : 4.0.0-beta
 * https://github.com/Eonasdan/datetimepicker/
 */
.datetimepicker-widget.dropdown-menu {
  margin: 1px 0;
  padding: 0px;
  width: 19em;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid $aluminum;
  border-radius: 2px;

  & ul.no-bullet {
    margin-bottom: 0 !important;
  }

  & .collapse-picker {
    display: none;
    visibility: hidden
  }

  & .collapse-picker.in {
    display: block;
    visibility: visible
  }

  & .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility
  }

}

@media (min-width: 768px) {
  .datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width: 992px) {
  .datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width: 1200px) {
  .datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

.datetimepicker-widget.dropdown-menu:before,
.datetimepicker-widget.dropdown-menu:after {
  //  content: '';
  display: inline-block;
  position: absolute;
  float: left;
}

.datetimepicker-widget.dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}

.datetimepicker-widget.dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}

.datetimepicker-widget.dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}

.datetimepicker-widget.dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}

.datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}

.datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}

.datetimepicker-widget .list-unstyled {
  margin: 0;
}

.datetimepicker-widget a[data-action] {
  padding: 0px 0;
}

.datetimepicker-widget a[data-action]:active {
  box-shadow: none;
}

.datetimepicker-widget .timepicker-hour,
.datetimepicker-widget .timepicker-minute,
.datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.datetimepicker-widget button[data-action] {
  padding: 10px;
}

.datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours";
}

.datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes";
}

.datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours";
}

.datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes";
}

.datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours";
}

.datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes";
}

.datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM";
}

.datetimepicker-widget .picker-switch {
  text-align: center;
}

.datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens";
}

.datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}

.datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
  background-color: $white !important;
}

.datetimepicker-widget table {
  width: 100%;
  margin: 0;
  border: 0;
  border-spacing: 0;
  padding: 4px;
}

.datetimepicker-widget td,
.datetimepicker-widget th {
  text-align: center;
  padding: 0.5rem 0 !important;
  background-color: $white !important;
}

.datetimepicker-widget th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.datetimepicker-widget th.dow {
  border-bottom: 1px solid $panel-border-color;
}

.datetimepicker-widget th.picker-switch {
  width: 145px;
}

.datetimepicker-widget th.disabled,
.datetimepicker-widget th.disabled:hover {
  background: $white !important;
  color: #777777;
  cursor: not-allowed;
}

.datetimepicker-widget th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month";
}

.datetimepicker-widget th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month";
}

.datetimepicker-widget thead tr:first-child th {
  cursor: pointer;
}

.datetimepicker-widget thead tr:first-child th:hover {
  background: #eeeeee;
}

.datetimepicker-widget td {
  height: 54px;
  line-height: 54px;
  width: 54px;
}

.datetimepicker-widget td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777777;
}

.datetimepicker-widget td.day {
  height: 20px;
  line-height: 20px;
  width: 20px;
  background-color: $white;
  border: 0 solid $panel-border-color;
}

.datetimepicker-widget td.day:hover,
.datetimepicker-widget td.hour:hover,
.datetimepicker-widget td.minute:hover,
.datetimepicker-widget td.second:hover {
  background: $success-color !important;
  cursor: pointer;
  color: $white;
}

.datetimepicker-widget td.old,
.datetimepicker-widget td.new {
  color: #d9d9d9;
}

.datetimepicker-widget td.today {
  position: relative;
}

.datetimepicker-widget td.today:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid $success-color;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.datetimepicker-widget td.active,
.datetimepicker-widget td.active:hover {
  background-color: $success-color !important;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datetimepicker-widget td.active.today:before {
  border-bottom-color: #fff;
}

.datetimepicker-widget td.disabled,
.datetimepicker-widget td.disabled:hover {
  background: $white !important;
  color: scale_color($white, $lightness: -15%);
  cursor: not-allowed;
}

.datetimepicker-widget td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  //margin: 2px 1.5px;
  cursor: pointer;

}

.datetimepicker-widget td span:hover {
  background: $white;
}

.datetimepicker-widget td span.active {
  background-color: $success-color !important;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datetimepicker-widget td span.old {
  color: #777777;
}

.datetimepicker-widget td span.disabled,
.datetimepicker-widget td span.disabled:hover {
  background: $white !important;
  color: #777777;
  cursor: not-allowed;
}

.datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}

.input-group.date .input-group-addon {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
