@import "settings";
@import "foundation";
@import "animate";
@import "selectize";
@import "datetimepicker";
@import "fullcalendar";
@import "owl";

img.logo {
  width: 100px;
  height: 100px;
}

img.logo-flat {
  height: 43px;
}

img.logo-flat-landing {
  max-height: 150px;
}

@mixin fa-icon($content, $size, $left, $top, $color, $hover-color) {
  span.icon::after {
    content: $content;
    font-family: 'FontAwesome';
    font-size: $size;
    color: $color;
    position: absolute;
    display: block;
    height: 0;
    top: $top;
    left: $left;
    box-shadow: none !important;
  }
  span.icon:hover:after {
    $color: $hover-color;
    box-shadow: none !important;
  }
}

.reveal-modal-bg {
  position: fixed !important;
}

footer small {
  color: $brown;
}

// TopBar Location Box
.top-bar-location-box {

  @media #{$medium-up}{
    width: 20rem;
  }

  position: relative;
  padding: 0 15px;

  i {
    position: absolute;
    top: 10px;
    margin: 8px;
    z-index: 2;
    font-size: 16px;
    color: $light-brown;
  }

  input {
    position: relative;
    border-radius: 12px;
    height: 2rem;
    z-index: 1;
    box-shadow: none;
    padding-left: rem-calc(25);
  }
}

nav.top-bar {
  border-bottom-color: $panel-border-color;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  .has-dropdown {
    & > ul {
      border-radius: 3px;
      border: 1px solid #cccccc;
      overflow: hidden !important;
    }
  }

  & a {
    line-height: 1;
  }

}

.top-bar-section ul {
  li {
    margin-top: -1px;
    & > a > i {
      color: $light-brown;
      font-size: 16px;
    }
    & > a > i:hover {
      color: scale-color($light-brown, $lightness: -14%);
      font-size: 16px;
    }
  }
}

.top-bar-small-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
}

.landing-main-bg {
  background-image: url(../img/sect-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: 25% 25%;
  background-size: cover;
  max-width: 100%;
}

.hp-top-text {
  margin-top: 2.8rem;
}

.top-upper-content {
  & .message {
    text-align: center;
    text-shadow: black 0.1em 0.05em 0.25em;
    color: #ffffff;
  }

  & .hp-top-text {
    text-align: center;
    text-shadow: black 0.1em 0.05em 0.25em;
    & h1 {
      color: #ffffff;
      font-family: 'Dancing Script', cursive;
      margin-bottom: 0;
    }
  }
}

.video-button {
  background: rgba(221, 124, 28, 0.5);
  padding: 0.6rem;
}

.hp-land-sect-1 {
  @media #{$medium-up}{
    margin-top: 2rem;

    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    padding-top: 0.6rem;
  }
  @media #{$small-up}{
    margin-top: 0;
    padding-top: 0.6rem;
    text-align: center;
    text-shadow: black 0.1em 0.05em 0.25em;
  }

  & .image {
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    background-position: 50% 0 !important;
    background-repeat: no-repeat !important;
    background-size: 150% auto !important;
    background: $vapor;
    height: 16rem;
    width: 16rem;
    margin: 0 auto;
  }

  & .content {
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem;
  }

  & .video-button {
    background: rgba(221, 124, 28, 0.5);
    padding: 0.6rem;
  }

  & hr {
    margin: 0;
  }

  & h4 {
    @media #{$medium-up}{
      margin-top: 1.2rem;
      text-shadow: black 0.1em 0.05em 0.25em;
    }
    @media #{$small-up}{
      color: #ffffff;
      margin-bottom: 0;
    }
  }
}

.hp-land-sect-2 {
  @media #{$large-up}{
    padding-top: 1rem;
    background: rgba(0, 0, 0, 0.7);
  }
  @media #{$medium-up}{
    padding-top: 1rem;
    background: rgba(50, 50, 50, 0.6);
  }
  @media #{$small-up}{
    padding-top: 1rem;
  }
}

.hp-land-sect-3 {
  @media #{$large-up}{
    background: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    -moz-border-radius-bottomright: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @media #{$medium-up}{
    background: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

//Data div with 4 elements

.home-data-4 {

  & .heading {
    text-align: center;
    & h4 {
      font-family: 'Dancing Script', cursive;
      margin-top: 0.8rem;
      color: $orange;
    }
  }

  & .content {
    text-align: center;
    padding: 0.5rem 0.625rem 2rem;
    & .image {
      border-radius: 1000px;
      -webkit-border-radius: 1000px;
      background-position: 50% 0 !important;
      background-repeat: no-repeat !important;
      background-size: 150% auto !important;
      background: $vapor;
      height: 16rem;
      width: 16rem;
      margin: 0 auto;
    }
    & h5 {
      margin-top: 1.2rem;
      margin-bottom: 0;
    }
  }
}

//Strips

.home-strip {
  background-color: rgba(133, 198, 78, 0.9);

  & h3 {
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    margin-bottom: 0;
    text-shadow: black 0.1em 0.05em 0.25em;
  }
  & .button {
    margin-bottom: 0;
  }
}

.map-icon {
  & {
    @include fa-icon("\f041", 1.5rem, 0, 0, $topbar-menu-icon-color, scale-color($topbar-menu-icon-color, $lightness: -20%));
  }
}

.basket-icon {
  & {
    @include fa-icon("\f07a", 1.5rem, 53px, 3px, $topbar-menu-icon-color, scale-color($topbar-menu-icon-color, $lightness: -20%));
  }
}

// Tabs

.content-wrapper {
  & .social-btn-txt {
    font-size: $paragraph-aside-font-size;
  }

  & .tabs {
    & dd {
      margin: 0 0.6rem;
      border-top-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      -moz-border-radius-topright: 3px;
      -webkit-border-top-right-radius: 3px;
      border-width: 1px;
      border-color: #e9e0da;
      border-style: solid;
      border-bottom-style: none;
      top: 1px;
      & a {
        font-size: $paragraph-aside-font-size;
        padding: 0.6rem;
      }
    }
  }

  & .tabs-content {
    & .content {
      background: #ffffff;
      width: 100%;
      border-width: 1px;
      border-color: #e9e0da;
      border-style: solid;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    }
  }
}

.content-wrapper {
  margin-top: rem-calc(41) !important;
  padding-top: rem-calc(25) !important;
}

.no-space {
  margin: 0 !important;
}

.space-bottom {
  margin-bottom: rem-calc(12) !important;
}

.space-bottom-small {
  @media #{$small-only} {
    margin-bottom: rem-calc(25) !important;
  }
}

.space-top {
  margin-top: rem-calc(12) !important;
}

.space-right {
  margin-right: rem-calc(12) !important;
}

.space-left {
  margin-left: rem-calc(12) !important;
}

.muted-color {
  color: scale-color($body-font-color, $lightness: 35%) !important;
}

.green-color {
  color: $success-color !important;
}

.red-color {
  color: $alert-color !important;
}

.center-content {
  text-align: center;
}

.panel-h {
  margin-top: $panel-margin-top;
  margin-bottom: $panel-margin-bottom;

  & > .header {
    background: $smoke;
    padding: 0.7rem .625rem;
    font-size: $h5-font-size;
    color: #000000;
    font-weight: bold;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-style: $panel-border-style;
    border-width: $panel-border-size;
    border-color: scale-color($panel-bg, $lightness: $panel-function-factor);
    border-bottom: 0;
  }

  & > .content-body {
    background: $smoke;
    font-weight: normal;
    font-size: rem-calc(14);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  & > .content {
    @include panel();
    margin-bottom: 0;
    padding: .5rem .625rem;
    & > dl {
      & dt {
        font-weight: bold;
        margin-bottom: 0;
        font-size: rem-calc(14);
      }
      & dd, li {
        color: scale-color($charcoal, $lightness: 5%);
        font-weight: normal;
        font-size: rem-calc(14);
        margin-bottom: rem-calc(10);
      }
    }
  }

  & > .footer {
    background: $white;
    padding: 0rem .625rem;
    font-size: $h6-font-size;
    color: #565a5a;
    border-style: $panel-border-style;
    border-width: $panel-border-size;
    border-color: scale-color($panel-bg, $lightness: $panel-function-factor);
    border-top: 0;

    & .button, button {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
  }
}

.expandable-content {
  position: relative;
  //  height: 7rem;
  overflow: hidden;
  transition: height 0.2s;

  & .expand-indicator {
    position: absolute;
    width: 100%;
    height: 3em;
    bottom: 0;
    background: rgba(249, 249, 249, 0);
    background: linear-gradient(to bottom, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 0.9) 50%, rgba(249, 249, 249, 0.9) 50%, $snow 100%);
  }
}

.expandable-trigger-more {
  color: scale-color($charcoal, $lightness: 5%);
  font-size: rem-calc(14);
  :hover {
    color: scale-color($charcoal, $lightness: 5%);
    text-decoration: underline;
    font-size: rem-calc(14);
  }
}

form {
  input, label, .button, button, textarea, select, fieldset {
    margin: 0 !important;
    box-shadow: none !important;
    border-radius: 12px !important;
  }

  input.error {
    border-color: $alert-color;
    background-color: scale_color($alert-color, $lightness: 95%);
  }

  small.error {
    & .nub {
      display: block;
      left: 25px;
      position: absolute;
      width: 0;
      height: 0;
      border: solid 5px;
      border-color: transparent transparent $alert-color transparent;
      top: 35px;
      pointer-events: none;
      overflow: hidden;
      word-break: break-all;
    }
  }

  p.input-footer {
    margin: rem-calc(6) 0 0 0;
  }
}

.button, button {
  border-radius: rem-calc(2);
}

.sidenav {
  & > ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    & > li {
      margin-bottom: 0;
      & > a.side-nav-link {
        text-decoration: none;
        color: scale-color($body-font-color, $lightness: 35%);
        display: block;
        padding: rem-calc(6) 0;
        font-size: rem-calc(14);
        transition: all 0.6s ease-in-out;
      }
      & > a.side-nav-link[aria-selected="true"], a.side-nav-link:hover[aria-selected="true"] {
        color: $body-font-color;
        text-decoration: none;
        font-weight: bold;
      }
      & > a.side-nav-link:hover {
        transition: all 0.6s ease-in-out;
        background: transparent;
        color: scale-color($body-font-color, $lightness: 75%);
      }
    }
  }
}

.full-width {
  width: 100% !important;
}

.button_landingpage_1 {
    display: grid;
    width: 100%;
    height: 8em;
    background: linear-gradient(to bottom, rgba(220, 220, 220, 0) 0%, rgba(220, 220, 220, 0.9) 50%, rgba(220, 220, 220, 0.9) 50%, $orange 100%);
    padding: .1em;
    border-radius: 5px;
    color: $black;
    font-weight: bold;
    line-height: 25px;
}
.button_landingpage_2 {
    display: grid;
    width: 100%;
    height: 8em;
    background: linear-gradient(to bottom, rgba(220, 220, 220, 0) 0%, rgba(220, 220, 220, 0.9) 50%, rgba(220, 220, 220, 0.9) 50%, $light-brown 100%);
    padding: .1em;
    border-radius: 5px;
    color: $black;
    font-weight: bold;
    line-height: 25px;
}
.button_landingpage_3 {
    display: grid;
    width: 100%;
    height: 8em;
    background: linear-gradient(to bottom, rgba(220, 220, 220, 0) 0%, rgba(220, 220, 220, 0.9) 50%, rgba(220, 220, 220, 0.9) 50%, $green 100%);
    padding: .1em;
    border-radius: 5px;
    color: $black;
    font-weight: bold;
    line-height: 25px;
}
#signinModal, #signupModal, .signupSection {

  form {
    input, label, button {
      margin-bottom: rem-calc(8) !important;
      border-radius: 12px;
    }
  }

  .button {
    font-size: rem-calc(14);
    border-radius: 12px;
  }

  a {
    font-size: rem-calc(14);
  }
  font-size: rem-calc(14);
}

.space-2-bottom {
  margin-bottom: rem-calc(12) !important;
}

.fb-btn {
  background-color: #3B5998;
  &:hover, &:focus {
    background-color: #4568b2;
  }
}

.goog-btn {
  background-color: #dd4b39;
  &:hover, &:focus {
    background-color: scale_color(#dd4b39, $lightness: 10%);
  }
}

.linked-btn {
  background-color: #0077B5;
  &:hover, &:focus {
    background-color: scale_color(#0077B5, $lightness: 10%);
  }
}

.separator {
  text-align: center;
  h6, p {
    padding: rem-calc(8);
    background-color: $white;
    display: inline-block;
    margin: 0 !important;
  }
  hr {
    margin: -1.1rem 0 1.5rem;
  }
}

.dashboard-nav {
  max-width: 100%;
  background-color: $charcoal;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.125rem;

  & .large-11 {
    padding-left: 1.5rem;
  }

  & ul {
    margin: 0 !important;
    & li {
      & span {
        padding: 0.50rem 0 0;
        a {
          color: scale_color($white, $lightness: -15%);
          &:hover {
            text-decoration: none;
            color: $white;
          }
          &[aria-selected="true"] {
            text-decoration: none;
            color: $white;
            border-bottom: 2px solid scale_color($white, $lightness: -15%);
          }
        }
      }
    }
  }
}

// IMAGE CLASSES

.img-responsive {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.img-responsive-height {
  height: 100%;
  width: auto;
  border-radius: 12px;
}

.img-small-round {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  border: 1px solid $vapor;
}

.img-small-round-responsive {
  height: auto;
  width: 68px;
  border-radius: 50%;
  border: 1px solid $vapor;
}

.img-with-footer {
  display: inline;
}

.img-photo {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  background-color: $smoke;
}

.img-round {
  border-radius: 50%;
  border: 0px solid #fff;
}

.img-profile-bg {
  position: absolute;
  top: 0;
  left: auto;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.disappear {
  animation: disappearCssAnimation 0s ease-in 5s forwards;
  animation-fill-mode: forwards;
}

@keyframes disappearCssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes disappearCssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.offer-info {
  border-style: dashed;
  border-width: 2px;
  border-color: $green;
  background-color: scale_color($success-color, $lightness: 95%);
}

.offer-declined {
  border-style: dashed;
  border-width: 2px;
  border-color: $alert-color;
  background-color: scale_color($alert-color, $lightness: 95%);
}

.offer-tentative {
  border-style: dashed;
  border-width: 2px;
  border-color: $warning-color;
  background-color: scale_color($warning-color, $lightness: 95%);
}

.listing-item-added {
  & .prefix {
    border: 0 !important;
    background-color: transparent !important;
  }
  & input[type='text'], input[type='text'][readonly] {
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 12px;
  }
}

.listing-remove-item {
  border: 0 !important;
  border-radius: 12px;
  background-color: transparent !important;
  color: $alert-color;
  &:hover, &:focus {
    color: scale_color($alert-color, $lightness: 55%);
  }
}

.collapse {
  & input {
    border-radius: 0 !important;
  }

  & .end-field {
    border-top-right-radius: $input-border-radius !important;
    border-bottom-right-radius: $input-border-radius !important;
  }

  & button.postfix {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    border-top-right-radius: 12px !important;
    width: auto;
    padding-right: 1.25rem !important;
    padding-bottom: 0.6875rem !important;
    padding-left: 1.25rem !important;
  }

  & .prefix {
    border-top-left-radius: $input-border-radius !important;
    border-bottom-left-radius: $input-border-radius !important;
  }
}

.drop > .drag-over {
  border-color: $green !important;
  background-color: scale_color($success-color, $lightness: 75%);
}

.drop > .drop-zone {
  border: 0;
}

.img-list-item {
  padding: 0.2rem;
  width: 292px;
  height: 195px;
  overflow: hidden;
  & img {
    width: 290px;
  }
  & i {
    color: red;
    padding: 0.4rem;
    background: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 3px;
    float: right;
  }
  & div {
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover !important;
  }
}

.slick-previ {
  left: 10px !important;
}

.slick-nexti {
  right: 10px !important;
}

.slick-previ, .slick-nexti {
  position: absolute;
  display: block;
  font-size: 4rem !important;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  top: 30%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  text-shadow: black 0.01em 0.01em 0.2em !important;
  &:hover {
    color: #FFFFFF;
  }
}

.search-left-area {
  overflow-x: hidden;
  overflow-y: scroll;

  & .search-filters {
    background-color: $white;
    padding: $panel-padding;
    border-bottom-color: $panel-border-color;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 12px;
  }

  & .search-results {
    padding: $panel-padding;
    padding-bottom: 0;

    & .search-entry {
      border-radius: 12px;

      & .listing-img-panel {
        padding-bottom: 67%;
        position: relative;
        border-radius: 12px;

        & .image-container {
          background-color: $smoke;
          border-radius: 12px;
          position: absolute;
          text-align: center;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }

        & .price {
          position: absolute;
          bottom: 30px;
          float: right !important;
          padding: 0px 0px;
          background-color: #3c3f40;
          background-color: rgba(60, 63, 64, 0.9);
          color: $white;
        }
      }

      & .content {
        padding: $panel-padding;
        background: $panel-bg;
        border-color: $panel-border-color;
        border-width: 1px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-style: solid;
        border-top-width: 0;

        & .action-link {
          & h6 {
            margin-bottom: 0;
          }
          & h6:hover {
            text-decoration: underline;
            color: $body-font-color;
            margin-bottom: 0;
          }
        }

        & i {
            padding: 3em;
        }

        & p {
          margin-bottom: 0;
        }

        & .profile-img {
          height: 68px;
          width: 68px;
          position: relative;
          top: -48px;
          margin-bottom: -48px;
        }
      }
    }
  }
}
.panel {
    border: 0;
    margin-bottom: 1.25rem;
    padding: 0.625rem;
    background: lightgrey;
    color: #333333;
}

.profile-listing-entry {

  & .listing-img-panel {
    padding-bottom: 67%;
    position: relative;

    & .image-container {
      background-color: $smoke;
      position: absolute;
      text-align: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    & .price {
      position: absolute;
      bottom: 30px;
      float: right !important;
      padding: 7px 10px;
      background-color: #3c3f40;
      background-color: rgba(60, 63, 64, 0.9);
      padding: 10px;
      color: $white;
    }
  }

  & .content {
    padding: $panel-padding;
    background: $panel-bg;
    border-color: $panel-border-color;
    border-width: 1px;
    border-style: solid;
    border-top-width: 0;

    & .action-link {
      & h6 {
        margin-bottom: 0;
      }
      & h6:hover {
        text-decoration: underline;
        color: $body-font-color;
        margin-bottom: 0;
      }
    }

    & p {
      margin-bottom: 0;
    }

    & .profile-img {
      height: 68px;
      width: 68px;
      position: relative;
      top: -48px;
      margin-bottom: -48px;
    }
  }
}

.white {
  color: $body-font-color;
  background-color: $white;
  border: $smoke 1px solid;
  &:hover {
    color: $body-font-color;
    background-color: scale_color($white, $lightness: -2%);
  }
}

.special {
  color: $white;
  background-color: $christmas;
  border: scale_color($christmas, $lightness: -25%) 1px solid;
  &:hover, &:focus {
    color: $white;
    background-color: scale_color($christmas, $lightness: -2%);
  }
}

.payment {
  color: $white;
  background-color: #0077bd;
  border: scale_color(#0077bd, $lightness: 15%) 1px solid;
  &:hover, &:focus {
    color: $white;
    background-color: scale_color(#0077bd, $lightness: 5%);
  }
  &[disabled], &[disabled]:focus, &[disabled]:hover {
    background-color: scale_color(#0077bd, $lightness: -10%);
    border: scale_color(#0077bd, $lightness: 15%) 1px solid;
  }
}

//Adding more properties to range slider
.range-slider-handle {
  color: $aluminum;
  padding: 2px;
}

.budget-filter-value {
  background-color: $success-color;
  color: $white;
  position: absolute;
  z-index: 1;
  border-radius: $global-radius;
  padding: 5px;
  top: -25px;
  left: -22px;

  & .nub {
    display: block;
    left: 40px;
    position: absolute;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: transparent transparent $success-color transparent;
    top: -10px;
    pointer-events: none;
    overflow: hidden;
    word-break: break-all;
  }
}

.radio-check-list {
  background: $white-smoke;
  padding: rem-calc(6) rem-calc(15);
  border-bottom: 1px solid $snow;

  &.first {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  &.last {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom: 0;
  }
}

.rating {
  color: #ffff00;
  & > span {
    text-shadow: 0 0px 2px rgba(0, 0, 0, 0.9);
  }
}

.toast {
  position: fixed !important;
  display: flex;
  z-index: 1000;
  margin: 0.5rem 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

  & .close {
    top: initial;
  }
}

.toast-box {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid scale_color($black, $lightness: 15%);
  color: $white !important;
  & h1, h2, h3, h4, h5, h6, p {
    color: $white !important;
  }
}

.bottom-right {
  @media #{$small-only}{
    width: auto;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    margin-left: 0;
  }

  @media #{$medium-up}{
    max-width: 25rem;
    right: 1rem;
    bottom: 1rem;
  }
}

.top-right {
  @media #{$small-only}{
    width: auto;
    left: 1rem;
    right: 1rem;
    top: 3rem;
    margin-left: 0;
  }

  @media #{$medium-up}{
    max-width: 25rem;
    right: 1rem;
    top: 3rem;
  }
}

.top-center {
  @media #{$small-only}{
    width: auto;
    left: 1rem;
    right: 1rem;
    top: 3rem;
    margin-left: 0;
  }

  @media #{$medium-up}{
    max-width: 25rem;
    left: 0;
    right: 0;
    top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.reduced-padding {
  padding: rem-calc(10) !important;
}

.underline-text {
  text-decoration: underline !important;
}

.pac-container {
  z-index: 1006 !important;
}

#PPDGFrame .panel {
  background: transparent;
  border: 0;
  padding: 0;
  border-radius: 12px;
}

.accordion {
  & a {
    background: transparent !important;
    padding: 1rem 1.25rem 0 !important;
  }

  & a.button{
    background-color: $primary-color !important;
    display: inline-block;
    color: $white;
    margin: 1rem 0 0.25rem !important;
    &.small{
      padding: 0.875rem 1.75rem 0.9375rem 1.75rem !important;
      font-size: 0.8125rem !important;
    }
    &.tiny{
      padding: 0.625rem 1.25rem 0.6875rem 1.25rem !important;
      font-size: 0.6875rem !important;
    }
  }

  & .content {
    border: 0px $panel-border-color solid;
    background: #f9f9f9 !important;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

#feedbackForm {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 1rem;
  & ul {
    min-width: 16rem;
    & li {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #e9e9e9;
      text-align: center;
      border: 1px solid #c9c9c9;
      & a {
        padding: 0.5rem !important;
      }
      & div.content {
        padding: 0rem 0;
        & form {
          text-align: initial;
        }
      }
      & div#success {
        text-align: center;
      }
    }
  }
}

.panel-hall {
  margin-bottom: $panel-margin-bottom;

  & > .header {
    background: $white;
    padding: 0.7rem $panel-padding;
    font-size: $h6-font-size;
    color: #565a5a;
    border-style: $panel-border-style;
    border-width: $panel-border-size;
    border-color: scale-color($panel-bg, $lightness: $panel-function-factor);
    border-bottom: 0;
    & h6.title {
      margin-bottom: 0;
    }
    & h6.subtitle {
      line-height: 1;
      margin-bottom: 0;
      font-size: 0.6rem;
    }
  }

  & > .content {
    @include panel();
    margin-bottom: 0;
    & > dl {
      & dt {
        font-weight: bold;
        margin-bottom: 0;
        font-size: rem-calc(14);
      }
      & dd, li {
        color: scale-color($charcoal, $lightness: 5%);
        font-weight: normal;
        font-size: rem-calc(14);
        margin-bottom: rem-calc(10);
      }
    }
  }

  & > .footer {
    background: $white;
    padding: 0.7rem $panel-padding;
    font-size: $h6-font-size;
    color: #565a5a;
    border-style: $panel-border-style;
    border-width: $panel-border-size;
    border-color: scale-color($panel-bg, $lightness: $panel-function-factor);
    border-top: 0;

    & .button, button {
      margin-bottom: 0 !important;
    }
  }
}

#hallPost {
  position: fixed !important;
  top: 0 !important;
  border-radius: 0 !important;
  margin-right: 0 !important;
  bottom: 0 !important;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100%;
}

.response-msg {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  background: #fbfbfb;
}

.hall-listing {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  }
}

table {
  &th {
    background-color: #c9c9c9 !important;
  }
  &td {
    word-break: break-all;
    padding: 0.3rem;
  }
}

.logo-text {
  padding: 0 0.5rem;
}

.active-title-pricing {
  background: $success-color !important;
}

.inactive-title-pricing {
  background-color: scale-color($info-color, $lightness: 35%) !important;
}

.progress {
  .meter {
    float: left;
  }
}

.workflow {

  margin-top: 1rem;

  h6, p {
    padding: rem-calc(8);
    background-color: $white;
    display: inline-block;
    margin: 0 !important;
  }

  hr {
    margin: -1.1rem 0 1.5rem;
  }
}

.small-only-center-content {
  @media #{$small-only} {
    text-align: center;
  }
}

.medium-only-center-content {
  @media #{$medium-only}{
    text-align: center;
  }
}

.medium-down-center-content {
  @media #{$medium-only} {
    text-align: center;
  }
  @media #{$small-only} {
    text-align: center;
  }
}

.slider {
  background-color: $smoke;
  .slick-slide {
    & img {
      margin: 0 auto;
    }
  }
}

.default-listing-img {
  background-color: $smoke;
  min-height: 300px;
  border-radius: 12px;
  div {
    padding: 20% 25%;
    img {
      margin: 0 auto;
      display: block;
      max-height: 100px;
      min-height: 38px;
      height: auto;
    }
  }
  div.listing-img {
    padding: 0;
    border-radius: 12px;
    img {
      max-height: initial;
      min-height: initial;
    }
  }
}

.fc-view-container {
  & table {
    margin-bottom: 0;
    & thead {
      background: transparent;
      & tr {
        & th, td {
          font-weight: normal;
        }
      }
    }
  }
}

.fc-row{
  .fc-content-skeleton{
    td{
      border-color: #ddd;
    }
  }
  .fc-highlight-skeleton{
    table{
      background-color: transparent;
    }
  }
}

.uploaded-file {
  color: #ffffff !important;
}

.muted {
  background: $charcoal;
  color: $white;
}

.promotion {
  & i {
    color: $orange;
    font-size: 2.5rem;
  }
  & p {
    margin-bottom: 0;
  }
  border: 2px dashed $orange;
  background: transparent;
  border-left: none;
  border-right: none;
}

.promotion-mini {
  & h4 {
    margin: 0 !important;
  }
  & i {
    color: $orange;
  }
  & p {
    margin-bottom: 0;
  }
  border: 2px dashed $orange;
  background: transparent;
  border-left: none;
  border-right: none;
}
