    <div class="main-content">

        <div class="error-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <div class="error text-center">
                            <img class="img-fluid" src="images/error-404.png" alt="image"><br>
                            <a href="index.html" class="button mt-4">Go to Home Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
