<img class="img-fluid footer-before" src="images/footer-before.png" alt="image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-12 re-center">
                    <a href="/"><img class="img-fluid logo" alt="#" src="images/footer-logo.png"></a>
                    <div class="link mt-2">Design By <a href="#">wanteet inc.</a></div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 text-center text-uppercase">
                    <ul class="copyright">
                        <li class="d-inline ml-4 mr-4"><a href="privacy-policy">Privacy Policy</a></li>
                        <li class="d-inline ml-4 mr-4"><a href="contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 text-right r-mt3">
                    <ul class="media-box">
                        <li><a href="/"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="/"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="back-to-top">
            <a class="top" id="top" href="/#top"><i class="ion-ios-arrow-thin-up"></i></a>
        </div>
