    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>247Jeeves - Your Own AI Powered Service Bot</title>


    <link rel="shortcut icon" href="images/favicon.ico">
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/circle.css">

    <link rel="stylesheet" href="css/chatbot.css">

    <link rel="stylesheet" href="css/typography.css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/responsive.css">
