
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/owl.carousel.min.js"></script>

    <script src="js/wow.min.js"></script>

    <script src="js/app.min.js"></script>

    <script src="js/circle.js"></script>

    <script src="js/chatbot.js"></script>

    <script src="js/main.js"></script>

    <script src="js/custom.js"></script>

<div ui-view="auth"></div>
<script type="text/javascript" src="assets/js/zurb.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC2D0Nd2wT1AqJ9e72R95X04TJMUBeGayY"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-40575634-2', 'auto');
    ga('send', 'pageview');

</script>
