 <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index">
                            <img class="logo" src="images/logo.png" alt="image">
                            <img class="logo-stiky" src="images/logo-stiky.png" alt="image">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about-us">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="feature">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact-us">Contact</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/#" id="navbarDropdown"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="pricing">Pricing</a>
                                        <a class="dropdown-item" href="blog">Blog</a>
                                        <a class="dropdown-item" href="blog-detail">Blog Details</a>
                                        <a class="dropdown-item" href="feedback">Feedback</a>
                                        <a class="dropdown-item" href="404">404 Error</a>
                                        <a class="dropdown-item" href="comingsoon">Coming Soon</a>
                                        <a class="dropdown-item" href="support">Support</a>
                                        <a class="dropdown-item" href="privacy-policy">Privacy Policy</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-3 text-right">
                    <ul class="login">
                        <li class="d-inline"><a href="login">Login</a></li>
                        <li class="d-inline active"><a href="register">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
