<section data-ng-init="setupCreateMarket()">

    <form name="createMarketForm" data-ng-hide="progress.isFirstStepDone" data-ng-submit="createMarket()">
        <div class="panel-h">
            <div class="header">
                Create your marketplace
                <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">

                        <div class="row space-bottom" style="margin:12px 0px 0px 0px;">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="name" class="right inline">Name of Marketplace</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="name" required placeholder="Enter a Name for your Marketplace"
                                       data-ng-model="market.name"
                                       data-ng-class="{error: error['name']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Create your brand (maximum 3 words)
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="tagline" class="right inline">Tagline</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="tagline" required placeholder="Enter a tagline for your Marketplace"
                                       data-ng-model="market.settings.tagline"
                                       data-ng-class="{error: error['settings.tagline']}">
                                <small data-ng-show="error['name']" class="error">
                                    <span data-ng-bind="error['name']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Enter a tagline that speaks your brand (maximum 140 characters)
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="offerType" class="right inline">Offer Type</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="offerType" data-ng-model="market.settings.offerType">
                                    <option value="price">Price (in USD)</option>
                                    <option value="time">Time</option>
                                    <option value="join">Join - Yes or No</option>
                                </select>
                                <small data-ng-show="error['settings']" class="error">
                                    <span data-ng-bind="error['settings']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer">
                                    Offers have to be one of the above types in this Marketplace
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="tags" class="right inline">Services</label>
                            </div>
                            <div class="medium-9 columns">
                                <select id="tags" required></select>

                                <p class="muted-color input-footer">
                                    Add the type of services this Marketplace will provide
                                </p>
                            </div>
                        </div>

                        <div class="row space-bottom">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="logo" class="right inline">Marketplace logo</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="text" id="logo" placeholder="Enter url to your logo"
                                       data-ng-model="market.settings.logo"
                                       data-ng-class="{error: error['settings']}">
                                <small data-ng-show="error['settings']" class="error">
                                    <span data-ng-bind="error['settings']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <div data-ng-if="market.settings.logo" class="space-top">
                                    <img style="border:1px solid #efefef" data-ng-src="{{market.settings.logo}}"/>
                                </div>
                                <p class="muted-color input-footer">
                                    Market logo will be used in emails and marketplace pages. Dimensions must be less than
                                    150 x 38 px (Optional)
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="row" data-ng-hide="market.id">
                    <div class="medium-12 columns" style="margin: 12px 0px 12px 0px;">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !createMarketForm.$valid">
                            Create Marketplace
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="panel-h" data-ng-show="progress.isFirstStepDone">
        <div class="header ellipsis">
            <span data-ng-hide="progress.isSecondStepDone">Almost done!</span><span
                data-ng-show="progress.isSecondStepDone">Complete!</span>
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-12 columns">
                    <div data-ng-hide="progress.isSecondStepDone">
                        <h5>We're almost done!</h5>

                        <p>Pleast wait while we setup your market</p>

                        <div class="progress">
                            <span class="meter" data-ng-style="progress.style"></span>
                        </div>

                    </div>

                    <div data-ng-show="progress.isSecondStepDone" style="margin:12px 0px 0px 0px;">
                        <h5>Congratulations!</h5>

                        <p>Your market is ready! Click on the link below to goto your market</p>

                        <div class="alert-box info text-center">
                            <h3>
                                <a data-ng-href="http://{{market.settings.urls[0]}}">http://{{market.settings.urls[0]}}</a>
                            </h3>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</section>
