{% extends "../layouts/layout-signedin.server.view.html" %}

{% block content %}
    <div ng-include="'modules/market-admin/views/components/nav-menu.client.view.html'"></div>
    <div ui-view></div>
{% endblock %}

{% block cssFiles %}
    <link href="assets/codemirror/codemirror.css" rel="stylesheet"/>
    <link href="assets/codemirror/addon/hint/show-hint.css" rel="stylesheet"/>
{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/market-admin.min.js"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="https://www.paypalobjects.com/js/external/dg.js"></script>

    <!-- Code Mirror IDE -->
    <script src="assets/codemirror/codemirror.js"></script>
    <script src="assets/codemirror/addon/hint/show-hint.js"></script>
    <script src="assets/codemirror/addon/hint/xml-hint.js"></script>
    <script src="assets/codemirror/addon/hint/html-hint.js"></script>
    <script src="assets/codemirror/mode/xml/xml.js"></script>
    <script src="assets/codemirror/mode/css/css.js"></script>
    <script src="assets/codemirror/mode/htmlmixed/htmlmixed.js"></script>

    <script src="assets/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="assets/codemirror/addon/comment/continuecomment.js"></script>
    <script src="assets/codemirror/addon/comment/comment.js"></script>
    <script src="assets/codemirror/mode/javascript/javascript.js"></script>

{% endblock %}

{% block js %}
    var _currencies = {{ currencies | json | safe }};
{% endblock %}
