<!--div class=" medium-12 columns" data-ng-controller="MessagesController">
    <div ng-include="'modules/dashboard/views/dialogFlow/dialogFlow.client.view.html'"></div>
</div-->
<div class="panel-h" data-ng-controller="MessagesController"  style="margin-bottom: 0">
    <div class="header">
        Conversation between {{message.fromName}} and {{message.toName}}
        <span class="success radius label right" data-ng-show="success" data-ng-bind="success"></span>
        <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
    </div>
    <div class="content">
        <div class="row" data-ng-show="isClosed">
            <div class="medium-12 columns center-content">
                This conversation has been closed
            </div>
        </div>
        <!-- Send message to owner-->
        <form name="sendMessageForm" data-ng-submit="sendMessage()" data-ng-hide="isClosed">
            <div class="row" >
                <div class="medium-9 columns" style="align:right;margin-top:5px;margin-bottom:5px;">
                    <textarea data-ng-model="message.text"
                              data-ng-class="{error : errors['text']}" required
                              placeholder="Enter your message" >
                    </textarea>
                    <small data-ng-show="error['text']" class="error">
                        <span data-ng-bind="error['text']['message']"></span>
                        <span class="nub"></span>
                    </small>
                </div>
                <div class="medium-3 columns" style="margin-top:5px !important;margin-bottom:5px;float:right;">
                    <button data-ng-disabled="isWaiting" class="button small" type="submit">
                        <span data-ng-hide="messages.length > 0">
                            <i class="fa fa-send"></i>
                            Send
                        </span>
                        <span data-ng-show="messages.length > 0">
                            <i class="fa fa-reply"></i>
                            Reply
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <!--iframe width="100%" height="330" ng-if="market.settings.autoRoute" src="https://console.dialogflow.com/api-client/demo/embedded/81c205bf-31b7-4a4c-8caf-3e2c4a690914"></iframe-->
    </div>
    <div class="footer">
        <div class="center-content" data-ng-hide="messages.length > 0">
        </div>
        <ul class="no-bullet" style="margin-bottom: 0" data-ng-show="messages.length > 0">
            <li data-ng-repeat="msg in messages.slice().reverse()">
                <div class="row message" data-ng-class="{sender: msg.fromId !== authentication.user.id }"
                     data-equalizer>
                    <div class="medium-3 columns hide-for-small-down center-content" data-equalizer-watch>
                        <img ng-src="{{msg.fromImage.url || 'assets/img/defaultpic.png?v=2'}}"
                             class="img-small-round img-with-footer" width="68">
                        <div>
                            <span class="label" data-ng-class="{info: msg.fromId !== authentication.user.id, warning: msg.fromId === authentication.user.id}">{{msg.fromName}}</span>
                        </div>
                    </div>
                    <div class="medium-9 small-12 columns" data-equalizer-watch>
                        <div class="space-bottom show-for-small-down">
                            <span class="label" data-ng-class="{info: msg.fromId !== authentication.user.id, warning: msg.fromId === authentication.user.id}">{{msg.fromName}}</span>
                        </div>

                        <span data-ng-bind-html="formatText(msg.text)"></span>

                        <div class="space-top">
                            <small class="muted-color">Sent at {{formatDate(msg.dateCreated)}}</small>
                        </div>
                    </div>
                </div>
                <hr data-ng-hide="$last">
            </li>
        </ul>
    </div>
</div>
