<div class="panel-h">
    <div class="header">
        Profile photo
        <span class="success radius label right" data-ng-show="success" data-ng-bind="success"></span>
        <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
    </div>
    <div class="content" flow-init='{singleFile:true}'
         flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
         flow-files-submitted="$flow.upload()"
         flow-file-success="uploadSuccess($flow, $file, $message)"
         flow-image-resize>
        <div class="row">
            <div class="medium-4 columns space-bottom-small drop">
                <div>
                    <img data-ng-if="$flow.files.length"
                         resized-img="$flow.files[0]" class="img-responsive" width="225" height="225"/>
                    <img data-ng-if="!$flow.files.length" class="img-responsive"
                         ng-src="{{profile.image.url || 'assets/img/defaultpic.png?v=2'}}"
                         width="225" height="225"/>
                </div>
            </div>
            <div class="medium-8 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <p>
                            Please upload a picture.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="drop">
                            <div ng-class="dropClass" class="panel radius drop-zone"
                                 flow-drop>
                                            <span class="button tiny warning no-space" flow-btn>
                                                Upload Image
                                            </span>
                                <strong>OR</strong>
                                <span class="muted-color">Drag And Drop your image here</span>
                            </div>
                        </div>
                        <p class="muted-color no-space">(Ideal dimensions of picture: 225px x 225px)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
