<div class="space-top" data-ng-init="getCalendarEvents()">
    <div class="row">
        <div class="medium-3 columns">
            <div class="sidenav">
                <ul>
                    <li>
                             <button  data-ng-click="syncWithOutlook()">
                             	Sync with Outlook 
                             </button>
                    </li>
                </ul>
            </div>
        </div> 
        <div class="medium-9 columns">
            <div class="panel">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

<div class="reveal-modal tiny" data-reveal id="calendarEventModal" style="padding: 0;">
    <form data-ng-submit="createOrUpdateCalendarEvent" name="calendarEventForm">

        <div class="panel-h" style="margin: 0;">
            <div class="header">
                <span data-ng-if="!isEdit">Create an event</span>
                <span data-ng-if="isEdit">Modify event # {{ calendarEvent.id }}</span>
                <button data-ng-if="isEdit" class="label alert right" style="margin:0.3rem 0 0 0.6rem" data-ng-click="deleteCalendarEvent()">
                    <i class="fa fa-remove"></i> Delete
                </button>
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="row space-bottom">
                            <div class="medium-12 columns">
                                <label for="title">Title</label>
                                <input type="text" id="title" required placeholder="Enter a Title for your Event"
                                       data-ng-model="calendarEvent.title"
                                       data-ng-class="{error: error['title']}">
                                <small data-ng-show="error['title']" class="error">
                                    <span data-ng-bind="error['title']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-8 columns">
                                <label for="startTime">Start</label>
                                <input type="text" id="startDate" readonly
                                       data-ng-model="displayDateTime.startDate"
                                       data-ng-class="{error: error['start']}">
                                <small data-ng-show="error['start']" class="error">
                                    <span data-ng-bind="error['start']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                            <div class="medium-4 columns">
                                <label>&nbsp;</label>
                                <input type="text" id="startTime" required
                                       data-ng-model="displayDateTime.startTime"
                                       data-ng-class="{error: error['start']}">
                                <small data-ng-show="error['start']" class="error">
                                    <span data-ng-bind="error['start']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>
                        <div class="row space-bottom">
                            <div class="medium-8 columns">
                                <label for="endTime">End</label>
                                <input type="text" id="endDate" readonly
                                       data-ng-model="displayDateTime.endDate"
                                       data-ng-class="{error: error['end']}">
                                <small data-ng-show="error['end']" class="error">
                                    <span data-ng-bind="error['end']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                            <div class="medium-4 columns">
                                <label>&nbsp;</label>
                                <input type="text" id="endTime" required
                                       data-ng-model="displayDateTime.endTime"
                                       data-ng-class="{error: error['end']}">
                                <small data-ng-show="error['end']" class="error">
                                    <span data-ng-bind="error['end']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a class="button warning small modal-close-btn" data-cancel-button>Cancel</a>
                <a class="button small right" data-confirm-button>Save</a>
            </div>
        </div>
    </form>
</div>
