{% extends "../layouts/layout-pages.server.view.html" %}

{% block content %}
    <div ui-view></div>
{% endblock %}

{% block js %}
    var service = "{{service}}";
{% endblock %}

{% block files %}
    <script type="text/javascript" src="assets/js/yumquotes.min.js"></script>
{% endblock %}
