            <div class="row image space-bottom">
                <div class="large-12 columns center-content">
                        <img class="img-responsive" itemprop="image" src="{{profile.imageUrl}}"
                        width="225" height="225" />
                </div>
            </div>

            {% if profile.services.length === 1 %}
            <div class="row">
                <div class="medium-12 columns">
                    <div class="panel-h">
                        <div class="header">
                            About Me
                        </div>
                        <div class="content">
                            <dl>
                                {% if profile.services.length > 0 %}
                                <dt>Services</dt>
                                <dd>{{profle.services.join(', ')}}</dd>
                                {% endif %}
                                {% if profile.tags.diets.length > 0 %}
                                <dt>Diets</dt>
                                <dd itemprop="servesCuisine">{{profile.tags.diets.join(', ')}}</dd>
                                {% endif %}
                                {% if profile.tags.cuisines.length > 0 %}
                                <dt>Cuisines</dt>
                                <dd itemprop="servesCuisine">{{profile.tags.cuisines.join(', ')}}</dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if tags.diets.length > 0 || tags.cuisines.length > 0 || tags.pServices.length > 0 %}
            <div class="row">
                <div class="medium-12 medium-centered columns">
                    <div class="label secondary">Specialties</div>

                <div class="panel" style="background-color: #ffffff;padding: 0.2rem">
                    <ul class="medium-block-grid-2" style="margin: 0.2rem">
                        {% if tags.diets.length > 0 %}
                        {% for tag in tags.diets %}
                        <li style="padding: 0 0.2rem">
                            <div class="alert-box  radius"
                            style="padding: 0.2rem;background-color:#EA7D71;border-style : none;color:#60360c;
                            margin: 0.2rem 0 0.2rem;" itemprop="servesCuisine">
                            {{tag}}
                            </div>
                        </li>
                        {% endfor %}
                        {% endif %}
                    {% if tags.cuisines.length > 0 %}
                    {% for tag in tags.cuisines %}
                    <li style="padding: 0 0.2rem">
                        <div class="alert-box  radius"
                        style="padding: 0.2rem;background-color:#F7F3C4;border-style : none;color:#60360c;
                        margin: 0.2rem 0 0.2rem;" itemprop="servesCuisine">
                        {{tag}}
                    </div>
                </li>
                {% endfor %}
                {% endif %}
                {% if tags.pServices.length > 0 %}
                {% for tag in tags.pServices %}
                <li style="padding: 0 0.2rem">
                    <div class="alert-box  radius"
                    style="padding: 0.2rem;background-color:#E6DAC6;border-style : none;color:#60360c;
                    margin: 0.2rem 0 0.2rem;" itemprop="servesCuisine">
                    {{tag}}
                </div>
            </li>
            {% endfor %}
            {% endif %}

        </ul>
    </div>
</div>
</div>
{% endif %}