<div class="row space-bottom">
    <div class="medium-12 columns">
        <h1>{{profile.displayName}}</h1>
        <h4><small>{{profile.company.tagline}}</small></h4>
    </div>
</div>

<div class="row space-bottom">
    <div class="medium-12 columns">
        <p>
            {{profile.description}}
        </p>
    </div>
</div>

<div class="row space-bottom">
    <div class="medium-12 columns">
    {# TODO: Add Badges #}
    </div>
</div>

<div class="row space-bottom">
    <div class="medium-12 columns">
        {# TODO: Think what to put here #}
    </div>
</div>

{% if profile.reviewCount > 1 %}
<div class="row space-bottom">
    <div class="medium-12 columns">
        <h3>Reviews <small>({{profile.reviewCount}})</small></h3>
        <div class="reviews" id="reviews">

            {% for review in profile.top5Reviews %}
            <div class="row review">
                <div class="medium-2 small-12 columns center-content review-user">
                    <img src="{{profile.imageUrl}}"  class="img-small-round img-with-footer" width="68">
                    <p class="muted-color">Reviewer</p>
                </div>
                <div class="medium-10 small-12 columns review-content">
                    <div class="expandable">
                        <div class="expandable-content">
                            <div>
                                <h6><span class="rating" data-rating="{{review.rating}}"></span>{{review.title}}</h6>
                            </div>
                            <p>{{review.comment}}{{profile.description}}</p>
                            <div class="expand-indicator"></div>
                        </div>
                        <a class="expandable-trigger-more muted" href="#">
                            <strong>+ More</strong>
                        </a>
                    </div>
                </div>
            </div>
            {% if !loop.last %}
            <div class="row">
                <div class="small-10 columns small-offset-2">
                    <hr>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}