{#     <div class="row">
        <div class="small-9 medium-offset-1 columns" ng-cloak>
            <h2 itemprop="name" style="margin-bottom: 0">{{data.displayName}}</h2>
            <p itemprop="description" class="subheader" style="margin-top: 0">{{data.initProvider.company.tagline}}</p>
        </div>
    </div> #}