<form data-ng-submit="update()">
    <div class="panel-h">
        <div class="header">
            Required
            <span class="success radius label right" data-ng-show="success" data-ng-bind="success"></span>
            <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="email" class="right inline">Email</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="email" readonly
                                   data-ng-model="authentication.user.username">
                        </div>
                    </div>
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="firstname" class="right inline">First Name</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="firstname" required placeholder="Enter your First Name here"
                                   data-ng-model="profile.firstName"
                                   data-ng-class="{error: error['firstName']}">
                            <small data-ng-show="error['firstName']" class="error">
                                <span data-ng-bind="error['firstName']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="lastname" class="right inline">Last Name</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="lastname" required placeholder="Enter your Last Name here"
                                   data-ng-model="profile.lastName"
                                   data-ng-class="{error: error['lastName']}">
                            <small data-ng-show="error['lastName']" class="error" >
                                <span data-ng-bind="error['lastName']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="address" class="right inline">Address</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="address" placeholder="Your complete address (including ZIP)"
                                   data-ng-model="profile.address"
                                   data-ng-class="{error: error['address']}">
                            <small data-ng-show="error['address']" class="error" >
                                <span data-ng-bind="error['address']['message']"></span>
                                <span class="nub"></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="medium-12 columns">
                    <button data-ng-disabled="isWaiting" type="submit" class="right button small">SAVE</button>
                </div>
            </div>
        </div>
    </div>
</form>
