<form name="businessProfile" data-ng-submit="update()">
    <div class="panel-h">
        <div class="header">
            Business Information
            <span class="success radius label right" data-ng-show="success" data-ng-bind="success"></span>
            <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-12 columns">

                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="address" class="right inline">Business Address</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="address" required placeholder="Your business address"
                                   data-ng-model="profile.address"
                                   data-ng-class="{error: error['address']}" data-ng-autocomplete>
                            <small data-ng-show="error['address']" class="error">
                                <span data-ng-bind="error['address']['message']"></span>
                                <span class="nub"></span>
                            </small>
                            <p class="muted-color input-footer">
                                Required to send invoices
                            </p>
                        </div>
                    </div>

                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="companyName" class="right inline muted-color">Business Name</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="companyName" placeholder="Your business name"
                                   data-ng-model="profile.companyName"
                                   data-ng-class="{error: error['companyName']}">
                            <small data-ng-show="error['companyName']" class="error">
                                <span data-ng-bind="error['companyName']['message']"></span>
                                <span class="nub"></span>
                            </small>
                            <p class="muted-color input-footer">
                                For invoices <em>(optional)</em>
                            </p>
                        </div>
                    </div>

                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="tagline" class="right inline muted-color">Business Tagline</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="tagline" placeholder="Your business tagline"
                                   data-ng-model="profile.tagline"
                                   data-ng-class="{error: error['tagline']}">
                            <small data-ng-show="error['tagline']" class="error" >
                                <span data-ng-bind="error['tagline']['message']"></span>
                                <span class="nub"></span>
                            </small>
                            <p class="muted-color input-footer">
                                Business tagline is what defines your business e.g. 'Farm To Table'
                            </p>
                        </div>
                    </div>
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="website" class="right inline muted-color">Website</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" id="website" placeholder="e.g. www.yourcompany.com"
                                   data-ng-model="profile.website"
                                   data-ng-class="{error: error['website']}">
                            <small data-ng-show="error['website']" class="error" >
                                <span data-ng-bind="error['website']['message']"></span>
                                <span class="nub"></span>
                            </small>
                            <p class="muted-color input-footer">
                                <em>(optional)</em>
                            </p>
                        </div>
                    </div>
                    <div class="row space-bottom">
                        <div class="medium-3 columns">
                            <label for="video" class="right inline muted-color">Link to video</label>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" name="video" id="video" data-ng-model="profile.video" placeholder="Link to your video">
                            <small data-ng-show="error['video']" class="error" >
                                <span data-ng-bind="error['video']['message']"></span>
                                <span class="nub"></span>
                            </small>
                            <p class="muted-color input-footer">
                                Only links to Youtube or Vimeo videos allowed <em>(optional)</em>
                            </p>
                        </div>
                    </div>
                    <div class="row space-bottom">
                        <div class="medium-3 columns hide-for-small-down">
                            <label for="description" class="right inline muted-color">Your Story</label>
                        </div>
                        <div class="medium-9 columns">
                            <textarea id="description" placeholder="Describe Yourself with your unique story"
                                      data-ng-model="profile.description"
                                      data-ng-class="{error: error['description']}">
                            </textarea>
                            <small data-ng-show="error['description']" class="error" >
                                <span data-ng-bind="error['description']['message']"></span>
                                <span class="nub"></span>
                            </small>
                            <p class="muted-color input-footer">
                                Tell us what inspired you!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="medium-12 columns">
                    <button data-ng-disabled="(isWaiting || !businessProfile.$dirty) && !authentication.user.isBuyer()"
                            type="submit" class="right button small">Save Company Information
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
