<div class="panel">
    <div class="row">
        <div class="medium-12 columns">
            <div class="center-content space-2-bottom">
                <i class="fa fa-check-circle" style="font-size:3rem;color:#1a7700"></i>
            </div>
            <h5><strong>Congratulations! Your provider profile has been created successfully</strong></h5>

            <p>
                To improve your profile visibility, please go through following.
            <ul class="disc">
                <li>Add business <a ui-sref="profile.trust">verification</a></li>
                <li>Add product &amp; service <a ui-sref="listings.add">listings</a></li>
                <li>Add social network <a ui-sref="profile.trust">verification</a></li>
            </ul>
            </p>

            <p class="space-top center-content muted-color">
                Now, go ahead and list your services.
            </p>

            <div class="space-top center-content">

                <a ui-sref="listings.add" class="button small">Add Listing</a>

            </div>
        </div>
    </div>
</div>
