<form name="businessProfile" data-ng-submit="update()" data-ng-init="getQuestions()">
    <div class="panel-h">
        <div class="header">
            Extended Profile Information
            <span class="success radius label right" data-ng-show="success" data-ng-bind="success"></span>
            <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
        </div>
        <div class="content">
            <div data-ng-repeat="question in questions">
                <div class="row space-bottom">
                    <div class="medium-12 columns">
                        <div class="row">
                            <div class="medium-12 columns">
                                <p class="no-space" data-ng-bind="question.text"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-12 columns">

                                <div data-ng-if="question.type == 'radio'">
                                    <div data-ng-repeat="choice in  question.choices track by $index"
                                         class="radio-check-list"
                                         data-ng-class="$first?'first':($last?'last':'')">
                                        <input type="radio" id="radio{{question.id}}{{$index}}"
                                               name="q{{question.id}}"
                                               value="{{choice.trim()}}" data-ng-model="answers[question.id].answer"
                                               data-ng-required="$first && question.required">
                                        <label for="radio{{question.id}}{{$index}}"
                                               data-ng-bind="choice"></label>
                                    </div>
                                    <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                           class="error">
                                        <span>This is required!</span>
                                        <span class="nub"></span>
                                    </small>
                                </div>

                                <div data-ng-if="question.type == 'checkbox'">
                                    <div>
                                        <div data-ng-repeat="choice in question.choices track by $index"
                                             class="radio-check-list"
                                             data-ng-class="$first?'first':($last?'last':'')">
                                            <input type='checkbox' name="q{{question.id}}"
                                                   id="check{{question.id}}{{$index}}"
                                                   data-ng-true-value="'{{choice.trim()}}'"
                                                   data-ng-model="answers[question.id].answer[$index]">
                                            <label for="check{{question.id}}{{$index}}"
                                                   data-ng-bind="choice"></label>
                                        </div>
                                    </div>
                                </div>

                                <div data-ng-if="question.type == 'text'">
                                    <input type="{{question.type}}" id="text{{question.id}}"
                                           name="q{{question.id}}"
                                           data-ng-model="answers[question.id].answer"
                                           data-ng-required="question.required">
                                    <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                           class="error">
                                        <span>This is required!</span>
                                        <span class="nub"></span>
                                    </small>
                                </div>

                                <div data-ng-if="question.type == 'number'">
                                    <input type="{{question.type}}" id="number{{question.id}}"
                                           name="q{{question.id}}" min="0"
                                           data-ng-model="answers[question.id].answer"
                                           data-ng-required="question.required">
                                    <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                           class="error">
                                        <span>This is required!</span>
                                        <span class="nub"></span>
                                    </small>
                                </div>

                                <div data-ng-if="question.type == 'datetime'">
                                    <input type="text" id="datetime{{question.id}}"
                                           name="q{{question.id}}"
                                           data-ng-model="answers[question.id].answer"
                                           data-ng-required="question.required"
                                           data-datetime-bind>
                                    <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                           class="error">
                                        <span>This is required!</span>
                                        <span class="nub"></span>
                                    </small>
                                </div>

                                <div data-ng-if="question.type == 'textarea'">
                                    <textarea id="textarea{{question.id}}"
                                              name="q{{question.id}}"
                                              data-ng-model="answers[question.id].answer"
                                              data-ng-required="question.required">
                                    </textarea>
                                    <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                           class="error">
                                        <span>This is required!</span>
                                        <span class="nub"></span>
                                    </small>
                                </div>

                                <div data-ng-if="question.type == 'file'">
                                    <file-upload file-model="answers[question.id].answer"
                                                 file-complete="fileComplete()"></file-upload>
                                    <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                           class="error">
                                        <span>This is required!</span>
                                        <span class="nub"></span>
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="medium-12 columns">
                    <button data-ng-disabled="(isWaiting || !businessProfile.$valid) && !authentication.user.isBuyer()"
                            type="submit" class="right button small">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
