<div class="space-top">
    <div class="row">
        <div class="medium-3 columns">
            <div class="sidenav space-bottom">
                <ul class="no-bullet">
                    <li data-ng-repeat="item in sidenav">
                        <a ui-sref="{{item.link}}"
                           class="side-nav-link"
                           aria-selected="{{item.isSelected}}"
                           data-ng-if="item.shouldRender(authentication.user);">
                            {{item.title}}
                        </a>
                    </li>
                </ul>
            </div>

            <a ui-sref="profile.sellerIntro"
               class="button info tiny full-width"
               data-ng-if="authentication.user.isBuyer();">Add a provider profile
            </a>

            <a class="button success tiny full-width"
               data-ng-href="/u/{{authentication.profile.slug}}"
               target="_blank">
                <i class="fa fa-check"></i> View my profile
            </a>

        </div>

        <div class="medium-9 columns">
            <div ui-view></div>
        </div>
    </div>
</div>
