<div class="panel-h">
    <div class="header">
        Tell us your preferences
    </div>
    <div class="content">
        <div class="row space-bottom">
            <div class="medium-12 columns">

            </div>
        </div>
    </div>
</div>
