<section data-ng-init="getPromotions()">
    <form name="form.promotion" data-ng-submit="createOrUpdatePromotion()">
        <div class="panel-h">
            <div class="header">
                Add Promotion
            </div>
            <div class="content">
                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="title" class="right inline">Title</label>
                    </div>
                    <div class="medium-9 columns">
                        <input type="text" id="title" placeholder="Enter title of your promotion"
                               data-ng-model="promotion.title" required
                               data-ng-class="{error: error['title']}">
                        <small data-ng-show="error['title']" class="error">
                            <span data-ng-bind="error['title']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Title for your promotion
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label for="content" class="right inline">Content</label>
                    </div>
                    <div class="medium-9 columns">
                        <textarea id="content" placeholder="Enter your promotional content"
                                  data-ng-model="promotion.content"
                                  data-ng-class="{error: error['content']}"></textarea>
                        <small data-ng-show="error['content']" class="error">
                            <span data-ng-bind="error['content']['message']"></span>
                            <span class="nub"></span>
                        </small>
                        <p class="muted-color input-footer">
                            Text only content for your promotion
                        </p>
                    </div>
                </div>

                <div class="row space-bottom">
                    <div class="medium-3 columns hide-for-small-down">
                        <label class="right inline">Preview</label>
                    </div>
                    <div class="medium-9 columns">
                        <div class="panel promotion">
                            <div class="row">
                                <div class="medium-2 columns center-content">
                                    <h4><i class="fa fa-star"></i></h4>
                                </div>
                                <div class="medium-10 columns" data-ng-bind-html="formattedContent">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="footer">
                <div class="row">
                    <div class="medium-6 columns" data-ng-if="promotion.id">
                        <button type="submit" class="button small alert"
                                data-ng-disabled="isWaiting" data-ng-click="deletePromotion()">
                            Remove
                        </button>
                    </div>
                    <div class="medium-6 right columns">
                        <button type="submit" class="button small right"
                                data-ng-disabled="isWaiting || !form.promotion.$valid">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


<div class="reveal-modal tiny" data-reveal id="deleteListing" style="padding: 0;">
    <div class="panel-h">
        <div class="header">
            Please Confirm!
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-12 columns medium-centered center-content">
                    <h5 class="space-bottom space-top">Are you sure?</h5>

                    <p>You are about to remove the promotion</p>

                    <p class="muted-color no-space">
                        <strong>Note:</strong> This can't be undone!
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">
            <a class="button warning small modal-close-btn" data-cancel-button>Cancel</a>
            <a class="button small right" data-confirm-button>Confirm</a>
        </div>
    </div>
</div>
