<div class="panel-h">
    <div class="header">
        Past Reviews
    </div>
    <div class="content">
        <div class="row">
            <div class="medium-12 columns">
                <h6>
                    Reviews are written when an offer is accepted on inChefs.
                    Reviews you've received will be visible both here and on your public profile.
                </h6>

                <p>
                    No one has reviewed you yet.
                </p>
            </div>
        </div>
    </div>
</div>