<div class="panel-h">
    <div class="header">
        Reviews to write
    </div>
    <div class="content">
        <div class="row">
            <div class="medium-12 columns">
                <p>
                    Nobody to review right now. Let's get another meal!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="panel-h">
    <div class="header">
        Past reviews you've written
    </div>
    <div class="content">
        <div class="row">
            <div class="medium-12 columns">

            </div>
        </div>
    </div>
</div>

