<div class="row">
    <div class="medium-12 columns">
        <ul class="inline-list">
            <li data-ng-repeat="item in reviewsTopNav">
                <a ui-sref="{{item.link}}" aria-selected="{{item.isSelected}}"
                   data-ng-if="item.shouldRender(authentication.user);">
                    {{item.title}}
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>

<div ui-view></div>