<div class="panel">
    <div class="row">
        <div class="medium-12 columns">
            <h5><strong>Start selling your products and services at {{market.name}}!</strong></h5>

            <p>
                List your products and services on {{market.name}}.
                <ul class="disc">
                    <li>Get requests from valid customers</li>
                    <li>Negotiate with customer</li>
                    <li>Get services and products validated by customers</li>
                    <li>Delegate work on {{market.name}}, and manage it all in one place!</li>
                </ul>
            </p>

            <p class="space-top center-content">
                Have a Profile? Click "Start" to begin
            </p>

            <div class="space-top center-content">

                <a data-ng-if="!profile.sellerProfile" ui-sref="profile.sellerCreate" class="button medium">Start</a>
                <a data-ng-if="profile.sellerProfile" ui-sref="profile.business" class="button medium">Start</a>

                <p class="muted-color">
                    By clicking Start, I agree to {{market.name}} <a href="/terms-of-service">Terms of Service & Privacy
                    Policy</a>
                </p>
            </div>
        </div>
    </div>
</div>
