<form data-ng-submit="update()">
    <div class="panel-h">
        <div class="header">
            Amount & Taxes <em>(All Amounts are in USD)</em>
            <span class="success radius label right" data-ng-show="success" data-ng-bind="success"></span>
            <span class="right" data-ng-show="isWaiting"><i class="fa fa-circle-o-notch fa-spin"></i> </span>
        </div>
        <div class="content">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="row space-bottom">
                        <div class="medium-12 columns">
                            <fieldset class="no-space radius">
                                <legend>
                                    <input type="checkbox" data-ng-model="profile.deliveryService"
                                           name="isDelivery" data-ng-checked="profile.deliveryService" id="isDelivery">
                                    <label for="isDelivery" class="right inline"> Delivery</label>
                                </legend>
                                <div class="row space-bottom">
                                    <div class="medium-3 columns hide-for-small-down">
                                        <label for="freeDeliveryAboveAmount" class="right inline">Free Delivery Amount</label>
                                    </div>
                                    <div class="medium-9 columns">
                                        <input type="number" id="freeDeliveryAboveAmount"
                                               name="freeDeliveryAboveAmount"
                                               placeholder="Free Delivery Amount"
                                               min="0.00" step="0.01"
                                                data-ng-model="profile.freeDeliveryAboveAmount"
                                                data-ng-disabled="!profile.deliveryService"
                                                data-ng-required="profile.deliveryService">
                                        <small data-ng-show="error['freeDeliveryAboveAmount']" class="error" >
                                            <span data-ng-bind="error['freeDeliveryAboveAmount']['message']"></span>
                                            <span class="nub"></span>
                                        </small>
                                        <p class="muted-color input-footer">
                                            If an order is above or equal to this amount, you'll provide free delivery to the buyer
                                            (Leave it blank if No Free Delivery provided)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-3 columns hide-for-small-down">
                                        <label for="deliveryFee" class="right inline">Delivery Fee</label>
                                    </div>
                                    <div class="medium-9 columns">
                                        <input type="number" id="deliveryFee"
                                               name="deliveryFee"
                                               min="0.00" step="0.01"
                                               placeholder="Delivery Fee"
                                               data-ng-model="profile.deliveryFee"
                                               data-ng-disabled="!profile.deliveryService"
                                               data-ng-required="profile.deliveryService">
                                        <small data-ng-show="error['deliveryFee']" class="error" >
                                            <span data-ng-bind="error['deliveryFee']['message']"></span>
                                            <span class="nub"></span>
                                        </small>
                                        <p class="muted-color input-footer no-space">
                                            Standard delivery fee that you charge per order
                                        </p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row space-bottom">
                        <div class="row">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="salesTax" class="right inline">Sales Tax %</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="number" id="salesTax"
                                       name="salesTax"
                                       min="0.00" step="0.01"
                                       placeholder="Sales Tax %"
                                       data-ng-model="profile.salesTaxPercentage">
                                <small data-ng-show="error['salesTaxPercentage']" class="error" >
                                    <span data-ng-bind="error['salesTaxPercentage']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer no-space">
                                    Sales Tax %, charged per transaction (Set to 0 for inclusive taxes)
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row space-bottom">-->
                        <!--<div class="row">-->
                            <!--<div class="medium-3 columns hide-for-small-down">-->
                                <!--<label for="deliveryFee" class="right inline">Delivery Fee</label>-->
                            <!--</div>-->
                            <!--<div class="medium-9 columns">-->
                                <!--<input type="number" id="deliveryFee"-->
                                       <!--min="0.00" step="0.01"-->
                                       <!--placeholder="Delivery Fee"-->
                                       <!--data-ng-model="profile.deliveryFee">-->
                                <!--<small data-ng-show="error['deliveryFee']" class="error" >-->
                                    <!--<span data-ng-bind="error['deliveryFee']['message']"></span>-->
                                    <!--<span class="nub"></span>-->
                                <!--</small>-->
                                <!--<p class="muted-color input-footer no-space">-->
                                    <!--Standard delivery fee that you charge per order-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="row">
                            <div class="medium-3 columns hide-for-small-down">
                                <label for="deliveryFee" class="right inline">Minimum Quotes Budget</label>
                            </div>
                            <div class="medium-9 columns">
                                <input type="number" id="minYumQuotesAmount"
                                       min="0.00" step="0.01"
                                       placeholder="Minimum Quotes Budget"
                                       data-ng-model="profile.minYumQuotesAmount">
                                <small data-ng-show="error['minYumQuotesAmount']" class="error" >
                                    <span data-ng-bind="error['minYumQuotesAmount']['message']"></span>
                                    <span class="nub"></span>
                                </small>
                                <p class="muted-color input-footer no-space">
                                    You'll only receive notification for requests with Budget higher than specified amount
                                    (Leave it blank to receive notifications from all buyers)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="medium-12 columns">
                    <button type="submit" class="right button small">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
