<div class="panel">
    <div class="row">
        <div class="medium-8 columns">
            <p><strong>Verify Your Identity</strong></p>

            <p>
                Getting your Verified ID is the easiest way to help build trust amongst the Wanteet community.
                We'll verify you by matching information from an online account to an official ID.
                <!--<a href="">Learn more</a>-->
            </p>

            <p>
                Or, you can choose to add only the verifications you want below.
            </p>
        </div>
        <div class="medium-3 columns">
            <!--<a href="" class="button small">Verify Me</a>-->
        </div>
    </div>
</div>

<div class="panel-h">
    <div class="header">
        Your Current Verifications
    </div>
    <div class="content">
        <div class="row" data-ng-if="!profile.tags.verify">
            <div class="medium-12 columns">
                <p>No verification added yet</p>
            </div>
        </div>
        <div class="row" data-ng-if="profile.tags.verify">
            <div class="medium-12 columns">
                <ul class="no-bullet no-space">
                    <li data-ng-repeat="tag in profile.tags.verify">
                        <h5>
                            <i class="fa fa-check-circle green-color"></i> {{tag.description}}
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel-h" data-ng-if="isNotVerified('facebook') || isNotVerified('google') || isNotVerified('linkedin')">
    <div class="header">
        Add More Verifications
    </div>
    <div class="content">
        <div class="row ">
            <div class="medium-12 columns">
                <ul class="no-space no-bullet">
                    <li data-ng-if="isNotVerified('facebook') && market.settings.social.facebook.clientID.length > 0">
                        <a class="button small fb-btn" data-ng-href="/oauth/facebook">
                            <span><i class="fa fa-facebook"/></span>
                            <span>Verify with Facebook</span>
                        </a>
                    </li>
                    <li data-ng-if="isNotVerified('google') && market.settings.social.google.clientID.length > 0">
                        <a class="button small goog-btn" data-ng-href="/oauth/google">
                            <span><i class="fa fa-google-plus"/></span>
                            <span>Verify with Google&nbsp;&nbsp;&nbsp;</span>
                        </a>
                    </li>
                    <li data-ng-if="isNotVerified('linkedin') && market.settings.social.linkedin.clientID.length > 0">
                        <a class="button small linked-btn" data-ng-href="/oauth/linkedin">
                            <span><i class="fa fa-linkedin"/></span>
                            <span>Verify with LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
