<section data-ng-init="getSearchResults()">
    <form name="searchForm">
        <div class="space-top">

            <div class="row" style="max-width: 90%">

                <div class="medium-11 columns">

                    <section data-ng-init="initResultScreen()" data-ng-if="referenceId">

                        <div class="panel-h">
                            <div class="header content-center">
                                Request placed successfully!
                            </div>
                            <div class="content center-content">

                                <div class="row">
                                    <div class="medium-12 columns">
                                        <i class="fa fa-check-circle"
                                           style="font-size:3rem;color:#1a7700"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <h6>Your request has been placed successfully!</h6>
                                        <h4 class="space-top space-bottom">Reference #<span
                                                data-ng-bind="referenceId"></span></h4>

                                        <p>
                                            <a data-ng-href="dashboard#!/requests/event/{{referenceId}}">Click here to view</a>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <div class="row" data-ng-if="total == 0">
                        <div class="medium-12 columns text-center">
                            <div class="panel">
                                <h5>
                                    <button data-ng-click="initCustomRequestFlow()"
                                            class="button medium"
                                            style="padding: 0.25rem 0.875rem; border-width: 1px;border-style: dashed;border-color: white;">
                                        Place another
                                        request
                                    </button>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="row" data-ng-if="total > 0 && !referenceId">
                        <div class="medium-12 columns text-center">
                        </div>
                    </div>

                    <div class="row" data-ng-if="total > 0 && referenceId">
                        <div class="medium-12 columns text-center">
                            <div class="panel">
                                <button data-ng-click="initCustomRequestFlow()"
                                        class="button medium"
                                        style="padding: 0.25rem 0.875rem; border-width: 1px;border-style: dashed;border-color: white;">
                                    Place another
                                    request
                                </button>
                                <h5 style="line-height: 2rem">Here are some recommendations based on your request</h5>
                            </div>
                        </div>
                    </div>

                    <div class="panel-h">
                        <div class="header">
                                 <table  width="100%">
                                 <tr>
                                 <td width="50%" data-ng-if="isHyperLocal">
                                 <input class="medium-6 columns" type="text" id="address"
                                 name="address"
                                 placeholder="Enter your full address"
                                 data-ng-model="formattedAddress"
                                 data-ng-class="{error: error['address']}"
                                 data-ng-autocomplete
                                 data-ng-blur="updateLocation(this)">
                                 </td>
                                 <td width="5%" data-ng-if="isHyperLocal">
                                 <i class="fa fa-search" style="color:#f0563a;"></i> </td>
                                 <td width=45%">
                            <span data-ng-if="total"><span data-ng-bind="total"></span> <span
                                    data-ng-hide="referenceId">matches for your request</span><!--span data-ng-show="referenceId">recommendations</span--></span>
                            <span data-ng-if="!total">Loading ...</span>
                                 </td>
                                 </tr>
                                 </table>
                        </div>
                        <br>
                        <div class="content" style="padding: 0;border-width:0px;">
                            <div class="row" style="padding: 1rem 1.3rem 0">
                            </div>
                            <div class="search-left-area" data-ng-show="total > 0">
                                <div class="search-results">
                                <div class="row">
                                <div class="medium-12 medium-centered columns">
                                <div class="medium-4 columns"> 
                                <div>
                                    <!--ul class="accordion" style="margin:0">
                                        <li class="accordion-navigation"-->
                                <div class="panel">
                                <h5 style="line-height: 2rem">
                                    Nothing of interest?<br>
                                    <button data-ng-click="initCustomRequestFlow()"
                                            class="button medium"
                                            type="button"
                                            style="padding: 0.25rem 0.875rem; border-width: 1px;border-style: dashed;border-color: white;">
                                        Custom
                                        Request
                                    </button>
                                </h5>
                                </div>
                                            <p class="no-space" data-ng-if="keywords"><strong>Search Criteria</strong> <span data-ng-if="keywords" data-ng-bind="keywords"></span><span data-ng-if="!keywords">None</span></p>
                                            <!--a data-ng-custom-accordion data-accordion-content="filters"
                                                    class="button small space-top">Search</a-->
                                            <br>
                                            <div id="filters" class="content">
                                                <div class="row space-bottom">
                                                    <div class="medium-12 columns">
                                                        <div class="medium-10 columns">
                                                        <label>Refine Search</label>
                                                        <input type="text" id="q"
                                                               placeholder="Enter your Query"
                                                               data-ng-model="keywords"
                                                               data-ng-class="{error: error['keywords']}"
                                                               data-ng-blur="getSearchResults(true)">
                                                        </div>
                                                        <div class="medium-2 columns">
                                                            <div>
                                                                <br/>
                                                                <i class="medium-2-columns fa fa-search" style="color:#f0563a"></i> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                 </div>
                            <!--div class="row collapse">
                                <div class="small-5 columns">
                                    <label style="margin: 0.2rem 0.2rem 0 0 !important">Sort by</label>
                                </div>
                                <div class="small-7 columns">
                                    <select data-ng-model="searchSorter"
                                            style="padding: 0 1.2rem 0 0.4rem; height: 1.65rem; margin: 0">
                                        <option value="location-asc" data-ng-if="isHyperLocal">Distance</option>
                                        <option value="price-asc">Price</option>
                                        <option value="rating-desc">Rating</option>
                                    </select>
                                </div>
                            </div-->
                                 </div>
                                 <div class="medium-8 columns">
                                 <div class="row hide" data-ng-show="isEnd && results.length == 0">
                                 <div class="medium-12 columns">
                                 <h5>We couldn't find any results for your request</h5>
                                 <h6>Here's what you can do:</h6>
                                 <ul class="disc">
                                      <li>Try changing location</li>
                                      <li>Try changing filters</li>
                                      <li>Place a custom request</li>
                                 </ul>
                                 </div>
                                 </div>
                                 <ul class="medium-block-grid-{{searchGridSize}} small-block-grid-1">
                                                <li data-ng-repeat="result in results">
                                                    <div class="search-entry"
                                                         data-ng-if="!market.settings.search_display_user">
                                                        <a data-ng-href="p/{{result.slug}}">
                                                            <div class="listing-img-panel">
                                                                <div class="image-container">
                                                                    <img class="img-responsive-height"
                                                                         data-ng-src="{{result.images[0].url || market.settings.listingImage}}"/>
                                                                </div>
                                                                <div class="price">
                                                                    <span data-ng-if="result.price > 0"
                                                                          data-ng-bind="result.price | wCurrency"></span>
                                                                    <span data-ng-if="result.price <= 0">
                                                                        <span data-ng-if="market.settings.offerType == 'price'">Ask for Price</span>
                                                                        <span data-ng-if="market.settings.offerType == 'time'">Ask for Time</span>
                                                                        <span data-ng-if="market.settings.offerType == 'join'">Ask for Service</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </a>

                                                        <div class="content">
                                                            <a data-ng-href="u/{{result.seller.slug}}"
                                                               class="profile-img right">
                                                                <img class="img-small-round"
                                                                     src="/assets/img/defaultpic.png"
                                                                     ng-src="{{{true:result.seller.image, false: '/assets/img/defaultpic.png'}[result.seller.image != '']}}"/>
                                                            </a>

                                                            <a data-ng-href="p/{{result.slug}}"
                                                               class="action-link">
                                                                <h6 class="ellipsis" data-ng-bind="result.name"></h6>

                                                                <p class="no-space">by {{result.seller.displayName}}</p>
                                                                <p class="muted-color ellipsis">
                                                                    <span data-ng-if="isHyperLocal">
                                                                        <i class="fa fa-map-marker"></i>
                                                                    <span data-ng-bind="sortValues[result.id][0].toFixed(1)"></span>mi
                                                                    &#183;
                                                                    </span>
                                                                    <span data-ng-bind="result.description"></span>
                                                                </p>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="search-entry"
                                                         data-ng-if="market.settings.search_display_user">
                                                        <a data-ng-href="u/{{result.seller.slug}}">
                                                            <div class="listing-img-panel">
                                                                <div class="image-container">
                                                                    <img class="img-responsive-height"
                                                                         src="/assets/img/defaultpic.png"
                                                                         ng-src="{{{true:result.seller.image, false: '/assets/img/defaultpic.png'}[result.seller.image != '']}}"/>
                                                                </div>
                                                                <div class="price">
                                                                    <span data-ng-if="result.price > 0"
                                                                          data-ng-bind="result.price |wCurrencyy"></span>
                                                                    <span data-ng-if="result.price <= 0">
                                                                        <span data-ng-if="market.settings.offerType == 'price'">Ask for Price</span>
                                                                        <span data-ng-if="market.settings.offerType == 'time'">Ask for Time</span>
                                                                        <span data-ng-if="market.settings.offerType == 'join'">Ask for Service</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </a>

                                                        <div class="content">
                                                            <a data-ng-href="p/{{seller.slug}}"
                                                               class="profile-img right">
                                                                <img class="img-small-round"
                                                                     data-ng-src="{{result.images[0].url || market.settings.listingImage}}"/>
                                                            </a>

                                                            <a data-ng-href="p/{{result.slug}}"
                                                               class="action-link">
                                                                <h6 class="ellipsis" data-ng-bind="result.name"></h6>

                                                                <p class="no-space">by {{result.seller.displayName}}</p>

                                                                <p class="muted-color ellipsis">
                                                                    <span data-ng-if="isHyperLocal">
                                                                        <i class="fa fa-map-marker"></i>
                                                                    <span data-ng-bind="sortValues[result.id][0].toFixed(1)"></span>mi
                                                                    &#183;
                                                                    </span>
                                                                    <span data-ng-bind="result.description"></span>
                                                                </p>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row space-bottom" data-ng-if="!isEnd">
                                    <div class="medium-12 columns center-content">
                                        <a class="button small" data-ng-hide="isWaiting"
                                           data-ng-click="getSearchResults()">More</a>
                                        <span data-ng-show="isWaiting"><i
                                                class="fa fa-spin fa-circle-o-notch"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div data-ng-show="total == 'No'" style="border-top: 0px !important">
                                <div class="row space-top space-bottom" style="padding: 1rem">
                                    <div class="medium-6 medium-centered columns">

                                        <h5>You may try:</h5>

                                        <ul class="disc">
                                            <li>Changing your search query</li>
                                            <li>Changing your location</li>
                                        </ul>

                                        <div class="row">
                                            <div class="medium-7 medium-centered columns">
                                                <button data-ng-click="initCustomRequestFlow()"
                                                        class="button full-width medium"
                                                        type="button"
                                                        style="padding: 0.25rem 0.875rem; border-width: 1px;border-style: dashed;border-color: white;">
                                                    Place a custom
                                                    request
                                                </button>
                                            </div>
                                        </div>

                                        <div class="space-bottom">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</section>
