<section data-ng-init="getEvent()">

    <div class="panel-h">
        <div class="header">
            <a ui-sref="{{previousState}}" class="label radius info"><i class="fa fa-caret-left"></i> Back</a>
           {{requestWord}} #{{event.id}}
            <button class="label alert right" style="margin:0.3rem 0 0 0.6rem" data-ng-click="cancelEvent()">
                <i class="fa fa-remove"></i> Cancel
            </button>
            <button class="label fb-btn right" style="margin:0.3rem 0 0 0.6rem">
                <i class="fa fa-facebook"></i> Invite
            </button>

        </div>
        <div class="content">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="panel-h" style="margin-top:5px;">
                        <div class="header">
                            {{requestWord}}
                        </div>
                        <div class="content" style="padding: 0">
                            <table style="width: 100%; margin: 0; border:0;">
                                <tr>
                                    <td width="110">Date &amp; Time</td>
                                    <td>{{formatDate(event.dateTime)}}</td>
                                </tr>
                                <tr data-ng-show="event.details">
                                    <td>Details</td>
                                    <td data-ng-bind-html="event.details"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class=" medium-12 columns">
                    <div class="panel-h" data-ng-repeat="service in event.services">

                        <div class="panel-h">
                            <div class="header">
                                Offers
                            </div>
                            <div class="content" style="padding:0">
                                <div class="row" data-ng-show="service.offers.length == 0">
                                    <div class="medium-12 columns center-content space-bottom space-top">
                                        No offer has been received yet
                                    </div>
                                </div>
                                <div class="row" data-ng-show="service.offers.length > 0">
                                    <div class="medium-12 columns">
                                        <table style="width: 100%; margin: 0; border:0;">
                                            <thead>
                                            <tr>
                                                <th class="hide-for-small-down">User</th>
                                                <th width="270">Last Message</th>
                                                <th>Offer</th>
                                                <th>Accept &amp; Confirm</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="offer in service.offers">
                                                <td class="center-content hide-for-small-down">

                                                    <img src="assets/img/defaultpic.png?v=2"
                                                         class="img-small-round img-with-footer hide-for-small-down"
                                                         width="68" style="height:auto; margin: 0 auto">

                                                    <div>
                                                        <span class="label info">{{offer.provider.displayName}}</span>
                                                    </div>

                                                </td>

                                                <td>
                                                    <div class="space-bottom show-for-small-down">
                                                        <span class="label warning">{{offer.provider.displayName}}</span>
                                                    </div>

                                                    <p ng-class="{'muted-color': offer.status === 'IGNORED'}"
                                                       data-ng-bind-html="offer.lastMessage"></p>

                                                    <div class="space-top">
                                                        <small class="muted-color">Made offer at
                                                            {{formatDate(offer.lastUpdated)}}
                                                        </small>
                                                        <br/>
                                                        <a class="label success radius"
                                                           data-ng-click="getOffer()"><i
                                                                class="fa fa-envelope"></i> View Messages</a>
                                                        <!--<a class="label success radius" ui-sref="requests.odetail({id: event.id, offerId: offer.id})">-->
                                                        <!--<i class="fa fa-envelope"></i> View Messages-->
                                                        <!--</a>-->
                                                    </div>
                                                </td>

                                                <td>
                                                    <span data-ng-if="offer.type == 'price'"
                                                          ng-class="{'muted-color': offer.status === 'IGNORED'}">{{offer.value + taxes(offer.value) | wCurrency}}</span>
                                                    <span data-ng-if="offer.type == 'time'"
                                                          ng-class="{'muted-color': offer.status === 'IGNORED'}">{{offer.value | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                                                    <span data-ng-if="offer.type == 'join'"
                                                          ng-class="{'muted-color': offer.status === 'IGNORED'}">{{(offer.value==1)?'Yes':'No'}}</span>
                                                    <span data-ng-if="!offer.value"> - - </span>
                                                    <br/>
                                                    <!--<a ui-sref="requests.odetail({id: event.id, offerId: offer.id, serviceId: service.displayId})"-->
                                                    <!--class=""-->
                                                    <!--data-ng-hide="offer.status === 'IGNORED'">-->
                                                    <!--<span data-ng-if="offer.status === 'ACCEPTED'">Messages</span>-->
                                                    <!--<span data-ng-if="offer.status !== 'ACCEPTED'">View</span>-->
                                                    <!--</a>-->
                                                </td>

                                                <td>
                                                    <a data-ng-click="selectOffer(offer.id)"
                                                       data-ng-if="offer.status == 'WAITING'"
                                                       class="button tiny"
                                                       data-ng-class="{success: selectedOffers[offer.id],warning:!selectedOffers[offer.id] }">
                                                        <i data-ng-class="{'fa fa-check-square-o':selectedOffers[offer.id],'fa fa-square-o':!selectedOffers[offer.id]}"></i>
                                                        Accept
                                                    </a>
                                                    <span data-ng-if="offer.status == 'ACCEPTED'">
                                                        <h5 style="color: #43AC6A; margin: 0 auto; text-transform: capitalize;">
                                                            <i class="fa fa-thumbs-up"></i>
                                                            {{offer.status.toLowerCase()}}</h5>
                                                        <br/>
                                                    </span>
                                                    <a data-ng-if="offer.type == 'price' && offer.status == 'ACCEPTED' && offer.isPaid == false"
                                                       class="button tiny success"
                                                       data-ng-click="payForOffer(offer.order.id)">
                                                        Pay Now
                                                    </a>
                                                    <span data-ng-if="offer.type == 'price' && offer.status == 'ACCEPTED' && offer.isPaid == true">
                                                        <h5 style="color: #43AC6A; margin: 0 auto"><i
                                                                class="fa fa-check-circle"></i> Paid</h5>
                                                        <small>Transaction Id:
                                                            {{offer.order.invoice.transactionDisplayId}}
                                                        </small>
                                                    </span>

                                                    <a data-ng-href="u/{{offer.provider.slug}}"
                                                       data-ng-if="offer.provider.promotions.totalCount > 0">
                                                        <div class="promotion-mini">
                                                            <div class="row">
                                                                <div class="medium-2 columns">
                                                                    <h4><i class="fa fa-star"></i></h4>
                                                                </div>
                                                                <div class="medium-10 columns">
                                                                    <p class="ellipsis">
                                                                        {{offer.provider.promotions.results[0].title}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="row" data-ng-if="showConfirm">
                                            <div class="medium-12 columns">
                                                <div class="floating-bottom"
                                                     style="position:fixed; bottom: 0; z-index: 99 !important;">

                                                    <div class="panel offer-info no-space" style="position: relative">
                                                        <div class="row">
                                                            <div class="medium-8 columns ">
                                                                <h5>Accept selected offers?</h5>
                                                                <ul>
                                                                    <li data-ng-repeat="selectedOffer in selectedOffersDisplay">
                                                                        <b>
                                                                            <span data-ng-if="selectedOffer.type == 'price'">{{selectedOffer.value + taxes(selectedOffer.value) | wCurrency}}</span>
                                                                            <span data-ng-if="selectedOffer.type == 'time'">{{selectedOffer.value | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                                                                            <span data-ng-if="selectedOffer.type == 'join'">{{(selectedOffer.value==1)?'Yes':'No'}}</span>
                                                                        </b> by
                                                                        <i data-ng-bind="selectedOffer.provider.displayName"></i>&nbsp;&nbsp;
                                                                        <i class="fa fa-times "
                                                                           style="color: red; cursor: pointer"
                                                                           data-ng-click="selectOffer(selectedOffer.id)"></i>
                                                                    </li>
                                                                </ul>

                                                                <p class="no-space">
                                                                    <small>
                                                                        By clicking 'Confirm' you agreed to <span
                                                                            data-ng-bind="market.name"></span>'s <a
                                                                            href="">Terms</a> &amp; <a href="">Privacy
                                                                        policy</a>
                                                                    </small>
                                                                </p>

                                                                <p class="no-space">
                                                                    <small>
                                                                        Note: This can't be undone!
                                                                    </small>
                                                                </p>
                                                            </div>
                                                            <div class="medium-4 columns center-content">
                                                                <a class="button small no-space"
                                                                   data-ng-click="doAcceptOffer()">Confirm</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" data-ng-show="service.order">
                            <div class="medium-12 columns">
                                <div class="panel-h">
                                    <div class="header">
                                        Accepted Order
                                    </div>
                                    <div class="content" style="padding: 0">
                                        <table style="width: 100%; margin: 0; border:0;">
                                            <tr>
                                                <td width="110">Order Id</td>
                                                <td>#{{service.order.id}}</td>
                                            </tr>
                                            <tr>
                                                <td>Seller</td>
                                                <td>{{service.order.seller.displayName}}</td>
                                            </tr>
                                            <tr data-ng-if="service.order.services[0].acceptedOffer=='price'">
                                                <td>Amount</td>
                                                <td>{{service.order.invoice.payableAmount | wCurrency}}</td>
                                            </tr>
                                            <tr data-ng-if="service.order.services[0].acceptedOffer=='price'">
                                                <td>Paid?</td>
                                                <td>{{{true:'YES', false:'NO'}[service.order.invoice.paid]}}</td>
                                            </tr>
                                            <tr data-ng-if="service.order.invoice.paid">
                                                <td>Paid using</td>
                                                <td style="text-transform: capitalize">
                                                    {{service.order.invoice.paymentProvider}}
                                                </td>
                                            </tr>
                                            <tr data-ng-if="service.order.invoice.paid">
                                                <td>Transaction Id</td>
                                                <td style="word-break: break-all">
                                                    {{service.order.invoice.transactionDisplayId}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="footer"
                                         data-ng-if="market.settings.addons.payment && (service.order.services[0].acceptedOffer.type=='price' && !service.order.invoice.paid)">
                                        <div class="row">
                                            <div class="medium-12 columns">
                                                <a class="button tiny right"
                                                   ui-sref="orders.pay({id: service.order.id})">Pay
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <more-details data-ng-if="questions"></more-details>
                        <!--<div class="row">-->
                        <!--<div class="medium-12 columns">-->
                        <!--<div class="panel-h">-->
                        <!--<div class="header">-->
                        <!--More Details-->
                        <!--</div>-->
                        <!--<div class="content">-->
                        <!---->
                        <!--<ul class="no-bullet" data-ng-show="service.answers.length > 0">-->
                        <!--<li data-ng-repeat="ans in service.answers" class="space-2-bottom">-->
                        <!--<span><em><span data-ng-bind="ans.question"></span></em></span><br>-->
                        <!--<span><span data-ng-bind-html="ans.answer"></span></span>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="reveal-modal small" data-reveal id="showMessages" style="padding: 0">
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>

        <div ng-include="'modules/dashboard/views/messages/messages.client.view.html'"></div>
    </div>

    <div class="reveal-modal tiny" data-reveal id="cancelEventDialog" style="padding: 0;">
        <div class="panel-h">
            <div class="header" style="background-color: red; color: white ">
                Please confirm
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns medium-centered center-content">
                        <p><strong>You are about to cancel this request!</strong></p>
                        <h5 class="space-bottom space-top"><strong>Are you sure?</strong></h5>

                    </div>
                </div>
                <div class="row">
                    <textarea class="no-space" data-ng-model='reason'
                              placeholder="Enter your reason to cancel this request" required></textarea>
                    <small data-ng-show="error['reason']" class="error">
                        <span data-ng-bind="error['reason']['message']"></span>
                        <span class="nub"></span>
                    </small>
                    <p class="muted-color space-top">
                        <strong>Note:</strong> This will notify about the cancellation to all the interest sellers
                    </p>
                </div>
            </div>
            <div class="footer">
                <a class="button warning small modal-close-btn" data-cancel-button>Cancel</a>
                <a class="button alert small right" data-confirm-button data-ng-disabled="!reason">Confirm</a>
            </div>
        </div>
    </div>

</section>
