<div class="space-top">
    <div class="row">
        <div class="medium-3 columns">
            <div class="sidenav space-bottom">
                <ul class="no-bullet">
                    <li data-ng-repeat="item in requestsSideNav">
                        <a data-ng-if="item.menuItemClass == 'ui-sref' && item.shouldRender(authentication.user)"
                           ui-sref="{{item.link}}"
                           class="side-nav-link"
                           aria-selected="{{item.isSelected}}">
                            {{item.title}}
                        </a>
                        <a data-ng-if="item.menuItemClass == 'href' && item.shouldRender(authentication.user)"
                           data-ng-href="/{{item.link}}"
                           class="side-nav-link"
                           aria-selected="{{item.isSelected}}">
                            {{item.title}}
                        </a>

                    </li>
                </ul>
            </div>
        </div>

        <div class="medium-9 columns">
            <div ui-view></div>
        </div>
    </div>
</div>
