<div class="row">
    <div class="medium-12 medium-centered columns">
        <form name="{{formName}}Form" data-ng-submit="processDetailAnswers($event)" style="margin-bottom: 0">
            <div class="panel-h">

                <div class="header">
                   {{requestType}}
                </div>

                <div class="content">
                    <!--<div class="row" data-ng-if="noQuestions">-->
                    <!--<div class="medium-3 columns hide-for-small-down">-->
                    <!--<label for="details" class="right inline">Request Details</label>-->
                    <!--</div>-->
                    <!--<div class="medium-9 columns">-->
                    <!--<textarea id="details"-->
                    <!--placeholder="Enter details for your request"-->
                    <!--data-ng-model="eventData.details"-->
                    <!--data-ng-class="{error: error['details']}">-->
                    <!--</textarea>-->
                    <!--<small data-ng-show="error['details']" class="error">-->
                    <!--<span data-ng-bind="error['details']['message']"></span>-->
                    <!--<span class="nub"></span>-->
                    <!--</small>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div data-ng-repeat="question in questions">
                        <div class="row space-bottom" style="margin:5px 5px 5px 5px;">
                            <div class="medium-12 columns">
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <p class="no-space" data-ng-bind="question.text"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 columns">

                                        <div data-ng-if="question.type == 'radio'">
                                            <div data-ng-repeat="choice in  question.choices track by $index"
                                                 class="radio-check-list"
                                                 data-ng-class="$first?'first':($last?'last':'')">
                                                <input type="radio" id="radio{{question.id}}{{$index}}"
                                                       name="q{{question.id}}"
                                                       value="{{choice}}" data-ng-model="answers[question.id].answer"
                                                       data-ng-required="$first && question.required">
                                                <label for="radio{{question.id}}{{$index}}"
                                                       data-ng-bind="choice"></label>
                                            </div>
                                            <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                                   class="error">
                                                <span>This is required!</span>
                                                <span class="nub"></span>
                                            </small>
                                        </div>

                                        <div data-ng-if="question.type == 'checkbox'">
                                            <div>
                                                <div data-ng-repeat="choice in question.choices track by $index"
                                                     class="radio-check-list"
                                                     data-ng-class="$first?'first':($last?'last':'')">
                                                    <input type='checkbox' name="q{{question.id}}"
                                                           id="check{{question.id}}{{$index}}"
                                                           data-ng-true-value="'{{choice}}'"
                                                           data-ng-model="answers[question.id].answer[$index]">
                                                    <label for="check{{question.id}}{{$index}}"
                                                           data-ng-bind="choice"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-ng-if="question.type == 'text'">
                                            <input type="{{question.type}}" id="text{{question.id}}"
                                                   name="q{{question.id}}"
                                                   data-ng-model="answers[question.id].answer"
                                                   data-ng-required="question.required">
                                            <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                                   class="error">
                                                <span>This is required!</span>
                                                <span class="nub"></span>
                                            </small>
                                        </div>

                                        <div data-ng-if="question.type == 'number'">
                                            <input type="{{question.type}}" id="number{{question.id}}"
                                                   name="q{{question.id}}" min="0"
                                                   data-ng-model="answers[question.id].answer"
                                                   data-ng-required="question.required">
                                            <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                                   class="error">
                                                <span>This is required!</span>
                                                <span class="nub"></span>
                                            </small>
                                        </div>

                                        <div data-ng-if="question.type == 'datetime'">
                                            <input type="text" id="datetime{{question.id}}"
                                                   name="q{{question.id}}"
                                                   data-ng-model="answers[question.id].answer"
                                                   data-ng-required="question.required"
                                                   data-datetime-bind>
                                            <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                                   class="error">
                                                <span>This is required!</span>
                                                <span class="nub"></span>
                                            </small>
                                        </div>

                                        <div data-ng-if="question.type == 'textarea'">
                                            <textarea id="textarea{{question.id}}"
                                                      name="q{{question.id}}"
                                                      data-ng-model="answers[question.id].answer"
                                                      data-ng-required="question.required">
                                            </textarea>
                                            <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                                   class="error">
                                                <span>This is required!</span>
                                                <span class="nub"></span>
                                            </small>
                                        </div>

                                        <div data-ng-if="question.type == 'file'">
                                            <file-upload file-model="answers[question.id].answer"
                                                         file-complete="fileComplete()"></file-upload>
                                            <small data-ng-show="setErrors && {{formName}}Form.q{{question.id}}.$error.required && !{{formName}}Form.q{{question.id}}.$valid"
                                                   class="error">
                                                <span>This is required!</span>
                                                <span class="nub"></span>
                                            </small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer">
                    <div class="row" style="margin:5px 5px 5px 5px;">
                        <div class="medium-12 columns">
                            <button id="eventForm-btn" type="submit" class="button small right">
                                Save
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


