<section data-ng-init="getOffer()">

    <div class="panel-h">
        <div class="header">
            <a ui-sref="{{previousState}}" class="label radius info"><i class="fa fa-caret-left"></i> Back</a>
            {{service.displayId}} - Need {{service.service}} on {{formatDate(event.dateTime)}}
        </div>
        <div class="content">
            <!--<div class="row"-->
            <!--data-ng-hide="offer.status === 'ACCEPTED' || offer.status === 'IGNORED' || offer.type === 'join'">-->
            <!--<div class="medium-12 columns">-->
            <!--<div class="panel offer-info"-->
            <!--data-ng-show="!isNaN(offer.value) && (offer.status !== 'DECLINED' || offer.status !== 'TENTATIVE')">-->
            <!--<div class="row">-->
            <!--<div data-ng-if="offer.type=='price'" class="medium-8 columns">-->
            <!--<h5>Quote Amount : <strong>{{offer.value + taxes(offer.value) | wCurrency}}</strong>-->

            <!--<p class="muted-color"> (inclusive of all taxes)</p></h5>-->
            <!--<h6 class="muted-color">To be completed on : {{formatDate(event.dateTime)}}</h6>-->
                                <!--<h6 class="muted-color">-->
            <!--Seller has offered you a quote amount. You may accept it to finalize your order.-->
            <!--</h6>-->
            <!--</div>-->
            <!--<div data-ng-if="offer.type=='time'" class="medium-8 columns">-->
            <!--<h5>Quote Time : <strong>{{offer.value | date:"MM/dd/yyyy 'at' h:mma"}}</strong></h5>-->
            <!--&lt;!&ndash;<h6 class="muted-color">&ndash;&gt;-->
            <!--&lt;!&ndash;To be completed on : {{offer.value | date:"MM/dd/yyyy 'at' h:mma"}}</h6>&ndash;&gt;-->
            <!--<h6 class="muted-color">-->
            <!--Accept it to finalize the request.-->
            <!--</h6>-->

                            <!--</div>-->
            <!--&lt;!&ndash;<div data-ng-if="offer.type=='join'" class="medium-8 columns">&ndash;&gt;-->
            <!--&lt;!&ndash;<h5>Acknowledge response : <strong>{{offer.value=='1'?'yes':'no'}}</strong></h5>&ndash;&gt;-->
            <!--&lt;!&ndash;<h6 class="muted-color">&ndash;&gt;-->
            <!--&lt;!&ndash;Accept it to finalize the request.&ndash;&gt;-->
            <!--&lt;!&ndash;</h6>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="medium-4 columns">-->
            <!--<button data-ng-click="acceptOffer()" class="button small no-space"><i-->
            <!--class="fa fa-check"></i> Accept-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="panel offer-declined" data-ng-show="offer.status === 'DECLINED'">-->
            <!--<div class="row">-->
            <!--<div class="medium-10 columns">-->
            <!--<h5>{{offer.provider.displayName}} has declined this request</h5>-->
            <!--<h6 class="muted-color">-->
            <!--This usually means that seller wasn't able to offer his services for your request.-->
            <!--You may send a message to the seller and ask for a reconsideration.-->
            <!--</h6>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="panel offer-tentative" data-ng-show="offer.status === 'TENTATIVE'">-->
            <!--<div class="row">-->
            <!--<div class="medium-10 columns">-->
            <!--<h5>{{offer.provider.displayName}} seeks more information</h5>-->
            <!--<h6 class="muted-color">-->
            <!--This seller is interested in providing a quote,-->
            <!--but seeks more details or is waiting for your confirmation.-->
            <!--Please make sure your requirement is clear and well-->
            <!--understood by the seller for speedy &amp; smooth completion of your request.-->
            <!--</h6>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->

            <div class="row">
                <div class=" medium-12 columns">
                    <div ng-include="'modules/dashboard/views/messages/messages.client.view.html'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="reveal-modal tiny" data-reveal id="acceptOfferDialog" style="padding: 0;">
        <div class="panel-h">
            <div class="header">
                Please confirm
            </div>
            <div class="content">
                <div class="row">
                    <div data-ng-if="offer.type=='price'" class="medium-12 columns medium-centered center-content">
                        <h5 class="space-bottom space-top">Payable Amount : <strong>{{offer.value + taxes(offer.value) |
                            wCurrencyy}}</strong></h5>
                        <p>By clicking 'Confirm' you agreed to Wanteet's <a href="">Terms</a> &amp; <a href="">Privacy policy</a></p>
                        <p class="muted-color no-space">
                            <strong>Note:</strong> This will create an invoice &amp; you'll be redirected to payment screen
                        </p>
                    </div>
                    <div data-ng-if="offer.type=='time'" class="medium-12 columns medium-centered center-content">
                        <h5 class="space-bottom space-top">Time : <strong>{{formatDate(offer.value)}}</strong></h5>
                        <p>By clicking 'Confirm' you agreed to Wanteet's <a href="">Terms</a> &amp; <a href="">Privacy policy</a></p>
                        <p class="muted-color no-space">
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a class="button warning small modal-close-btn" data-cancel-button>Cancel</a>
                <a class="button small right" data-confirm-button>Confirm</a>
            </div>
        </div>
    </div>

</section>
