<section data-ng-init="requestList(0)">
    <!--<div class="row">-->
    <!--<div class="medium-12 columns">-->
    <!--<dl class="sub-nav">-->
    <!--<dd class="active"><a data-ng-click="requestList(0)">Active</a></dd>-->
    <!--<dd><a data-ng-click="requestList(2)">Paid</a></dd>-->
    <!--<dd><a data-ng-click="requestList(1)">History</a></dd>-->
    <!--</dl>-->
    <!--<hr>-->
    <!--</div>-->
    <!--</div>-->
    <div class="panel-h">
        <div class="header">
            <dl class="sub-nav" style="margin-bottom: 0;">
                <dd data-ng-class="{active: listType == 0}"><a data-ng-click="requestList(0)">Active</a></dd>
                <dd data-ng-class="{active: listType == 1}"><a data-ng-click="requestList(1)">History</a></dd>
            </dl>
        </div>
        <div class="content" style="padding: 0">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="row">
                        <div class="medium-12 columns">
                            <form>
                                <input type="text" placeholder="Search using keywords" data-ng-model="keywords" style="border-radius:0px !important;" 
                                       data-ng-change="filterRequests()">
                            </form>
                        </div>
                    </div>
                    <div class="row space-top space-bottom" data-ng-show="requests.length == 0">
                        <div class="medium-6 medium-centered columns">
                            <div class="space-top space-bottom">&nbsp;</div>
                            <h5>No requests available in your area!</h5>

                            <p>To increase your visibility, you may have to do :</p>

                            <ul class="disc">
                                <li><a ui-sref="profile.trust">Verify yourself</a></li>
                                <li><a ui-sref="profile.business">Verify business address</a></li>
                                <li><a ui-sref="listings.add">List more packages</a></li>
                            </ul>

                            <div class="space-bottom">&nbsp;</div>
                        </div>
                    </div>

                    <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="requests.length == 0">
                        <thead>
                        <tr>
                            <th class="hide-for-small" width="100"
                                data-ng-if="market.settings.requests.buyer_display_image">Buyer
                            </th>
                            <th width="55%">
                                <a data-ng-click="addSorter('date')">
                                    <i class="fa fa-calendar"></i> Description <i class="fa"
                                                                                      data-ng-class="{'fa-caret-down': sorters.date === 'desc', 'fa-caret-up': sorters.date === 'asc' }"></i>
                                </a>
                            </th>
                            <th width="15%">Name</th>
                            <th width="15%">Id</th>
                            <th width="15%">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="request in requests">

                            <td class="hide-for-small center-content"
                                data-ng-if="market.settings.requests.buyer_display_image">
                                <img ng-src="{{request.buyer.image.url || 'assets/img/defaultpic.png?v=2'}}"
                                     class="img-small-round img-with-footer" width="34">

                                <div>
                                    <span class="label info" data-ng-bind="request.buyer.displayName"></span>
                                </div>
                            </td>

                            <td data-ng-class="{'muted-color':((request.isFulfilled || request.isExpired) && request.offers.length == 0)}">

                                {{request.details.substr(0, 50)}}
                            </td>
                            <td data-ng-class="{'muted-color':((request.isFulfilled || request.isExpired) && request.offers.length == 0)}">

                                {{request.buyer.displayName}}
                            </td>
                            <td>
                                <a style="color:#f0563a;text-decoration-line: underline;" ui-sref="requests.rdetail({id: request.id, displayId: request.displayId})">
                                    {{request.displayId}}
                                </a>
                                <!--span data-ng-if="(request.isFulfilled || request.isExpired) && request.offers.length == 0"
                                      class="muted-color">{{request.displayId}}</span-->
                            </td>
                            <td>
                                <span data-ng-if="(!request.isExpired && !request.isFulfilled) || ((request.isFulfilled || request.isExpired)&& request.offers.length > 0)">
                                    <span class="label success"
                                          data-ng-if="request.offers[0].status == 'ACCEPTED' && !request.offers[0].isPaid">Accepted</span>
                                    <span class="label info" data-ng-if="request.offers.length == 0">Make an offer</span>
                                    <span class="label warning" data-ng-if="request.offers[0].value == 'WAITING'">Offer Made</span>
                                    <span class="label alert" data-ng-if="request.offers[0].value == 'IGNORED'">Declined</span>
                                    <span class="label alert" data-ng-if="request.offers[0].value == 'DECLINED'">Declined</span>
                                    <span class="label warning" data-ng-if="request.offers[0].value == 'COMPLETED'">Completed</span>
                                    <span class="label info" data-ng-if="request.offers[0].value == 'VERIFIED'">Verified</span>
                                    <span class="label info" data-ng-if="request.offers[0].value == 'CLOSED'">Closed</span>
                                    <span class="label success"
                                          data-ng-if="request.offers[0].status == 'ACCEPTED' && request.offers[0].isPaid"><i
                                            class="fa fa-check"></i> Paid</span>
                                </span>
                                <span data-ng-if="request.isFulfilled && request.offers.length == 0">
                                    <span class="label muted">Fulfilled</span>
                                </span>
                                <span data-ng-if="!request.isFulfilled && request.isExpired && request.offers.length == 0">
                                    <span class="label muted">Expired</span>
                                </span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="row space-top" data-ng-if="requests.length < total">
        <div class="medium-4 columns">
            <button class="button tiny" data-ng-click="requestList(listType)">More</button>
        </div>
    </div>
</section>
