<section data-ng-init="eventList()">

    <div class="panel-h">
        <div class="header">
            <dl class="sub-nav" style="margin-bottom: 0;">
                <dd data-ng-class="{active: listType == 0}"><a data-ng-click="eventList(0)">Active</a></dd>
                <dd data-ng-class="{active: listType == 1}"><a data-ng-click="eventList(1)">History</a></dd>
            </dl>
        </div>
        <div class="content" style="padding: 0">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="row space-top space-bottom" data-ng-show="events.length == 0">
                        <div class="medium-12 center-content">
                            <div class="space-top space-bottom">&nbsp;</div>
                            <h5>You haven't placed any request yet. Place one now!</h5>
                            <a data-ng-href="/{{market.slug}}" class="button small space-top">{{requestType}}</a>

                            <div class="space-bottom">&nbsp;</div>
                        </div>
                    </div>
                    <table role="grid" style="width: 100%;border: 0; margin: 0" data-ng-hide="events.length == 0">
                        <thead>
                        <tr>
                            <th width="55%"><i class="fa fa-calendar"></i> Description</th>
                            <th width="15%">Name</th>
                            <th width="15%">Id</th>
                            <th width="15%">Offers</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="event in events">
                            <td>{{event.details}}</td>
                            <td>{{event.buyer.displayName}}</td>
                            <td>
                                <a style="color:#f0563a;text-decoration-line: underline;" ui-sref="requests.edetail({id: event.id})">{{event.id}}</a>
                            </td>
                            <td>
                                <span class="label info round" style="font-size: 1rem">{{event.services[0].offers.length}}</span>
                                Offers
                                <br data-ng-if="event.services[0].acceptedOffersCount > 0"/>
                                <span data-ng-if="event.services[0].acceptedOffersCount > 0"
                                      class="label warning round small">{{event.services[0].acceptedOffersCount}} Accepted</span>
                                <span data-ng-if="event.services[0].paidOffersCount > 0"
                                      class="label success round small">&nbsp;&nbsp;{{event.services[0].paidOffersCount}} Paid</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row space-top" data-ng-if="(events.length != 0) && (events.length < total)">
        <div class="medium-4 columns">
            <button class="button tiny" data-ng-click="eventList(listType)">More</button>
        </div>
    </div>
</section>
