<section data-ng-init="getQuestions()">
    <form name="offerResponseForm" data-ng-submit="processAnswers()" style="margin-bottom: 0">
        <div class="panel-h">

            <div class="header">
                <a data-ui-sref="requests.rdetail({id: '{{request.id}}', displayId: '{{request.displayId}}'})"
                   class="label radius info"><i class="fa fa-caret-left"></i> Back</a>
                Enter your detailed response below
            </div>

            <div class="content">
                <div data-ng-repeat="question in questions">
                    <div class="row space-bottom">
                        <div class="medium-12 columns">
                            <div class="row">
                                <div class="medium-12 columns">
                                    <span data-ng-bind="question.text"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-12 columns">

                                    <div data-ng-if="question.type == 'radio'">
                                        <div data-ng-repeat="choice in  question.choices track by $index"
                                             class="radio-check-list"
                                             data-ng-class="$first?'first':($last?'last':'')">
                                            <input type="radio" id="radio{{question.id}}{{$index}}"
                                                   name="q{{question.id}}"
                                                   value="{{choice}}" data-ng-model="answers[question.id]"
                                                   data-ng-required="$first && question.required">
                                            <label for="radio{{question.id}}{{$index}}"
                                                   data-ng-bind="choice"></label>
                                        </div>
                                        <small data-ng-show="setErrors && responseForm.q{{question.id}}.$error.required && !responseForm.q{{question.id}}.$valid"
                                               class="error">
                                            <span>This is required!</span>
                                            <span class="nub"></span>
                                        </small>
                                    </div>

                                    <div data-ng-if="question.type == 'checkbox'">
                                        <div>
                                            <div data-ng-repeat="choice in question.choices track by $index"
                                                 class="radio-check-list"
                                                 data-ng-class="$first?'first':($last?'last':'')">
                                                <input type='checkbox' name="q{{question.id}}"
                                                       id="check{{question.id}}{{$index}}"
                                                       data-ng-true-value="'{{choice}}'"
                                                       data-ng-model="answers[question.id][$index]">
                                                <label for="check{{question.id}}{{$index}}"
                                                       data-ng-bind="choice"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div data-ng-if="question.type == 'text'">
                                        <input type="{{question.type}}" id="text{{question.id}}"
                                               name="q{{question.id}}"
                                               data-ng-model="answers[question.id]"
                                               data-ng-required="question.required">
                                        <small data-ng-show="setErrors && responseForm.q{{question.id}}.$error.required && !responseForm.q{{question.id}}.$valid"
                                               class="error">
                                            <span>This is required!</span>
                                            <span class="nub"></span>
                                        </small>
                                    </div>

                                    <div data-ng-if="question.type == 'number'">
                                        <input type="{{question.type}}" id="number{{question.id}}"
                                               name="q{{question.id}}" min="0"
                                               data-ng-model="answers[question.id]"
                                               data-ng-required="question.required">
                                        <small data-ng-show="setErrors && responseForm.q{{question.id}}.$error.required && !responseForm.q{{question.id}}.$valid"
                                               class="error">
                                            <span>This is required!</span>
                                            <span class="nub"></span>
                                        </small>
                                    </div>

                                    <div data-ng-if="question.type == 'datetime'">
                                        <input type="text" id="datetime{{question.id}}"
                                               name="q{{question.id}}"
                                               data-ng-model="answers[question.id]" data-ng-required="question.required"
                                               data-datetime-bind>
                                        <small data-ng-show="setErrors && responseForm.q{{question.id}}.$error.required && !responseForm.q{{question.id}}.$valid"
                                               class="error">
                                            <span>This is required!</span>
                                            <span class="nub"></span>
                                        </small>
                                    </div>

                                    <div data-ng-if="question.type == 'textarea'">
                                        <textarea id="textarea{{question.id}}"
                                                  name="q{{question.id}}"
                                                  data-ng-model="answers[question.id]"
                                                  data-ng-required="question.required">
                                        </textarea>
                                        <small data-ng-show="setErrors && responseForm.q{{question.id}}.$error.required && !responseForm.q{{question.id}}.$valid"
                                               class="error">
                                            <span>This is required!</span>
                                            <span class="nub"></span>
                                        </small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="row">
                    <div class="medium-12 columns">
                        <button id="eventForm-btn" type="submit"
                                class="button small right">
                            Send Response
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="row" style="display: none;">
        <div class=" medium-12 columns" data-ng-if="authentication.profile.isSocialVerified">
            <div ng-include="'modules/dashboard/views/messages/messages.client.view.html'"></div>
        </div>
    </div>
</section>

