<section data-ng-init="getRequest()">
    <div class="panel-h" data-ng-if="!notAllowed">
        <div class="header ellipsis">
            <a ui-sref="{{previousState}}" class="label radius info"><i class="fa fa-caret-left"></i> Back</a>
            {{request.displayId}} - Need {{request.service}} on {{formatDate(request.dateTime)}} 
        </div>
        <div class="content">
          <span class="label warning" data-ng-if="request.offers[0].status == 'DECLINED'">Offer declined</span>
          <span class="label success" data-ng-if="request.offers[0].status == 'COMPLETED'">Offer completed</span>
          <span class="label info" data-ng-if="request.offers[0].status == 'VERIFIED'">Offer verified</span>
          <span class="label success" data-ng-if="request.offers[0].status == 'ACCEPTED'">Offer accepted</span>
          <span class="label info" data-ng-if="request.offers[0].status == 'CLOSED'">Offer closed</span>
          <div class="row">
                <div class="medium-6 columns">
                    <div class="panel-h" style="margin:5px 5px 5px 5px;">
                        <div class="header">
                            Request 
                        </div>
                        <div class="content" style="padding: 0">
                            <table style="width: 100%; margin-top: 0.5rem; border:0;border-radius: 12px;height:100%;">
                                <tr>
                                    <td width="110">Service</td>
                                    <td>{{request.service}}</td>
                                </tr>
                                <tr data-ng-show="request.details">
                                    <td>Description</td>
                                    <td data-ng-bind-html="request.details"></td>
                                </tr>
                                <tr>
                                    <td>Date &amp; Time</td>
                                    <td>{{formatDate(request.dateTime)}}</td>
                                </tr>
                                <tr>
                                    <td>Requested By</td>
                                    <td>{{request.buyer.displayName}}</td>
                                </tr>
                                <tr data-ng-show="request.items">
                                    <td>Items</td>
                                    <td>
                                        <ul class="disc" style="margin-bottom: 0">
                                            <li data-ng-repeat="item in request.items">
                                                {{item.description}} <span data-ng-show="item.quantity > 1">x {{item.quantity}}</span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr data-ng-show="request.answers">
                                    <td colspan="2">
                                        <span data-ng-if="request.exclusiveSellerId && request.answers.length == 1">Listing</span>
                                        <span data-ng-if="!request.exclusiveSellerId ||(request.exclusiveSellerId && request.answers.length > 1)">More Info</span>
                                        <ul class="no-bullet" style="margin-bottom: 0">
                                            <li data-ng-repeat="ans in request.answers" class="space-2-bottom">

                                                <span data-ng-if="ans.question && !ans.isFile"><em><span
                                                        data-ng-bind="ans.question"></span></em><br></span>
                                                <span data-ng-if="!ans.isFile"><span
                                                        data-ng-bind-html="ans.answer"></span></span>

                                                <span data-ng-if="ans.question && ans.isFile && ans.answer.url"><em><span
                                                        data-ng-bind="ans.question"></span></em><br></span>

                                                <a class="uploaded-file" data-ng-href="{{ans.answer.url}}"
                                                   target="_blank" data-ng-if="ans.isFile && ans.answer.url">
                                                    <div class="alert-box success radius no-space"
                                                         style="padding: 0.5rem;">
                                                        <i class="fa fa-file"></i> Attachment
                                                        <p class="ellipsis no-space"
                                                           style="white-space: normal;word-break: break-all;font-size: 0.5rem;"
                                                           data-ng-bind-html="ans.answer.originalFilename">

                                                        </p>

                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <!--div  ng-if="!market.settings.autoRoute" class="medium-6 columns"-->
                <div  class="medium-6 columns">
                    <form name="makeOffer" data-ng-submit="offerService()" class="hide"
                          data-ng-hide="(offer.status === 'IGNORED')"
                          data-ng-if="((!isSellerVerificationReqd || isSocialVerified) && isSubscribed && isUnderSubscriptionLimit) || isOfferExisting">
                        <div class="panel-h"  style="margin:5px 5px 5px 5px;">
                            <div data-ng-if="offer.type=='price'" class="header">
                                Make an Offer
                            </div>

                            <div data-ng-if="offer.type=='time'" class="header">
                                Enter the first available time
                            </div>
                            <div data-ng-if="offer.type=='join'" class="header">
                                    <!--label class="left inline">Status: {{offer.value}}</labeli--> 
                                    <select data-ng-model="offer.status" ng-change="processRequest()">
                                        <option value=""> Choose -</option>
                                        <option  data-ng-if="offer.status=='ACCEPTED'" data-ng-repeat="status in acceptedStatuses" value="{{status}}" ng-selected="status == offer.value">
                                            {{status}}
                                        </option>
                                        <option  data-ng-if="offer.status!='ACCEPTED'" data-ng-repeat="status in statuses" value="{{status}}" ng-selected="status == offer.value">
                                            {{status}}
                                        </option>
                                    </select>
                                    <small data-ng-show="error['name']" class="error">
                                        <span data-ng-bind="error['name']['message']"></span>
                                        <span class="nub"></span>
                                    </small>
                            </div>
                            <div  data-ng-if="offer.type != 'join'" class="content">

                                <span ng-hide="isOfferValid || offer.status === 'DECLINED'">
                                    <div data-ng-if="offer.type=='price'" class="alert-box warning radius" style="margin:5px 5px 5px 5px;">
                                        <i class="fa fa-warning"></i>
                                        Please converse with buyer to make sure your offering is acceptable.
                                        Ensure that the price
                                        covers cost, taxes, gratuity &amp; delivery charges (if applicable)
                                    </div>
                                </span>

                                <span ng-show="isOfferValid && (offer.status !== 'DECLINED')">
                                    <div data-ng-if="offer.type=='price'" class="alert-box info radius">
                                        Your response was <strong>{{request.offers[0].value | wCurrency}}</strong> on
                                        {{formatDate(request.offers[0].lastUpdated)}}
                                    </div>
                                </span>

                                <span ng-show="isOfferValid && offer.status === 'DECLINED'">
                                    <div data-ng-if="offer.type=='price'" class="alert-box alert radius">
                                        You had declined this request on
                                        {{formatDate(request.offers[0].lastUpdated)}}
                                    </div>
                                </span>

                                <div class="row">
                                    <div class="large-12 columns" style="margin:5px 5px 5px 5px;">
                                        <div data-ng-if="offer.type=='price'" class="row collapse">
                                            <div class="small-3 columns">
                                                <span class="prefix">{{market.currency.symbol}}</span>
                                            </div>

                                            <div class="small-9 columns">
                                                <input type="number" id="price" step="0.01" min="0.01"
                                                       placeholder="0.00" required
                                                       data-ng-model="offer.value"
                                                       data-ng-class="{error: error['value']}">
                                                <small data-ng-show="error['value']" class="error">
                                                    <span data-ng-bind="error['value']['message']"></span>
                                                    <span class="nub"></span>
                                                </small>
                                            </div>
                                        </div>
                                        <div data-ng-if="offer.type=='time'" class="row collapse">
                                            <div class="small-12 columns" style="margin:5px 5px 5px 5px;">
                                                <label for="dateAndTime">Date and Time: </label>
                                                <input type="text"
                                                       data-ng-model="dateAndTime" required
                                                       id="dateAndTime" name="dateAndTime"
                                                       placeholder="e.g. 12/31/2019 07:00 PM"
                                                       data-ng-class="{error: error['dateTime']}">
                                                <small data-ng-show="error['value']" class="error">
                                                    <span data-ng-bind="error['value']['message']"></span>
                                                    <span class="nub"></span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div data-ng-if="offer.type=='price'">
                                    <div class="row space-top">
                                        <div class="medium-7 columns">
                                            <p class="inline right no-space">Taxes & Fees</p>
                                        </div>
                                        <div class="medium-5 columns">
                                            <span class="inline" data-ng-bind="taxes(offer.value) | wCurrency"></span>
                                        </div>
                                    </div>
                                    <div class="row space-top">
                                        <div class="medium-7 columns">
                                            <p class="inline right no-space">Payable Amount</p>
                                        </div>
                                        <div class="medium-5 columns">
                                            <span class="inline"
                                                  data-ng-bind="(offer.value + taxes(offer.value)) | wCurrency"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div data-ng-show="offer.type !== 'join'" >
                                <button  data-ng-disabled="isWaiting || !makeOffer.$valid" type="submit"
                                        class="button tiny"
                                        data-ng-class="{right: !isOfferValid}" style="margin:5px 5px 5px 5px !important;">
                                    <div data-ng-if="offer.type=='price'" class="row collapse">
                                        <span style="margin-top:0.5rem;margin-bottom:0.5rem;" data-ng-show="isOfferValid && offer.status !== 'DECLINED'">Modify Offer</span>
                                        <span style="margin-top:0.5rem;margin-bottom:0.5rem;" data-ng-hide="isOfferValid && offer.status !== 'DECLINED'">Make Offer</span>
                                    </div>
                                    <div data-ng-if="offer.type=='time'" class="row collapse">
                                        <span  style="margin-top:0.5rem;margin-bottom:0.5rem;"   data-ng-show="isOfferValid && offer.status !== 'DECLINED'">Modify Time</span>
                                        <span   style="margin-top:0.5rem;margin-bottom:0.5rem;" data-ng-hide="isOfferValid && offer.status !== 'DECLINED'">Specify Time</span>
                                    </div>
                                </button>


                                <!--<button data-ng-if="isOfferValid && offer.type=='join'" type="button"-->
                                <!--ng-click="declineJoinRequest()" class="button warning tiny" id="declineOffer2">-->
                                <!--Decline-->
                                <!--</button>-->

                            </div>
                        </div>
                    </form>

                    <div class="row" data-ng-if="(offer.type =='price') && isSellerVerificationReqd && !isSocialVerified">
                        <div class="medium-12 columns">
                            <div class="panel-h" style="margin:5px 5px 5px 5px;">
                                <div class="header" style="color: #FFFFFF; background: orange">
                                    Verification Required!
                                </div>
                                <div class="content">
                                    <h5>
                                        Wanteet marketplace ensures that every user is a real & trustworthy individual
                                    </h5>

                                    <p>
                                        In order to <strong>Make an offer</strong> you need to verify your account with
                                        atleast 1 Social network.
                                    </p>

                                    <p>
                                        <a class="button tiny radius" data-ui-sref="profile.trust">Click here</a> to
                                        verify yourself.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" data-ng-if="(offer.type =='price') && !isSubscribed">
                        <div class="medium-12 columns">
                            <div class="panel-h" style="margin:5px 5px 5px 5px;">
                                <div class="header" style="color: #FFFFFF; background: orange">
                                    Subscription Required!
                                </div>
                                <div class="content">
                                    <h5>
                                        You need to be subscribed to a plan, in order to make an offer.
                                    </h5>

                                    <p>
                                        <a class="button tiny radius" data-ui-sref="profile.subscriptions">Click
                                            here</a> to
                                        Subscribe now!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" data-ng-if="(offer.type =='price') && !isUnderSubscriptionLimit && !isOfferExisting">
                        <div class="medium-12 columns">
                            <div class="panel-h" style="margin:5px 5px 5px 5px;">
                                <div class="header" style="color: #FFFFFF; background: orange">
                                    Limit reached!
                                </div>
                                <div class="content">
                                    <h5>
                                        You have reached your maximum allowed limit to make offers.
                                    </h5>

                                    <p>
                                        You may choose to upgrade your subscription if you need to make a offer now!
                                    </p>

                                    <p>
                                        <a class="button tiny radius" data-ui-sref="profile.subscriptions">Click
                                            here</a> to
                                        Upgrade now!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" data-ng-if="offer.type=='price' && request.offers[0].order">
                        <div class="medium-12 columns">
                            <div class="panel-h" style="margin:5px 5px 5px 5px;">
                                <div class="header">
                                    Order Details
                                </div>
                                <div class="content" style="padding: 0">
                                    <table style="width: 100%; margin: 0; border:0;">
                                        <tr>
                                            <td width="110">Order Id</td>
                                            <td>#{{request.offers[0].order.id}}</td>
                                        </tr>
                                        <!--<tr>-->
                                        <!--<td width="110">Order Status</td>-->
                                        <!--<td>{{request.offers[0].order.status}}</td>-->
                                        <!--</tr>-->
                                        <tr>
                                            <td>Buyer</td>
                                            <td>{{request.offers[0].order.buyer.displayName}}</td>
                                        </tr>
                                        <tr data-ng-if="offer.type =='price'" >
                                            <td>Amount</td>
                                            <td>{{request.offers[0].order.invoice.payableAmount | wCurrency}}</td>
                                        </tr>
                                        <tr data-ng-if="offer.type =='price'" >
                                            <td>Paid?</td>
                                            <td>{{{true:'YES', false:'NO'}[request.offers[0].order.invoice.paid]}}</td>
                                        </tr>
                                        <tr data-ng-if="request.order.invoice.paid">
                                            <td>Paid using</td>
                                            <td style="text-transform: capitalize">
                                                {{request.offers[0].order.invoice.paymentProvider}}
                                            </td>
                                        </tr>
                                        <tr data-ng-if="request.order.invoice.paid">
                                            <td>Transaction Id</td>
                                            <td style="word-break: break-all">
                                                {{request.offers[0].order.invoice.transactionDisplayId}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="footer">
                                    <div class="row">
                                        <div class="medium-12 text-center columns" style="margin:5px 5px 5px 5px;">
                                            <a class="button small"
                                               data-ui-sref="requests.response({id: '{{request.id}}', displayId: '{{request.displayId}}'})">Respond
                                                Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class=" medium-12 columns" style="margin:5px 5px 5px 5px;" >
                    <div ng-include="'modules/dashboard/views/messages/messages.client.view.html'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-h" data-ng-if="notAllowed">
        <div class="header">
            Error
        </div>
        <div class="content">
            <h4>Not Allowed!</h4>
            <h6>You can't make an offer to your own request</h6>
        </div>
    </div>

    <div class="reveal-modal small" data-reveal id="declineRequest" style="padding: 0;">
        <div class="panel-h" style="margin:5px 5px 5px 5px;">
            <div class="header">
                Are you sure ?
            </div>
            <div class="content">
                <div class="row">
                    <div class="medium-12 columns medium-centered center-content">
                        <h5>Please provide a reason</h5>
                        <textarea data-ng-model="declineReasonText" placeholder="Enter your reason here"></textarea>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a class="button warning small modal-close-btn" data-cancel-button>Cancel</a>
                <a class="button small right" data-confirm-button>Confirm</a>
            </div>
        </div>
    </div>

    <div class="reveal-modal tiny" data-reveal id="offerService" style="padding: 0;">
        <div class="panel-h" style="margin:5px 5px 5px 5px;">
            <div class="header">
                Please review your offer!
            </div>
            <div class="content">
                <div data-ng-if="offer.type=='price'" class="row">
                    <div class="medium-12 columns medium-centered center-content" style="margin:5px 5px 5px 5px;">
                        <div class="alert-box warning radius">
                            <i class="fa fa-warning"></i>
                            Please message the buyer if you need more information.
                            Ensure that the price
                            covers cost, taxes, gratuity &amp; delivery charges (if applicable)
                        </div>
                        <h5 class="space-top">Offered Quote Amount : <strong>{{offer.value + taxes(offer.value)|
                            wCurrency}}</strong></h5>

                        <p class="space-bottom muted-color">(inclusive of taxes)</p>

                        <p>By clicking 'Confirm' you agreed to Wanteet's <a href="">Terms</a> &amp; <a href="">Privacy
                            policy</a></p>

                        <p class="muted-color no-space">
                            <strong>Note:</strong> You may change the offer amount later,
                            but you can not cancel the offer once made!
                        </p>
                    </div>
                </div>
                <div data-ng-if="offer.type=='time'" class="row">
                    <div class="medium-12 columns medium-centered center-content" style="margin:5px 5px 5px 5px;">
                        <div class="alert-box warning radius">
                            <i class="fa fa-warning"></i>
                            Please message the buyer if you need more information.
                        </div>

                        <p>By clicking 'Confirm' you agreed to Wanteet's <a href="">Terms</a> &amp; <a href="">Privacy
                            policy</a></p>

                        <p class="muted-color no-space">
                            <strong>Note:</strong> You may change the time based on conversations with the client
                            but you can not cancel the offer once made!
                        </p>
                    </div>
                </div>
                <div data-ng-if="offer.type=='join'" class="row">
                    <div class="medium-12 columns medium-centered center-content" style="margin:5px 5px 5px 5px;">
                        <div class="alert-box warning radius">
                            <i class="fa fa-warning"></i>
                            Please use the messaging service to communicate with your counterpart.
                        </div>

                        <p>By clicking 'Confirm' you agreed to Wanteet's <a href="">Terms</a> &amp; <a href="">Privacy
                            policy</a></p>

                        <p class="muted-color no-space">
                            <strong>Note:</strong> You may change your reply at any time!
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="margin:5px 5px 5px 5px;">
                <a class="button warning small modal-close-btn" data-cancel-button>Cancel</a>
                <a class="button small right" data-confirm-button>Confirm</a>
            </div>
        </div>
    </div>

</section>
